---
title: Венера - Третья гравюра серии
description: Description index
---
{% extends "layouts/_layout.html" %}


{% block content %}

<main class="page__content">
  <section class="textpage">
    <div class="textpage__wrapper">
      <div class="textpage__article">
        <h1>Венера
          <span>Третья гравюра серии</span>
        </h1>
        <div class="textpage__head-text">
          <p>Латинская надпись на нижнем поле: <br>
            <b><i>Венера числится среди здоровых светил; те, кто рожден под нею, будут любимы и знамениты
                благосклонностью женщин;
                предавшись своей натуре, они будут страдать желудком и зависеть от дурных возлияний</i></b>
          </p>
        </div>

        <p>Венера – самая женская из семи планет, она покровительствует всему, что связано с любовью, и поэтому парит не
          над
          людскими трудами, а над роскошным садом любви. На облучке повозки стоит ее непослушный сын – Амур,
          собирающийся
          выстрелить из лука, несмотря на повязку на глазах (визуализация выражения «Любовь слепа» (Amor caecus)), но
          мать
          все-таки пытается хотя бы немного контролировать его действия с помощью коротенького поводка. Здесь Хемскерк
          почти точно
          повторил аналогичный мотив у Солиса и Пенца, хотя у последнего <span class="tippy" data-tippy-content
            data-src="/img/series/harmen-muller/03/tooltips/1.jpg"><b>Амур</b></span> уже успел сделать один выстрел:
          прочь от
          колесницы
          улетает пронзенное стрелой крылатое сердечко, символизирующее быстротечность счастья в любви. Кроме того,
          Пенц, в
          отличие от Хемскерка, наделил Венеру длинным чубом, словно отсылая к образу переменчивой Фортуны. В повозку
          впряжены
          сакральные птицы богини – голуби, символизирующие любовную гармонию и нежность, и в то же время плодовитость.
          Рядом на
          полосе зодиакального пояса расположились Телец и Весы: время одного связано с весенним цветением, другие
          восходят
          осенью, когда поспевает молодое вино. В руке Венеры – стрела, которую она держит наготове (более радикальное
          решение -
          только на одноименной гравюре из серии Виргиля Солиса (1550-1575), где <span class="tippy" data-tippy-content
            data-src="/img/series/harmen-muller/03/tooltips/2.jpg"><b>конец стрелы</b></span> обернут паклей, чтобы не
          только
          ранить, но и воспламенять).</p>

        <p>Еще одно родство с композицией Солиса - образ древа, как бы поддерживающего облако с Венерой. Внизу –
          типичные для
          данной иконографии мотивы: прогуливающиеся, купающиеся, музицирующие и при этом часто еще и обнимающиеся
          парочки,
          застолье, садово-парковые постройки, позволяющие уединиться. В гравюре из серии Бальдини также можно увидеть
          танцы,
          раздачу венков и цветочных гирлянд и <span class="tippy" data-tippy-content
            data-src="/img/series/harmen-muller/03/tooltips/3.jpg"><b>крытую купальню</b></span>.</p>

        <div class="textpage__nav-links">
          <a href="/about.html"><svg width="148" height="18" viewBox="0 0 148 18" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M0 9L15 17.6603V0.339746L0 9ZM13.5 10.5H147.003V7.5H13.5V10.5Z" fill="#A28C62" />
            </svg> Вернуться назад</a>
          <a href="/series/harmen-muller/04/index.html"><svg width="148" height="18" viewBox="0 0 148 18" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M147.003 9L132.003 0.339746V17.6603L147.003 9ZM0 10.5H133.503V7.5H0L0 10.5Z" fill="#A28C62" />
            </svg> Следующая гравюра <br> (или другой текст)</a>
        </div>
      </div>
  </section>
</main>

{% endblock %}
