$m-font: "Montserrat", Arial, sans-serif;
$s-font: "Viaoda Libre", Georgia, serif;
$m-color: #1f1f1f; //#533634 #1f1f1f #896E69 #666666
$s-color: #e2dac7;
$a-color: #292929;
$bird-color: #ffff00;
$story-color: #ff0000;
$fashion-color: #c9227d;
$research-color: #021485;
$plants-color: #03ad71;

$sm-width: "1600px";
$tablet: "1024px";
$desktop: "min-width: 1200px";
$mobile: "767px";

$transition: all 0.3s ease-in-out;
