---
title: О шпалере
description: Description index
---

{% extends "layouts/_layout.html" %}
{% set pageInner = true %}

{% block content %}

<main class="page__content">

  <section class="textpage">
    <div class="textpage__wrapper">
      <h1 class="textpage__title">Благословение Иакова</h1>
      <article class="textpage__article">
        <p>
          <a data-fancybox data-caption="Описание для попапа. Может быть, а может не быть."
             href="https://via.placeholder.com/1800x1600.png?text=Это+изображение+для+попапа+не+больше+2000+по+высоте">
            <img src="https://via.placeholder.com/620x468.png?text=Это+просто+картинка+превью" alt=""></a>
        </p>
        <p class="textpage__image-text">Шерсть, шелк; шпалерное ткачество. <br>

          Инв. II 2д-22. 345 × 455 см.</p>

        <p>Композиция шпалеры посвящена событиям 27-й главы книги Бытия, повествующей об обманном присвоении Иаковом
          благословения, предназначенного Исаву, его брату-близнецу, считавшемуся старшим. Исаак, ослабев глазами и
          чувствуя приближение смерти, отсылает своего любимца Исава на охоту, чтобы из добытой дичи было приготовлено
          кушанье, необходимое для ритуала благословения:</p>
        <p>2 [Исаак] сказал: вот, я состарился; не знаю дня смерти моей;&nbsp;</p>
        <p>3 возьми теперь орудия твои, колчан твой и лук твой, пойди в поле, и налови мне дичи,&nbsp;</p>
        <p>4 и приготовь мне кушанье, какое я люблю, и принеси мне есть, чтобы благословила тебя душа моя, прежде
          нежели
          я
          умру.</p>
        <p>Узнав об этом, Ревекка решает помешать благословению старшего и обманом поставить на его место младшего —
          своего любимца. Она говорит ему:</p>
        <p>8 Теперь, сын мой, послушайся слов моих в том, что я прикажу тебе:&nbsp;</p>
        <p>9 пойди в&nbsp;стадо&nbsp;и возьми мне оттуда два козленка [молодых] хороших, и я приготовлю из них отцу
          твоему
          кушанье, какое он любит,&nbsp;</p>
        <p>10 а ты принесешь отцу твоему, и он поест, чтобы благословить тебя пред смертью своею.</p>
        <p>Иаков страшится обмана, но Ревекка уверяет его, что ответственность за подмену лежит на ней.</p>
        <p>На первом плане представлен Иаков, приведший матери с пастбища двух ягнят (не козлят, что объясняется и
          негативными новозаветными ассоциациями с изображением козла в связи с отделением овец от козлищ в притче о
          Страшном суде, пересказанной Матфеем (Мф. 25: 31–46)), и взаимозаменяемостью этих двух животных в Ветхом
          Завете,
          например, в приготовлении пасхального кушанья (Исх. 12: 5). Ревекка обкладывает гладкие руки и шею Иакова
          шкурками козлят, чтобы отец, ощупав младшего сына, принял его за косматого Исава. В правой части шпалеры
          Иаков
          преклоняет колени перед лежащим на ложе Исааком, который и благословляет его в присутствии матери Ревекки,
          стоящей рядом с блюдом в руках.</p>
        <p>22 Иаков подошел к Исааку, отцу своему, и он ощупал его и сказал: голос, голос Иакова; а руки, руки
          Исавовы.
        </p>
        <p>23 И не узнал его, потому что руки его были, как руки Исава, брата его, косматые; и благословил его&nbsp;
        </p>
        <p>24 и сказал: ты ли сын мой Исав? Он отвечал: я.</p>
        <p>25&nbsp;Исаак&nbsp;сказал: подай мне, я поем дичи сына моего, чтобы благословила тебя душа
          моя.&nbsp;Иаков&nbsp;подал ему, и он ел; принес ему и вина, и он пил.</p>
        <p>26 Исаак, отец его, сказал ему: подойди [ко мне], поцелуй меня, сын мой.</p>
        <p>27 Он подошел и поцеловал его. И ощутил&nbsp;Исаак&nbsp;запах от одежды его и благословил его и сказал:
          вот,
          запах от сына моего, как запах от поля [полного], которое благословил Господь;&nbsp;</p>
        <p>28 да даст тебе Бог от росы небесной и от тука земли, и множество хлеба и вина;&nbsp;</p>
        <p>29 да послужат тебе народы, и да поклонятся тебе племена; будь господином над братьями твоими, и да
          поклонятся
          тебе сыны матери твоей; проклинающие тебя — прокляты; благословляющие тебя — благословенны!</p>
        <p>На дальнем плане изображен гонящий оленя Исав, спешащий затравить дичь для ритуального кушанья по
          приказанию
          отца:</p>
        <p>5 И пошел Исав в поле достать и принести дичи.</p>

      </article>
    </div>
  </section>

</main>



{% endblock %}
