---
title: О шпалере
description: Description index
---

{% extends "layouts/_layout.html" %}
{% set pageInner = true %}

{% block content %}

<main class="page__content">
  <section class="section  section--hero">
    <div class="section__wrapper">
      <div class="section__text">
        <h1 class="section__main-title">Сад любви</h1>
        <h2 class="section__main-subtitle">(«Дети Венеры»)</h2>

        <div class="section__image-wrapper">
          <a href="deepzoom.html">
            <img src="images/main-slider-1/thumb-6.png" alt="Фрагмент шпалеры Дети Венеры" loading="lazy">
          </a>
          <p class="section__image-text">Каталожный номер</p>
          <div class="section__image-learn-more">
            <a href="#">нажмите, чтобы узнать больше</a>
          </div>
          <h2>ИЗ СЕРИИ «ДЕТИ ПЛАНЕТ»</h2>
          <p><small>Южные Нидерланды, Брюгге (?). Конец XVI – начало XVII веков</small></p>
        </div>
        <blockquote>
          Изложение смысла естественной истории через изображение первоэлементов, времен года и планеты был одним из
          главных источников назидательных тем и сюжетов для писателей и художников
        </blockquote>
        <!-- <div class="catalog-data">
            <p>Из серии «Дети планет».</p>
            <p>Южные Нидерланды, Брюгге (?). Конец XVI – начало XVII веков.</p>
            <p>Шерсть, шелк; шпалерное ткачество.</p>
            <p>Инв. II 2д-22. 345 × 455 см.</p>
            <p>Фрагмент шпалеры «Сад любви»</p>
          </div> -->
        <p>Астрологическое значение планет и их влияние на Землю, природные явления, политические события и, прежде
          всего, на характер, судьбу и род деятельности человека, были излюбленной темой в Позднем Средневековье и
          эпоху Возрождения. В шпалере «Дети Венеры» композиция строится вокруг изображения летящей колесницы Венеры.
          Всеобщий праздник любви и веселое пиршество детей Венеры изображены в центральной части шпалеры.</p>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="section__wrapper">
      <section class="swiper  section__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide  swiper-slide--custom">
            <a href="textpage.html">
              <img src="images/tapestries/06/series/06-series-1-thumb.png" loading="lazy"
                alt="Изображение шпалеры «название шпалеры»">
            </a>
            <!-- <p>Шпалера «название шпалеры»</p>
              <p>Франция</p> -->
          </div>
          <div class="swiper-slide  swiper-slide--custom">
            <a href="textpage.html">
              <img src="images/tapestries/06/series/06-series-2-thumb.png" loading="lazy"
                alt="Изображение шпалеры «название шпалеры»">
            </a>
            <!-- <p>Шпалера «название шпалеры»</p>
              <p>Швейцария</p> -->
          </div>
          <div class="swiper-slide  swiper-slide--custom">
            <a href="textpage.html">
              <img src="images/tapestries/06/series/06-series-3-thumb.png" loading="lazy"
                alt="Изображение шпалеры «название шпалеры»">
            </a>
            <!-- <p>Шпалера «название шпалеры»</p>
              <p>Германия</p> -->
          </div>
        </div>
        <button class="section__slider-button-prev">
          <svg width="148" height="18" viewBox="0 0 148 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 9L15 17.6603V0.339746L0 9ZM13.5 10.5H147.003V7.5H13.5V10.5Z" fill="#A28C62" />
          </svg>
        </button>
        <button class="section__slider-button-next">
          <svg width="148" height="18" viewBox="0 0 148 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M147.003 9L132.003 0.339746V17.6603L147.003 9ZM0 10.5H133.503V7.5H0L0 10.5Z" fill="#A28C62" />
          </svg>
        </button>
      </section>
      <div class="section__text">
        <p>Серия шпалер «Триумф семи добродетелей», прославляющая теологические и кардинальные добродетели, была
          создана в одной из мастерских Брюсселя в 1520-е годы. Ее созданию предшествовало написание
          морально-дидактической программы, ставшей иконологическим руководством для художников, создававших эскизы и
          картоны для шпалерной серии. Литературная программа серии, вероятно, созданная одним из
          литераторов-гуманистов при дворе Маргариты Австрийской, была призвана показать сложное представление об
          устройстве мира, религиозных и моральных ценностях.</p>

        <p>Аллегорические сюжеты средневековой дидактической литературы часто использовались в шпалерах XV–XVI веков,
          преимущественно в сериях. Благодаря обстоятельному исследованию известного знатока средневековых и
          ренессансных шпалер Женевьевы Сушаль серия шпалер «Триумф семи добродетелей» была реконструирована. И хотя
          отсутствие документальных источников не позволило определить авторство литературной программы и имя
          художника, принимавшего участие в изготовлении эскизов, в работе известного специалиста по нидерландским
          шпалерам Ги Делмарселя был реконструирован исторический контекст создания серии шпалер «Триумф семи
          добродетелей».</p>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="section__wrapper">
      <div class="section__research">
        <div class="swiper-fade-slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="images/research-thumb.jpg" width="460" height="1080"
                alt="Слайд для раздела Исследование и реставрация" loading="lazy">
            </div>
            <div class="swiper-slide">
              <img src="images/research-thumb-2.jpg" width="460" height="1080"
                alt="Слайд для раздела Исследование и реставрация" loading="lazy">
            </div>
            <div class="swiper-slide">
              <img src="images/research-thumb-3.jpg" width="460" height="1080"
                alt="Слайд для раздела Исследование и реставрация" loading="lazy">
            </div>
            <div class="swiper-slide">
              <img src="images/research-thumb-4.jpg" width="460" height="1080"
                alt="Слайд для раздела Исследование и реставрация" loading="lazy">
            </div>
          </div>
        </div>

        <div class="section__text  section__text--light">
          <h2>Исследование и реставрация</h2>
          <p>Технико-технологические исследования являются обязательным этапом работ перед началом реставрации. В ходе
            проведения микроскопических исследований, изучаются параметры отобранных образцов нитей, природа и степень
            их сохранности. С помощью высокоэффективной жидкостной хроматографии и метода молекулярной спектроскопии
            определяется природа красителей, использовавшихся при крашении волокон и нитей шпалер. Результаты
            исследований учитываются при составлении программы реставрации.</p>
          <div class="section__images-container">
            <a class="section__image-deepzoom-link  section__card-video" href="research.html">
              <img src="images/research-thumb-5.jpg" alt="Изображение исследовании" width="500" height="250"
                loading="lazy">
              <video muted autoplay loop>
                <source src="video/research-video-thumb.mp4">
              </video>
              <div class="section__image-deepzoom-description">
                Узнать подробнее об исследовании
              </div>
            </a>
            <a class="section__image-deepzoom-link  section__card-video" href="conservation.html">
              <img src="images/conservation-thumb-1.jpg" alt="Изображение реставрации" width="500" height="250"
                loading="lazy">
              <video muted autoplay loop>
                <source src="video/conservation-video-thumb.mp4">
              </video>
              <div class="section__image-deepzoom-description">
                Узнать подробнее о реставрации
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <section class="tab-section">
      <div class="tab-section__wrapper">
        <ul class="tab-section__control-list" aria-controls="tab-example" role="tablist">
          <li class="tab-section__control-item">
            <button class="tab-section__control-btn" role="tab" aria-controls="tab-1" aria-selected="true"
              type="button">
              <img src="images/plants-and-birds-tab.jpg" alt="">
              Растения <br>
              и птицы
            </button>
          </li>
          <li class="tab-section__control-item">
            <button class="tab-section__control-btn" role="tab" aria-controls="tab-2" aria-selected="false"
              type="button">
              <img src="images/costume-tab.jpg" alt="">
              История <br>
              костюма
            </button>
          </li>
          <li class="tab-section__control-item">
            <button class="tab-section__control-btn" role="tab" aria-controls="tab-3" aria-selected="false"
              type="button">
              <img src="images/theme-tab.jpg" alt="">
              Тема «Детей Венеры» в разных видах искусств
            </button>
          </li>
        </ul>
        <ul class="tab-section__content-list">
          <li class="tab-section__content-item" data-id="tab-1" role="tabpanel" aria-expanded="true">
            <p>Традиция изображать растения и животных, наделяя их символическим значением, появилась в Античности. В
              эпоху Позднего Средневековья и Ренессанса изображения растений и птиц воспроизводились на шпалерах с
              удивительно точностью. И если изначально они служили только для украшения, то позднее в XVI–XVII веках,
              стали кладезью символов и знаков, особенно в религиозных сюжетах. На протяжении многих веков разгадывание
              смысловой многозначности, аллегории и символизма было интеллектуальной забавой любителей искусства.</p>

            <a href="plants.html" class="btn">Подробнее</a>
          </li>
          <li class="tab-section__content-item" data-id="tab-2" role="tabpanel" aria-expanded="false">
            <p>Как в живописных произведениях, так и в искусстве шпалерного ткачества, одежды изображенных на шпалерах
              персонажей соответствовали моде того времени, когда создавалось художественное произведение. И хотя многие
              детали костюма не освобождены от условной художественности, изучение деталей, образов и символов в одежде,
              изображенных на шпалерах XVI в. является увлекательным занятием.</p>

            <a href="fashion.html" class="btn">Подробнее</a>
          </li>
          <li class="tab-section__content-item" data-id="tab-3" role="tabpanel" aria-expanded="false">
            <p>
              Lorem Ipsum "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
              velit..."
              "There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is
              pain..."
              Lorem ipsum dolor sit amet, consectetur
              adipiscing elit. Aenean ac pulvinar risus. Mauris finibus magna non diam laoreet, eget tempor ligula
              placerat.
              Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec interdum,
              lacus
              id
              ultrices vehicula,
              libero enim viverra urna, a pellentesque libero enim a sem. Cras sodales congue luctus. Nam quis porttitor
              diam,
              quis pretium odio. Curabitur tristique leo ac nibh vulputate mattis. Donec bibendum risus molestie,
              posuere
              dui
              at, feugiat dui. Sed
              vitae efficitur neque.
            </p>

            <a href="#" class="btn">Подробнее</a>
          </li>
        </ul>
      </div>
    </section>
  </section>



</main>



{% endblock %}
