---
title: Реставрация
description: Description index
---
{% extends "layouts/_layout.html" %}


{% block content %}
<!-- <div class="pagination">
  <ul class="pagination__list">
    <li class="pagination__item"><a href="index.html">На главную</a></li>
    <li class="pagination__item"><a href="about.html">Триумф Надежды</a></li></a></li>
    <li class="pagination__item"><a>{% if title %}{{ title }}{% else %}Название страницы{% endif %}</a></li>
  </ul>
</div> -->

<main class="page__content">

  <section class="textpage  tab-section  conservation-page">
    <div class="textpage__wrapper  tab-section__wrapper">
      <h1 class="textpage__title">Состояние сохранности до и после реставрации</h1>

      <ul class="tab-section__control-list" aria-controls="tab-example" role="tablist">
        <li class="tab-section__control-item">
          <button class="tab-section__control-btn" role="tab" aria-controls="tab-1" aria-selected="true"
                  type="button">Лакуны</button>
        </li>
        <li class="tab-section__control-item">
          <button class="tab-section__control-btn" role="tab" aria-controls="tab-2" aria-selected="false"
                  type="button">Штопки и зашивки</button>
        </li>
        <li class="tab-section__control-item">
          <button class="tab-section__control-btn" role="tab" aria-controls="tab-3" aria-selected="false"
                  type="button">Заплаты и вставки</button>
        </li>
        <li class="tab-section__control-item">
          <button class="tab-section__control-btn" role="tab" aria-controls="tab-4" aria-selected="false"
                  type="button">Потертости</button>
        </li>
        <li class="tab-section__control-item">
          <button class="tab-section__control-btn" role="tab" aria-controls="tab-5" aria-selected="false"
                  type="button">Утраты уточных нитей</button>
        </li>
      </ul>

      <ul class="tab-section__content-list">

        <li class="tab-section__content-item" data-id="tab-1" role="tabpanel" aria-expanded="true">
          <ul class="textpage__gallery-list">

            {% for i in range(0, 3) -%}
            <li class="textpage__gallery-item">
              <a class="popup-inline" href="#1-{{i+1}}">
                <img src="img/state/1/1-{{i+1}}.png" alt="">
              </a>
              <p>Будет открываться окно с до\после</p>
            </li>
            {% endfor %}

          </ul>
        </li>
        <li class="tab-section__content-item" data-id="tab-2" role="tabpanel" aria-expanded="false">
          <ul class="textpage__gallery-list">

            {% for i in range(0, 4) -%}
            <li class="textpage__gallery-item">
              <a class="popup-inline" href="#2-{{i+1}}">
                <img src="img/state/2/2-{{i+1}}.png" alt="">
              </a>
              <p>Будет открываться окно с до\после</p>
            </li>
            {% endfor %}

          </ul>
        </li>
        <li class="tab-section__content-item" data-id="tab-3" role="tabpanel" aria-expanded="false">
          <ul class="textpage__gallery-list">

            {% for i in range(0, 4) -%}
            <li class="textpage__gallery-item">
              <a class="popup-inline" href="#3-{{i+1}}">
                <img src="img/state/3/3-{{i+1}}.png" alt="">
              </a>
              <p>Будет открываться окно с до\после</p>
            </li>
            {% endfor %}

          </ul>
        </li>
        <li class="tab-section__content-item" data-id="tab-4" role="tabpanel" aria-expanded="false">
          <ul class="textpage__gallery-list">

            {% for i in range(0, 4) -%}
            <li class="textpage__gallery-item">
              <a class="popup-inline" href="#4-{{i+1}}">
                <img src="img/state/4/4-{{i+1}}.png" alt="">
              </a>
              <p>Будет открываться окно с до\после</p>
            </li>
            {% endfor %}

          </ul>
        </li>
        <li class="tab-section__content-item" data-id="tab-5" role="tabpanel" aria-expanded="false">
          <ul class="textpage__gallery-list">

            {% for i in range(0, 4) -%}
            <li class="textpage__gallery-item">
              <a class="popup-inline" href="#5-{{i+1}}">
                <img src="img/state/5/5-{{i+1}}.png" alt="">
              </a>
              <p>Будет открываться окно с до\после</p>
            </li>
            {% endfor %}

          </ul>
        </li>
      </ul>

      <h2 class="textpage__title">Реставрация</h2>


      <a class="textpage__iframe-popup" href="https://youtu.be/UYgFI6_VXT4">
        <img src="https://i.ytimg.com/vi/UYgFI6_VXT4/maxresdefault.jpg" alt="">
      </a>


    </div>
  </section>

  <!-- 1 -->
  {% for i in range(0, 3) -%}
  <div class="before-after twentytwenty-container mfp-hide" id="1-{{i+1}}">
    <img src="img/state/1/1-{{i+1}}/before.jpg" alt="">
    <img src="img/state/1/1-{{i+1}}/after.jpg" alt="">
  </div>
  {% endfor %}

  <!-- 2 -->
  {% for i in range(0, 4) -%}
  <div class="before-after twentytwenty-container mfp-hide" id="2-{{i+1}}">
    <img src="img/state/2/2-{{i+1}}/before.jpg" alt="">
    <img src="img/state/2/2-{{i+1}}/after.jpg" alt="">
  </div>
  {% endfor %}

  <!-- 3 -->
  {% for i in range(0, 4) -%}
  <div class="before-after twentytwenty-container mfp-hide" id="3-{{i+1}}">
    <img src="img/state/3/3-{{i+1}}/before.jpg" alt="">
    <img src="img/state/3/3-{{i+1}}/after.jpg" alt="">
  </div>
  {% endfor %}

  <!-- 4 -->
  {% for i in range(0, 4) -%}
  <div class="before-after twentytwenty-container mfp-hide" id="4-{{i+1}}">
    <img src="img/state/4/4-{{i+1}}/before.jpg" alt="">
    <img src="img/state/4/4-{{i+1}}/after.jpg" alt="">
  </div>
  {% endfor %}

  <!-- 5 -->
  {% for i in range(0, 4) -%}
  <div class="before-after twentytwenty-container mfp-hide" id="5-{{i+1}}">
    <img src="img/state/5/5-{{i+1}}/before.jpg" alt="">
    <img src="img/state/5/5-{{i+1}}/after.jpg" alt="">
  </div>
  {% endfor %}

</main>



{% endblock %}
