---
title: Над проектом работали
description: Description index
---
{% set pageInner = true %}
{% extends "layouts/_layout.html" %}


{% block content %}

<main class="page__content">

  <section class="textpage">
    <div class="textpage__wrapper">
      <article class="textpage__article">

        <h2>Участники проекта:</h2>

        <ol>
          <li>Федеральное государственное бюджетное учреждение культуры «Государственный
            музей-заповедник “Архангельское”»</li>
          <li>Государственное бюджетное учреждение культуры города Москвы «Музей-усадьба “Кусково”»</li>
          <li>Федеральное государственное бюджетное учреждение культуры «Государственный Эрмитаж»</li>
          <li>Федеральное государственное бюджетное учреждение культуры «Государственный музей изобразительных искусств
            имени А.С. Пушкина»</li>
          <li>Государственное бюджетное учреждение культуры города Москвы «Государственный биологический музей им. К. А.
            Тимирязева»</li>
          <li>Федеральное государственное бюджетное учреждение культуры «Государственный исторический музей»</li>
          <li>Московский государственный объединенный музей-заповедник</li>
          <li>Федеральное государственное бюджетное учреждение культуры «Государственный музей-заповедник “Петергоф”»
          </li>
          <li>Федеральное государственное бюджетное учреждение культуры «Государственный музей-заповедник “Павловск”»
          </li>
          <li>Государственное бюджетное учреждение культуры города Москвы «Московская государственная картинная галерея
            народного художника СССР Ильи Глазунова»</li>
          <li>Федеральное государственное бюджетное учреждение культуры «Государственный историко-культурный
            музей-заповедник “Московский Кремль”»</li>
          <li>Государственное бюджетное учреждение культуры города Москвы «Государственный историко-архитектурный,
            художественный и ландшафтный музей-заповедник “Царицыно”»</li>
          <li>Посольство республики Италия в Российской Федерации</li>
          <li>Посольство Французской республики в Российской Федерации</li>
          <li>Санкт-Петербургское государственное бюджетное учреждение культуры
            «Государственный историко-художественный дворцово-парковый музей-заповедник “Гатчина”»</li>
          <li>Федеральное государственное бюджетное образовательное учреждение высшего образования «Санкт-Петербургская
            государственная художественно-промышленная академия имени А.Л. Штиглица»</li>
          <li>Федеральное государственное бюджетное учреждение культуры «Государственный
            научно-исследовательский музей архитектуры имени А.В. Щусева»</li>
          <li>Федеральное государственное бюджетное образовательное учреждение высшего
            образования «Российский государственный университет им. А.Н. Косыгина» (Технологии.
            Дизайн. Искусство)</li>
          <li>Издательский Дом «Красивые дома пресс»</li>
          <li>ООО «Издательский дом Руденцовых»</li>
          <li>Школа-студия МХАТ</li>
          <li>IN ARTIBUS foundation</li>
        </ol>

        <h2>Над проектом работали:</h2>

        <ol>
          <li><a href="http://museumconservation.ru/data/people/babich_darya_mihaylovna/index.php?lang=ru"
               target="_blank" rel="noopener noreferrer">Дарья Бабич</a> &mdash; перевод и редактура английских текстов,
            диктор озвучки</li>
          <li>Алексей Воякин &mdash; верстка, программирование</li>
          <li>Владимир Горбунов &mdash;— фотосъемка</li>
          <li>Михаил Иванов &mdash; художник-конструктор</li>
          <li><a href="http://museumconservation.ru/data/people/kudryavitsky/index.php?lang=ru" target="_blank"
               rel="noopener noreferrer">Андрей Кудрявицкий</a> &mdash; фотосъемка</li>
          <li>Александр Лесухин &mdash; верстка, программирование</li>
          <li>Полина Любимова &mdash; редактура русских текстов</li>
          <li>Ирина Щеглова &mdash; редактура русских текстов</li>
          <li>Федор Ратников &mdash; оператор, режиссер</li>
          <li>Владимир Скляров &mdash; фотосъемка</li>
          <li>Игорь Ткачев &mdash; обработка изображений</li>
          <li>Михаил Угольников &mdash; макет</li>
          <li>Ричард Уиллсон &mdash; диктор озвучки</li>
          <li>Анастасия Черток &mdash; Ведущий научный сотрудник Отдела музыкальной культуры ГМИИ им. А.С. Пушкина
          </li>
        </ol>

        <h2>Реставраторы и исследователи:</h2>

        <ol>
          <li><a href="http://www.museumconservation.ru/data/people/tutimova/index.php" target="_blank"
               rel="noopener noreferrer">Светлана Войцехович</a> &mdash; художник-реставратор 3 категории</li>
          <li>Наталья Газизова &mdash; художник-реставратор</li>
          <li>Анна Мамонова &mdash;художник-реставратор высшей категории</li>
          <li>Анна Маркитанова &mdash; художник-реставратор</li>
          <li><a href="http://museumconservation.ru/data/people/popova/index.php?lang=ru" target="_blank"
               rel="noopener noreferrer">Олеся Попова</a> &mdash; художник-реставратор высшей категории</li>
          <li>Светлана Скрипник &mdash; художник-реставратор</li>
          <li>Елена Синицына &mdash; художник-реставратор 1 категории</li>
          <li>Ксения Чайковская &mdash; художник-реставратор 2 категории</li>
        </ol>

        <h2>Авторы текстов:</h2>

        <ol>
          <li>Джон Туше &mdash; руководитель проекта, Региональный дом Шомон-сюр-Луар</li>
          <li>Катя Шмитц–фон Ледебур &mdash; хранитель тканей и шпалер. Венский музей истории
            искусств</li>
          <li><a href="http://museumconservation.ru/data/people/borodin/index.php?lang=ru" target="_blank"
               rel="noopener noreferrer">Игорь Бородин</a> &mdash;
            художник-реставратор высшей
            категории</li>
          <li>Татьяна Игнатьева &mdash; кандидат исторических наук, старший научный сотрудник РГУ им.
            А.Н.Косыгина</li>
          <li>Ольга Докучаева &mdash; кандидат искусствоведения, заместитель генерального директора по
            научной работе ГМЗ «Царицыно»</li>
          <li>Юлия Ревзина &mdash; кандидат искусствоведения, профессор, член-корреспондент РАХ</li>
          <li>Марина Куликова &mdash; кандидат биологических наук, ученый секретарь Государственного
            биологического музея им. К.А. Тимирязева</li>
          <li>Ольга Калашникова &mdash; старший научный сотрудник Государственного биологического
            музея им. К.А. Тимирязева</li>
          <li>Анна Корндорф &mdash; доктор искусствоведения, старший научный сотрудник Государственного института
            искусствознания.</li>
          <li>Елена Пильник &mdash; старший научный сотрудник, Отдела искусства Старых Мастеров ГМИИ им. А.С. Пушкина
          </li>
          <li>Ольга Поликарпова &mdash; художник по костюмам, доцент Школы-Студии МХАТ</li>
          <li>Анна Пожидаева &mdash; кандидат искусствоведения,
            доцент Школы исторических наук НИУ ВШЭ</li>
          <li>Мария Савельева &mdash; кандидат искусствоведения</li>
          <li>Людмила Сайгина &mdash; главный научный сотрудник Музея архитектуры им. А.В. Щусева</li>
          <li>Татьяна Лехович &mdash; кандидат искусствоведения, старший научный сотрудник Отдела Западноевропейского
            прикладного искусства, Государственного Эрмитажа</li>
        </ol>

        <h2>Особая благодарность</h2>
        <ul>
          <li>Ольга Дергунова</li>
          <li>Дарья Клименко</li>
        </ul>

      </article>
    </div>
  </section>

</main>



{% endblock %}
