---
title: Глоссарий
description: Description index
---
{% set pageInner = true %}
{% extends "layouts/_layout.html" %}


{% block content %}


<div class="pagination">
  <ul class="pagination__list">
    <li class="pagination__item"><a href="index.html">На главную</a></li>
    <li class="pagination__item"><a>{{ title }}</a></li>
  </ul>
</div>

<main class="page__content">

  <section class="textpage">
    <div class="textpage__wrapper">
      <h1 class="textpage__title">{{ title }}</h1>
      <article class="textpage__article">
        <p><b>Аграф (фр. - agrafe)</b> — застежка на предметах костюма и доспехах из металла. Помимо утилитарной
          функции служила украшением костюма. Аграфы нередко были произведением ювелирного искусства, выполнялись из
          золота, серебра, драгоценных камней.</p>
        <p><b>Альба (лат. - alba)</b> — белая одежда, род туники с рукавами — часть одеяния католического епископа.
          участие в изготовлении эскизов, в работе известного специалиста по нидерландским шпалерам Ги Делмарселя был
          реконструирован исторический контекст создания серии шпалер «Триумф семи добродетелей».</p>
        <p><b>Бальцо (итал. - balzo)</b> — головной убор замужней женщины в эпоху Ренессанса.</p>
        <p><b>Брагет (фр. - bragette)</b> — откидной клапан спереди. Пришнуровывался к шоссам при помощи тесемок.</p>
        <p><b>Далматика (лат. - dalmatica)</b> — верхняя одежда с рукавами длиной до колен или ниже. По всей видимости
          была
          заимствована из Далмации в эпоху познеримской империи. В Византийской империи — одежда императора и иерархов
          церкви из драгоценных тканей. В Западной Европе известна с VIII века.</p>
        <p><b>Жиппон (фр. - jippon)</b> — облегающая курточка с узкими рукавами или без рукавов, к которой
          пришнуровываются
          шоссы.</p>
        <p><b>Кап (фр. - сape)</b> — плащ, выкроенный в форме полукруга.</p>
        <p><b>Кираса (фр. - cuirasse)</b> — часть военного костюма в разные эпохи, защита торса из кожи или металла.
        </p>
        <p><b>Колпос (греч. - kуlpos)</b> — напуск лишней ткани на талии, образуемый при опоясывании одежды в костюме
          Древней
          Греции.</p>
        <p><b>Котт (фр. - cotte)</b> — мужская и женская верхняя рубашка в эпоху Средневековья, у знати — парадная
          богато
          украшенная рубашка.</p>
        <p><b>Мантия (фр. - manteau)</b> — длинный плащ со шлейфом, часть торжественного облачения королей и королев.
        </p>
        <p><b>Митра прециоза (лат. - mitra pretiosa)</b> — головной убор, часть литургического богослужебного
          облачения
          высших
          католических священников, одевалась по большим праздникам, богато украшалась золотной вышивкой и
          драгоценными
          камнями. Сзади к митре прикреплялись две ленты, которые символизировали Ветхий и Новый завет. </p>
        <p><b>Наручи (фр. - brassard)</b> — часть военного костюма в разные эпохи, защита рук из кожи или металла.</p>
        <p><b>Омоньер ( фр. - аumônière)</b> — кошелек для подаяния, сумочка, подвешиваемая к поясу в эпоху
          Средневековья и
          Ренессанса.</p>
        <p><b>Поножи (фр. - jambière)</b> — часть военного костюма в разные эпохи, защита ног из кожи или металла.</p>
        <p><b>Пурпуэн (фр. - pourpoint)</b> — мужская облегающая одежда с рукавами.</p>
        <p><b>Роб (фр. - robe)</b> — мужская и женская одежда в западно-европейском костюме с XIII века, верхнее
          платье. С
          XVI
          века — женское платье.</p>
        <p><b>Сандалии (греч. - σανδάλιον, мн. ч. - σανδάλια, лат. - solea)</b> — открытая обувь, состоящая из подошв
          и веревок или ремешков из кожи, при помощи которых крепится к ногам.</p>
        <p><b>Сантюр (фр. - сeinture)</b> — пояс, ремень. Изготавливался из различных материалов, в зависимости от
          достатка и социального положения обладателя.</p>
        <p><b>Трансадо (исп. - transado)</b> — девичий головной убор в виде сетки, прикрывающий затылок в эпоху
          Ренессанса.
        </p>
        <p><b>Туника (лат. - tunica)</b> — мужская и женская одежда в Древнем Риме, Византийской империи, Западной
          Европе в эпоху Раннего Средневековья.</p>
        <p><b>Упелянд, упеланд (фр. - houppelande)</b> — мужская и женская верхняя одежда знати в эпоху Позднего
          Средневековья, отличалась объемностью и представительностью за счет дорогих тканей, отделок, количества
          драпировок.</p>
        <p><b>Френч худ (англ. — french hood)</b> — буквально Французский капюшон — сложный многослойный головной убор
          замужней женщины в эпоху Ренессанса, отличительной особенностью которого был капюшон, служивший мешком для
          длинных волос.</p>
        <p><b>Шаперон (фр. - chaperon)</b> — мужской и женский головной убор в эпоху Средневековья и Ренессанса.</p>
        <p><b>Шмиз (фр. - сhemise)</b> — рубашка, нательная одежда в эпоху Средневековья по сей день.</p>
        <p><b>Шоссы (фр. - chausses)</b> — мужские и женские чулки в эпоху Средневековья. В мужском костюме, по мере
          укорачивания одежды в XIV столетии, шоссы становились длиннее пока не соединились сзади и стали
          пришнуровываться по талии к другим одеждам.</p>

      </article>
    </div>
  </section>

</main>



{% endblock %}
