---
title: Карта
description: Description index
---
{% extends "layouts/_layout.html" %}


{% block content %}
<div class="pagination">
  <ul class="pagination__list">
    <li class="pagination__item"><a href="index.html">На главную</a></li>
    <li class="pagination__item"><a href="about.html">Триумф Надежды</a></li>
    <li class="pagination__item"><a>{% if title %}{{ title }}{% else %}Название страницы{% endif %}</a></li>
  </ul>
</div>

<main class="page__content">
  <section class="textpage  map  tab-section">
    <div class="textpage__wrapper  tab-section__wrapper">
      <article class="textpage__article">
        <h1>Искусство крашения</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis eveniet, asperiores quae ex quaerat in
          soluta fugiat minus veritatis accusamus, repudiandae dolorum voluptas, ipsa architecto. Assumenda placeat
          hic
          ex rem.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis eveniet, asperiores quae ex quaerat in
          soluta fugiat minus veritatis accusamus, repudiandae dolorum voluptas, ipsa architecto. Assumenda placeat
          hic
          ex rem.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis eveniet, asperiores quae ex quaerat in
          soluta fugiat minus veritatis accusamus, repudiandae dolorum voluptas, ipsa architecto. Assumenda placeat
          hic
          ex rem.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis eveniet, asperiores quae ex quaerat in
          soluta fugiat minus veritatis accusamus, repudiandae dolorum voluptas, ipsa architecto. Assumenda placeat
          hic
          ex rem.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis eveniet, asperiores quae ex quaerat in
          soluta fugiat minus veritatis accusamus, repudiandae dolorum voluptas, ipsa architecto. Assumenda placeat
          hic
          ex rem.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis eveniet, asperiores quae ex quaerat in
          soluta fugiat minus veritatis accusamus, repudiandae dolorum voluptas, ipsa architecto. Assumenda placeat
          hic
          ex rem.</p>
      </article>

      <ul class="tab-section__control-list" aria-controls="tab-example" role="tablist">
        <li class="tab-section__control-item">
          <button class="tab-section__control-btn" role="tab" aria-controls="tab-1" aria-selected="false"
            type="button">Семантика красного цвета</button>
        </li>
        <li class="tab-section__control-item">
          <button class="tab-section__control-btn" role="tab" aria-controls="tab-2" aria-selected="false"
            type="button">Семантика желтого цвета </button>
        </li>
        <li class="tab-section__control-item">
          <button class="tab-section__control-btn" role="tab" aria-controls="tab-3" aria-selected="false"
            type="button">Семантика синего цвета</button>
        </li>
      </ul>
      <ul class="tab-section__content-list" id="tab-example">
        <li class="tab-section__content-item" data-id="tab-1" id="tab-1" aria-expanded="false">
          <article class="textpage__article">
            <p>Отношения человека и цвета имеют давнюю историю, они зародились, когда люди впервые научились получать
              и
              использовать природные красители. Изначальная сакральность цвета была утеряна в процессе развития
              человеческого общества, в средневековой Европе в недрах христианской религии и ее догматах были заложены
              основные трактовки цветовой символики. Христианство вкладывает в каждый цвет смысл, заложенный в Библии.
              В
              Священном Писании по значению и частоте упоминания преобладают белый, черный и красный цвета. Красный
              цвет
              амбивалентен. Темно-красный (кармазинный) означал любовь, а алый стал символом мученичества, принесенной
              жертвы, это цвет крови Христа, пролитой во имя спасения людей, воплощение Божественной любови и Святого
              Духа. Одновременно красный был цветом ада и дьявола. Соединение синего и красного дает пурпурный цвет,
              символизирующий единство небесного и земного начал.
            </p>
            <p>На основе религиозной символики цвета возник художественный символизм, воздействующий на эмоциональное
              и
              эстетическое восприятие человека. Он нашел отражение не только в живописи, но и в сюжетах и колористике
              тканых произведений искусства, а значит, и в красильном производстве. Цветовая палитра одежды постепенно
              приобретала выраженные социальные черты. Один и тот же цвет в разных культурах и даже на разных этапах
              развития одной культуры получал разные, порой прямо противоположные значения. Таким образом ткани и
              костюм
              наиболее чутко реагируют на подобные изменения феномена предметной культуры. </p>
            <p>Красный цвет противоречив. В истории человечества он мог символизировать любовь, красоту, величие,
              власть, радость, богатство, жизненную силу, при этом ничто не мешало ему ассоциироваться с войной и
              пролитой кровью, местью, враждой, агрессией, яростью, адовым огнем. Как показано во многих
              исследованиях,
              психофизиологическое ассоциативное восприятие цвета оказывает первостепенное влияние на его
              символическое
              значение. По утверждению психологов, красный цвет — возбуждающий, активный, повышающий нервную и
              гормональную активность.</p>
            <p>В эпоху Возрождения в Европе использовать яркие алые и кроваво-красные оттенки стали реже. На смену им
              пришли разнообразные тона: розовый, фиолетовый, бордовый, малиновый. Постепенно красный цвет под
              давлением
              морали утратил свое значение. В XVI–XVII веках уже не в моде была демонстрация роскоши, да и с
              экономической точки зрения стало нецелесообразно тратить огромные средства на пурпурные ткани. Красный
              начал ассоциироваться с безнравственностью, гордыней, похотью, развратом и грехом. В разных странах
              издавались предписания, своеобразные регламенты для ношения одежды определенных цветов в зависимости от
              сословия, профессиональной деятельности и даже физического состояния человека. Красный цвет в своем
              чистом
              виде стал основным в одежде кардиналов, а также людей, чьи профессии отмечены кровью (палачей и
              мясников),
              вступивших на путь порока (проституток), для приверженцев иных религий (мусульман и иудеев). В красное
              также должны были одеваться изгои общества, ставшие ими по разным причинам, например, больные лепрой и
              сифилисом, люди с психическими заболеваниями и умственными нарушениями, страдающие от алкоголизма.</p>
            <p>В начале XVI века в большинстве стран Европы в результате Реформации (антикатолического движения)
              широкое
              распространение получило протестантство — одно из трех направлений в христианстве, которое представляет
              собой совокупность независимых церквей и союзов. Во время религиозных перипетий цвет постепенно утратил
              мистические ассоциации, цветовая символика стала бытовой, а отношение к цвету — более практичным. При
              этом
              многогранному колориту католической церкви противостоял цветовой аскетизм протестантизма. Страстная
              борьба
              протестантов за нравственность, отвращение к роскоши, презрение удовольствий, склонность к воздержанию
              не
              только нашли отражение в фасоне одежды, но и сыграли важнейшую роль в распространении новой цветовой
              гаммы: красному, как, впрочем, и большинству ярких насыщенных цветов, в убранстве храма места не
              оказалось. Одежды протестантов постепенно лишились не только красного цвета и его оттенков (розового,
              фиолетового, оранжевого), но и других красок. Вскоре в окраске тканей стали преобладать темно-синие,
              черные, серые и коричневые тона.</p>
            <p>Велики были обязательства художников перед религией: палитра мастеров из протестантской Европы в этот
              период отличалась от цветовой гаммы художников-католиков. Все это отражалось и на окраске тканей. Если
              природные тона (голубой, синий, зеленый, бежевый, коричневый) одобрялись лидерами протестантского
              движения, то красный цвет оставался под запретом. В отличие от художников-протестантов католические
              живописцы широко использовали все оттенки красного (стоит только вспомнить мастеров итальянского
              Возрождения). Для Флоренции и Венеции характерно использование пышных пурпурных драпировок как в
              украшении
              дома, произведениях искусства, так и в одежде. В Испании, где протестантские общины были практически
              полностью уничтожены инквизицией, также наблюдалось буйство красок в одежде: красный кафтан и алое
              платье
              часто появляются на улицах Испании в XVI веке.</p>
            <p>Католицизм, пытаясь восстановить позиции и престиж Римско-католической церкви, отстоит многоцветие в
              убранстве храма и культовых одеждах. При этом он позволит протестантству одержать верх в быту. Важно
              отметить, что в среде простолюдинов-католиков красный цвет оставался цветом торжества, красоты, поэтому
              праздничное платье и даже свадебное, почти всегда было окрашено в красный цвет. Скорее всего, это было
              связано с дешевизной красной ткани в этот период времени. Уже через столетие красный цвет полностью
              потеряет свои позиции в быту, но при этом сохранит главенствующее положение в символике. Разнообразие
              местных природных красных красителей (марена, кермес, пурпур, подмаренники), а также доставляемых с
              Востока и недавно открытых стран Нового Света (кошениль, птерокарпус, виды «бразильских деревьев»),
              развитие красильной отрасли в целом, позволяло создать огромное количество стойких оттенков красного
              цвета
              (лиловый, бордовый, малиновый, сиреневый, коралловый, карминовый). На них не было наложено вето, как на
              яркий красный цвет в чистом виде.</p>
            <p>Отторжение красного цвета в быту никак не влияло на семантику природных объектов. Красные цветки, плоды
              —
              яблоки, томаты, гранаты — прочно ассоциировались с красотой, любовью, славой.</p>
            <p>Европейская цветовая символика в XV–XVII веках формировалась не только под влиянием теологии. Большой
              вклад в ее развитие внесли ученые, художники, философы. В конце XVII столетия в Западной Европе
              символика
              цвета почти лишилась своего религиозного наполнения. Таким образом богословский этап цветового
              символизма
              можно считать завершенным. Но следует помнить, что цвет, как никакой другой символ в культуре, является
              великим управленческим средством в силу универсальности значений.</p>
            <p>Литература</p>
            <ol>
              <li>Бабайцев А.В. Политический символизм цвета // Известия Волгоградского государственного
                педагогического
                университета. 2007. № 3 (21). С. 56–62.</li>
              <li>Базыма Б.А. Психология цвета. Теория и практика. СПб.: Речь, 2005. 147 с.</li>
              <li>Дубоносова Е.А. Анализ символического значения оттенков цвета в костюме в разные исторические
                периоды
                // Бизнес и дизайн ревю. 2019. № 1 (13). С. 8.</li>
              <li>Евтых Е.Ш. Символика цвета в мировых религиях (сравнительный анализ) // Богослужебные практики и
                культовые искусства в современном мире: сборник материалов III Междунар. науч. конф. Майкоп, 17–21
                сентября 2018 г. Майкоп: Магарин Олег Григорьевич, 2018. С. 585–600.</li>
              <li>Пастуро М. Красный. История цвета / пер. с франц. Н. Кулиш. М.: Новое литературное обозрение, 2019.
                153 с. (Библиотека журнала «Теория моды»).</li>
              <li>Серов Н.В. Цвет культуры. Психология, культурология, физиология. СПб.: Речь, 2004. 672 с.</li>
            </ol>
          </article>


          <div class="map__slider  swiper-container">
            <div class="swiper-wrapper">
              <article class="swiper-slide  map__slider-content  textpage__article">
                <h2>Таис кровяно-дисковый</h2>
                <img src="images/map/rast10.svg" alt="">
              </article>
              <article class="swiper-slide  map__slider-content  textpage__article">
                <h2>Мурекс обрубленный</h2>
                <img src="images/map/rast11.svg" alt="">
              </article>
              <article class="swiper-slide  map__slider-content  textpage__article">
                <h2>Мурекс игольчатый</h2>
                <img src="images/map/rast12.svg" alt="">
              </article>
              <article class="swiper-slide  map__slider-content  textpage__article">
                <h2>Кермес средиземноморский</h2>
                <img src="images/map/rast13.svg" alt="">
              </article>
              <article class="swiper-slide  map__slider-content  textpage__article">
                <h2>Марена иноземная</h2>
                <img src="images/map/rast14.svg" alt="">
              </article>
              <article class="swiper-slide  map__slider-content  textpage__article">
                <h2>Кошениль мексиканская</h2>
                <img src="images/map/rast15.svg" alt="">
              </article>
              <article class="swiper-slide  map__slider-content  textpage__article">
                <h2>Подмаренник</h2>
                <img src="images/map/rast16.svg" alt="">
              </article>
              <article class="swiper-slide  map__slider-content  textpage__article">
                <h2>Подмаренник трехтычинковый</h2>
                <img src="images/map/rast17.svg" alt="">
              </article>
              <article class="swiper-slide  map__slider-content  textpage__article">
                <h2>Птерокарпус индийский</h2>
                <img src="images/map/rast18.svg" alt="">
              </article>
              <article class="swiper-slide  map__slider-content  textpage__article">
                <h2>Бразильское дерево</h2>
                <img src="images/map/rast19.svg" alt="">
              </article>
              <article class="swiper-slide  map__slider-content  textpage__article">
                <h2>Цезальпиния ежовая</h2>
                <img src="images/map/rast20.svg" alt="">
              </article>
              <article class="swiper-slide  map__slider-content  textpage__article">
                <h2>Марена красильная</h2>
                <img src="images/map/rast21.svg" alt="">
              </article>
              <article class="swiper-slide  map__slider-content  textpage__article">
                <h2>Цезальпиния саппан</h2>
                <img src="images/map/rast22.svg" alt="">
              </article>


            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>

        </li>
        <li class="tab-section__content-item" data-id="tab-2" id="tab-2" aria-expanded="false">
          <article class="textpage__article">
            <p>Цвет для человека — это не только субъективные физиологические зрительные ощущения, но и социальное
              явление. Именно общество наделяет цвет символикой, значением, регламентирует его. Во всех древних
              культурах желтый был священным, сакральным цветом. Это цвет солнца, золота, великодушия, интеллекта,
              знак
              света, тепла и процветания. Но в средневековой Европе отношение к нему стало амбивалентным. Символика
              желтого соединялась с золотом и отождествлялась со светом, величием, радостью жизни, здоровьем, ведь
              золото нетленно и не подвержено старению. С одной стороны, теплый желтый напоминал мед и цвет зрелого
              колоса, ассоциировался с удовольствием и изобилием. С другой — желтый — цвет лжи, двуличия, недоверия.
              Эти
              ассоциации берут свое начало от гуморальной теории, сформулированной греческим врачом Гиппократом около
              400 года до н. э. и развитой в Средние века. По этой теории считалось, что в теле человека текут четыре
              жидкости (кровь, флегма, черная и желтая желчь). Преобладание одной из жидкостей определяет темперамент
              человека. Так, желтая желчь превалирует в теле холериков, для которых характерны порывистость,
              неуравновешенность, склонность к резким сменам настроения, бурным эмоциональным вспышкам. Негативные
              ассоциации вызывал желтоватый оттенок лица у человека, страдавшего от тяжелой болезни.
            </p>
            <p>Отрицательная коннотация оттенков желтого различна: светло-желтый означал предательство и плотские
              желания; тусклый желтый ассоциировался с ревностью и прелюбодеянием; охристо-желтый — цвет страха и
              ужаса;
              серо-желтый — сумасшествия; зеленовато-желтый символизировал демоническое начало. Сочетание желтого с
              зеленым являлось агрессивным и тревожным, ассоциировалось с повреждением рассудка, сумасшествием и
              преобладало в одежде шутов, умалишенных. Лишь цвет золота сохранял символику «правильного желтого».
              Девальвация желтого, начавшаяся в XIII веке, уже через столетие привела к тому, что этот цвет стал
              восприниматься как цвет обмана, лжи, лицемерия и вероломства.</p>
            <p>В желтые оттенки были окрашены одежды людей, выброшенных на обочину жизни: палачей, фальшивомонетчиков,
              уличных проституток, которые надевали желтые платья, чтобы их легче было различить ночью при тусклом
              свете
              фонарей. Желтый стал цветом иудейских общин: все евреи были вынуждены по определенному предписанию
              носить
              желтую одежду или ярко-желтые метки на платье в виде круга, кольца, звезды или повязки.</p>
            <p>Золотисто-желтый цвет в одеянии священнослужителей символизировал божественный свет, царственность,
              славу
              и достоинство. В религии золотой цвет воплощал вечность, нетленность, бессмертие, а также был связан с
              Фаворским светом (согласно текстам Нового Завета, это таинственный божественный свет, появляющийся в
              момент Преображения Иисуса Христа). Желтый цвет в иконописи обозначал тепло и радость, любовь и
              согласие.
              При этом на иконах и картинах одежда предателей апостола Иуды и падшего ангел Люцифера окрашена в
              желто-зеленые тона или их сочетание.</p>
            <p>Начавшаяся в XVI века Реформация (религиозное, общественно-политическое и идеологическое движение в
              Западной Европе, направленное на преобразование Римско-католической церкви) привела к возникновению
              протестантизма. Протестанты, выступавшие за изгнание ярких цветов не только из храмов, но и из быта
              своих
              приверженцев, признали желтый цветом порока и полностью отказались от него в повседневной жизни и
              искусстве. Картины живописцев-протестантов были насыщены темными тонами: проявлялись лишь приглушенные
              природные оттенки желтого. В период Реформации в костюме желтые тона также были запрещены.</p>
            <p>Когда в XV веке икона сменилась картиной, религиозность сохранилась в сюжете, но утеряла свою духовную
              значимость. В классической живописи эпохи Возрождения художники редко использовали желтый цвет в чистом
              виде. Он выбивался из колористического контекста картины яркостью и контрастностью. В живописи
              Ренессанса
              преобладали желто-коричневые, охристые, соломенные и песочные оттенки желтого. В XVII веке, в эпоху
              барокко золотисто-желтый вернулся во всем своем великолепии, однако в одежде даже в XVIII столетии
              желтый
              цвет продолжал ассоциироваться с враждебностью и агрессивностью.</p>
            <p>В Европе было огромное количество дикорастущих растений, из которых в XV–XVII веках получали недорогие
              желтые природные красители: резеда желтенькая, дрок красильный, наперстянки, скумпия кожевенная, сумах
              дубильный. С помощью них можно было получить стойкое окрашивание тканей и кожи в желтые,
              желто-оранжевые,
              коричневые тона. Использование различных протрав позволяло разнообразить палитру.</p>
            <p>Желтый порой и сегодня, неся отпечаток символического прошлого, является сдержанным и неоднозначным
              цветом для одежды. Нейрофизиологи относят желтый к стимулирующим, активным цветам. Он способствует
              интенсивной деятельности, настраивает на общение, положительные эмоции, но длительное воздействие
              желтого
              цвета может привести к перевозбуждению, а затем торможению нервной системы.</p>
            <p>Литература</p>
            <ol>
              <li>
                <p>Пастуро М. Символическая история европейского Средневековья / пер. с франц. Е.С. Решетниковой.
                  СПб.:
                  Alexandria, 2012. 446 с.</p>
              </li>
              <li>
                <p>Краткая энциклопедия символов: [сайт]. URL: http://www.symbolarium.ru/index.php/</p>
              </li>
            </ol>
          </article>
          <div class="map__slider  swiper-container">
            <div class="swiper-wrapper">
              <article class="swiper-slide  map__slider-content  textpage__article">
                <h2>Резеда
                  красильная</h2>
                <img src="images/map/rast1.svg" alt="">
                <div class="map__slider-text">
                  <p><strong>Ареал:</strong> </p>
                  <p>Европа, Закавказье, Средняя Азия, Скандинавия, Северная Африка. В Америке встречается как
                    заносное.
                    Произрастает по сухим холмам, степям, по дорогам, сорным местам, паровым полям, в посевах.</p>
                  <p><strong>Выращивание:</strong> </p>
                  <p>По всей Европе, в Египте.</p>
                  <p><strong>Биологическое описание:</strong> </p>
                  <p>Резеда желтенькая (<em>Reseda luteola</em> L.) или красильная – двулетнее растение семейства
                    Резедовые. В
                    первые год жизни образует розетку листьев, на второй год – развивается цветонос. Стебли
                    прямостоячие, вверху ветвистые, густо олиственные, до 130 см высотой. Листья цельные
                    линейно-ланцетные, сидячие, с 2 маленькими колючкообразными зубцами. Соцветие составляет половину
                    цветоносного побега, колосовидное, в нижней части иногда ветвистое. Цветки четырехчленные, желтые,
                    мелкие, почти сидячие. Плод — коробочка.</p>
                  <p><strong>Химические превращения:</strong> </p>
                  <p>Для получения красителя используют растение целиком. Производят сбор растения в конце второго
                    года
                    жизни, когда плоды-коробочки приобретают желтоватый оттенок. Растение можно сушить в пучках на
                    открытом воздухе, но это приводит к уменьшению общего содержания красителя. Для сохранения
                    красителей предпочтительна сушка в сушильном шкафу или замораживание растения.</p>
                  <p>В резеде содержится лутеолин, относящийся к группе флавоноидов (вещества растительного
                    происхождения, которые важны для процессов ферментации). Он обнаружен в растении как в свободном
                    состоянии, так и в форме глюкозидов. Краситель резеды был изучен и выделен в начале XIX века
                    французским химиком М. Шеврёлем. Лутеолин содержится в дроке красильном и листьях наперстянки,
                    которые также использовались с глубокой древности для получения желто-оранжевых красителей,
                    устойчивых к выгоранию.</p>
                  <p>Пучки резеды варят в котлах около часа, затем полученный отвар фильтруют. Ткань, прошедшую
                    предварительную протравку в квасцах (алюминиевых или оловянных) и винном камне (кристаллический
                    осадок, выпадающий при производстве вина спиртовым брожением), многократно опускают в горячий
                    отвар
                    резеды до получения желаемого цвета. При высокой температуре связь между красителем и
                    моносахаридом
                    разрывается, и краситель закрепляется на ткани. При этом с тяжелыми металлами (протрава) краситель
                    образует нерастворимы стойкие комплексы. Крашение резедой придает ткани разнообразные оттенки
                    желтого: лимонно-желтого, цвета серы, золотисто-желтого, шафранного.</p>
                  <p>Для получения оттенков зеленого (водянисто-зеленого, ярко-зеленого, травянисто-зеленого)
                    производят
                    крашение резедой по ткани, предварительно окрашенной индиго в различные оттенки синего. Для
                    получения золотисто-коричневого цвета отвара резеды смешивают с отваром бразильского дерева.
                    Оливковые оттенки получают при сочетании резеды и кампешевого дерева, оранжевые — при добавлении
                    марены.</p>
                  <p><strong>История применения красителя:</strong> </p>
                  <p>В Европе резеда использовалась еще с доисторических времен, была популярна в эллинском мире и в
                    Римской империи. Достоверно известно, что резеду возделывали в Палестине и Египте уже во II–III
                    веках. В Европе в средние века особое значение приобрело окрашивание тканей резедой красильной, об
                    этом говорят многочисленные рецепты по крашению, дошедшие до наших дней, анализ тканей и данные
                    археологии. Резеда была предметом экспорта, широко применялась красильщиками Османской империи.
                    Резеда возделывалась до конца XIX века, пока ее не начали вытеснять красители на основе
                    кверцитрона,
                    полученного из коры Дуба бархатистого (Quercus velutina Lam.), произрастающего в Северной Америке.
                    Это интересно!</p>
                  <p>В народной медицине настои корней и листьев резеды желтенькой употребляли как потогонное,
                    мочегонное
                    и противоглистное средство.</p>
                  <p><strong>Литература</strong></p>
                  <ol>
                    <li>
                      <p>Reseda luteola L. // Плантариум: открытый онлайн атлас-определитель растений и лишайников
                        России и
                        сопредельных стран. 2007—2021. https://www.plantarium.ru/page/view/item/31616.html</p>
                    </li>
                    <li>
                      <p>Майер Ф. Естественные органические красящие вещества. Москва: Государственное
                        научно-техническое
                        издательство химической литературы. 1940. 316 с.</p>
                    </li>
                    <li>
                      <p>Cardon D. Le monde des teintures naturelles. 2014. 783 p.</p>
                    </li>
                  </ol>
                </div>
              </article>
              <article class="swiper-slide  map__slider-content  textpage__article">
                <h2>Cкумпия кожевенная</h2>
                <img src="images/map/rast2.svg" alt="">
                <div class="map__slider-text">
                  <p><strong>Ареал:</strong> </p>
                  <p>Средиземноморье, Передняя Азия. Произрастает в предгорьях и горнолесных районах, доходя до 1000 м
                    над уровнем моря.</p>
                  <p><strong>Выращивание:</strong> </p>
                  <p>На территории природного ареала культивировалась с XVII до конца XIX века, в Китае, Северной
                    Америке.</p>
                  <p><strong>Биологическое описание:</strong> </p>
                  <p>Скумпия кожевенная (Cotinus coggygria Scop.) — ветвистый кустарник или дерево высотой до 5 м,
                    семейства Сумаховые. Листья крупные, яйцевидные, осенью приобретающие розово-красную окраску. Цветки
                    многочисленные, мелкие, пятичленные, желтовато- или зеленовато-белые, собраны в рыхлые, метельчатые
                    соцветия, длиной 15—30 см. Плод – сухая костянка.</p>
                  <p><strong>Химические превращения:</strong> </p>
                  <p>В древесине скумпии кожевенной содержится физетин (флавон), который был выделен М. Шеврёлем в
                    начале XIX века, и оранжевый краситель сульфуретин (аурон), выделенный в XX веке. Древесина скумпии
                    также содержит танины, которые способствуют протравке и усилению окрашивания в желтые и коричневые
                    цвета. Из древесины получают жёлтую краску «фустик». </p>
                  <p>В олиственных побегах содержится большое количество красящих веществ (флавонолы физетин, мирицетин,
                    кверцетин, кемпферол и др.), а также танины. Их использовали для дубления кожи и окрашивания в
                    желтые и красные цвета.
                    Для получения красителя древесину измельчали до опилок и отваривали. Ткани, предварительно
                    протравленные в квасцах, опускали в чаны с отваром, иногда многократно. Для получения различных
                    оттенков от светло-желтого до темно-коричневого, от оливкового до серо-коричневого к отвару скумпии
                    добавляли резеду, дубовые чернильные орешки, дрок красильный, кампешевое дерево. Для получения
                    оранжевых оттенков добавляли марену и кермес.</p>
                  <p>Скумпия оказалась более экономичной, чем другие растения с желтыми красителями, но цвет легко
                    выгорал на свету.</p>
                  <p><strong>История красителя:</strong> </p>
                  <p>В Средиземноморской Европе скумпия кожевенная являлась одним из основных источников желтого
                    красителя в Средние века для любых типов ткани. Начиная с XVII века, она ушла на второй план из-за
                    непрочности окрашивания, но часто использовалась для получения оранжевых тканей, что сильно
                    экономило красные красители (например, кошениль).
                    Скумпия активно использовалась для окрашивания ковром на территории Османской империи.</p>
                  <p>Под Москвой при царе Алексее Михайловиче в XVII веке на сафьяновом заводе в качестве дубильных
                    веществ и красителей использовали «святогорский лист». Это не что иное, как лист скумпии кожевенной,
                    который собирали монахи Святогорского монастыря, расположенного на Северной Двине. </p>
                  <p><strong>Это интересно!</strong> </p>
                  <p>Благодаря наличию танина в листьях, скумпия используется в медицине в качестве вяжущего,
                    противовоспалительного и антисептического средства. Применяется наружно в виде растворов и мазей при
                    воспалительных заболеваниях полости рта, носа, гортани, при ожогах, язвах, трещинах и пролежнях. Для
                    внутреннего употребления используют при катарах желудочно-кишечного тракта, а также при отравлении
                    солями тяжелых металлов и алкалоидами. </p>
                  <p>Скумпия широко используется при озеленении, для создания полезащитных полос и для закрепления
                    грунта на откосах и насыпях. </p>
                  <p><strong>Литература</strong> </p>
                  <ol>
                    <li>
                      <p>Cotinus coggygria Scop. // Плантариум: открытый онлайн атлас-определитель растений и лишайников
                        России и сопредельных стран. 2007—2021. https://www.plantarium.ru/page/view/item/11420.html</p>
                    </li>
                    <li>
                      <p>Губанов И. А. и др. Дикорастущие полезные растения СССР. М.: «Мысль», 1976. С. 220-222.</p>
                    </li>
                    <li>
                      <p>Майер Ф. Естественные органические красящие вещества. Москва: Государственное
                        научно-техническое издательство химической литературы. 1940. 316 с.</p>
                    </li>
                    <li>
                      <p>Cardon D. Le monde des teintures naturelles. 2014. 783 p.
                        Кричевский Г. Е. Возрождение природных красителей. М.: Паблит, 2017. 565 с.</p>
                    </li>
                  </ol>
                </div>
              </article>
              <article class="swiper-slide  map__slider-content  textpage__article">
                <h2>Сумах дубильный</h2>
                <img src="images/map/rast3.svg" alt="">
                <div class="map__slider-text">
                  <p><strong>Ареал:</strong> </p>
                  Средний Восток, откуда распространился по всему Средиземноморью. Произрастает в предгорьях и горных
                  районах на высоте до 1500 м над уровнем моря, предпочитая открытые сухие склоны.
                  <p><strong>Выращивание:</strong> </p>
                  Остров Сицилия.
                  <p><strong>Биологическое описание:</strong> </p>
                  Сумах дубильный, красильный (Rhus coriaria L.) — кустарник или дерево до 8 м высотой, семейства
                  Сумаховые. Листья крупные непарноперистые, состоящие из 9–17 листочков с крупнозубчатым краем. Цветки
                  однополые, мелкие, собраны в крупные конические соцветия —метелки. Тычиночные цветки собраны в рыхлые
                  «мужские» соцветия, пестичные — в более плотные «женские» соцветия. Цветки с двойным свободнолистным
                  пятичленным околоцветником, желто-зеленые. Плод — мелкая, сухая, красно-бурая костянка.
                  <p><strong>Химические превращения:</strong> </p>
                  Красильным сырьем являются листья. Их собирали двумя способами. В середине лета олиственные ветви
                  срезали и сушили в вязанках, затем обтрясали листья. В начале осени вручную собирали листву с вновь
                  отросших побегов.
                  В листьях содержится галлотанин, флавонолы (физетин, мирицетин, кверцетин, кемпферол и др.), а также
                  танины. Галлотанин окрашивает ткани в коричневый цвет. Листья отваривали в воде, получая отвар,
                  который затем процеживали и использовали для крашения. В желто-коричневые цвета. Если ткань окрашивали
                  сумахом, а затем мареной, получали «турецкий» красный цвет. При предварительном протравливании ткани в
                  железе получали серый и черный цвет; в сочетании с мареной, на железной протраве получался
                  серо-голубой цвет, при добавлении сандалового дерева на различных протравах получали ореховый,
                  бронзовый и гранатовый оттенки.
                  Нередко для окрашивания в желтый цвет использовали кору стебля сумаха; корой корня и плодами — в
                  красный цвет.
                  <p><strong>История применения красителя:</strong> </p>
                  В древности сумах был известен красильщикам Египта и Греции. Теофраст уже в III веке до н. э. и Плиний
                  Старший в I веке упоминали сумах, говоря о дублении кожи. Арабы культивировали сумах именно для
                  дубления кожи. В Европе сумах особенно ценился, начиная с XVI века, как источник прочного черного
                  красителя. На Востоке ковры окрашивали сумахом в желтые и красные (в сочетании с мареной) цвета, в
                  черный цвет окрашивали покрывала, в которых женщины выходили на улицу. Одним из крупных экспортеров
                  сумаха в Европу до Второй мировой войны было Марокко.
                  Это интересно!
                  Листья сумаха дубильного, богатые танином, применяют в медицине как вяжущее средство при поносах,
                  кровоостанавливающее, в качестве противоядия при отравлении алкалоидами и тяжелыми металлами.
                  Порошок из сухих плодов сумаха используют как острую приправу к мясной и рыбной пище.
                  <p><strong>Литература</strong> </p>
                  <ol>
                    <li>
                      <p>Rhus coriaria L. // Плантариум: открытый онлайн атлас-определитель растений и лишайников России
                        и
                        сопредельных стран. 2007—2021. https://www.plantarium.ru/page/view/item/44936.html</p>
                    </li>
                    <li>
                      <p>Губанов И. А. и др. Дикорастущие полезные растения СССР. М.: «Мысль», 1976. С. 222-223.</p>
                    </li>
                    <li>
                      <p>Майер Ф. Естественные органические красящие вещества. Москва: Государственное
                        научно-техническое
                        издательство химической литературы. 1940. 316 с.</p>
                    </li>
                    <li>
                      <p>Cardon D. Le monde des teintures naturelles. 2014. 783 p.</p>
                    </li>
                  </ol>
                </div>
              </article>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
        </li>
        <li class="tab-section__content-item" data-id="tab-3" id="tab-3" aria-expanded="false">
          <article class="textpage__article">
            <p>Историю любого цвета, его значение и символику нельзя рассматривать в отрыве от политических,
              религиозных
              и культурологических аспектов истории. В Западной Европе в середине XIV века разразилась эпидемия
              бубонной
              чумы, которая унесла жизни миллионов людей и тяжким экономическим бременем легла на оставшихся в живых.
              После окончания эпидемии в большинстве европейских стран стали издаваться законы против роскоши.
              Морализация общества была направлена на поддержание и упрочение церковных традиций, истинных
              добродетелей.
              Экономическая необходимость вынуждала сокращать чрезмерные расходы на одежду, предметы быта, украшения,
              произведения искусства. Усилилась сегрегация общества по рангу, происхождению, полу, профессии и даже
              физическому состоянию. В XVI веке Реформация (антикатолическое движение) привела к возникновению нового
              направления в христианстве — протестантизма, представлявшего собой совокупность независимых церквей и
              союзов. Реформация приумножила силу регламентирующих законов и предписаний, которые просуществовали в
              Европе до XVIII столетия и нашли отражение, в том числе, в использовании цветовой палитры в окраске
              тканей, одежды, в живописи. </p>
            <p>Сторонники Реформации, воспринимавшие цвет как источник фальши, роскоши, иллюзорного обмана, изгнали
              его
              из храма. Повезло остаться лишь нескольким избранным, «праведным», «высокоморальным» цветам: белому,
              серому, черному и синему. Католицизм, считавший, что в Божьем доме должно быть много роскоши и цвета,
              активно противостоял протестантскому аскетизму. В цветовую палитру художников-протестантов, наряду с
              коричневым, зеленым и другими природными цветами, был допущен небесный синий. Нередко влияние
              протестантизма можно увидеть в творчестве живописцев-католиков: приглушенные краски, игра со светом в
              монохромной палитре. Но все же преобладание синего в работах европейских мастеров XVI–XVII веков в
              большей
              степени зависело от предпочтений художника, его мастерства и вкуса. Достаточно вспомнить яркие, сочные,
              пронзительные тона синего в работах Вермеера, Рафаэля, Тициана. В эпоху Возрождения синий стал
              излюбленным
              цветом живописцев. Его значение всегда позитивно и стабильно. Синюю краску делали из азурита и более
              дорогостоящего лазурита (ляпис-лазурь).</p>
            <p>В эпоху Реформации более всего пострадала колористика костюма. Одежда, изначально связанная с
              первородным
              грехом, по мнению лидеров протестантского движения, должна была быть простой, неяркой, удобной для
              работы
              и повседневной жизни. Но синему цвету и здесь нашлось место. Он стал темным, приглушенным, но не
              изгнанным.</p>
            <p>В отличие от большинства цветов синий полностью лишен амбивалентности. Синий — цвет королей, цвет
              Богоматери и ангелов, цвет морали, духовной и телесной чистоты, вечности и покоя. Голубой цвет в
              религиозном контексте соответствует Святому Духу, это цвет Божественной благодати. Созерцание
              божественного синего цвета должно было способствовать благочестивости, стремлению к кротости,
              настраивать
              на смирение и праведность. Синий и голубой цвета еще на заре появления христианства ассоциировались с
              вечной истиной и непостижимостью божественных тайн. Синий цвет являлся непременным в иконописи. Согласно
              канонам, Иисуса изображали в красном хитоне с синим гиматием (верхняя накидка). Богоматерь, наоборот,
              была
              облачена в тунику синего цвета с красным покрывалом. Красный и синий вновь антагонисты: они обозначают
              землю и небо. Слияние этих цветов дает пурпурный — символ единства земного и небесного.</p>
            <p>Будучи вечным антагонистом и соперником красного, синий начиная с XVI века вышел на первый план.
              «Греховность» красного, его роскошь, парадность, бросающаяся в глаза, сделали алый цвет изгоем. Наступил
              триумф синего, оставшегося без достойного соперника. Это путь к славе длиной в пять столетий: синий
              признали богословы, затем оценили художники, красильщики смогли придать ему яркость и сделали доступным
              для масс, он не был отторгнут Реформацией, а эпоха Просвещения сделала синий символом прогресса и
              свободы.
            </p>
            <p>Столь необычайному развитию и стабильности в культуре и быту синий цвет обязан не только теологии и
              политике. Большую роль сыграли натуральные красители. Во времена античности и Средневековья для
              получения
              синего красителя использовали в основном вайду и горец красильный — растения, широко произрастающие по
              всей Европе. В Древнем Риме и в Древней Греции знали и индиго — краситель, который получали из растущего
              в
              Индии растения индигоферы, но синий в окраске тканей использовали крайнее редко, считая его цветом
              варваров. Начиная с XIII века индиго стал активно завоевывать Европу, но был дорог и часто попадал под
              экономические запреты, либо военные конфликты препятствовали его привозу с Востока. Лишь в начале XVIII
              века экспорт индиго увеличился и полностью покрыл запросы европейцев. В XVI столетии из Нового Света
              стали
              привозить кампешевое дерево — новый источник синего красителя.</p>
            <p>Исследования психологов и физиологов говорят о том, что синий, будучи серьезным, монументальным цветом,
              является успокаивающим, расслабляющим. Это один из самых мистических и трансцендентных цветов. Но его
              постоянное воздействие может приводить к депрессии, подавленному настроению, апатии. А вот
              небесно-голубой
              — цвет свежести, бодрости, настраивающий на спокойные размышления.</p>
            <p>Литература</p>
            <ol>
              <li>
                <p>Пастуро М. Синий. История цвета / пер. с франц. Н. Кулиш. [2-е изд.]. М.: Новое литературное
                  обозрение, 2017. 134 с. (Библиотека журнала «Теория моды»).</p>
              </li>
            </ol>
          </article>

          <div class="map__slider  swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide  map__slider-content  textpage__article">
                <h2>Индигофера полукустарниковая</h2>
                <img src="images/map/rast8.svg" alt="">
              </div>
              <div class="swiper-slide  map__slider-content  textpage__article">
                <h2>Вайда красильная</h2>
                <img src="images/map/rast4.svg" alt="">
              </div>
              <div class="swiper-slide  map__slider-content  textpage__article">
                <h2>Горец красильный</h2>
                <img src="images/map/rast7.svg" alt="">
              </div>
              <div class="swiper-slide  map__slider-content  textpage__article">
                <h2>Индигоферы красильная</h2>
                <img src="images/map/rast7-1.svg" alt="">
              </div>
              <div class="swiper-slide  map__slider-content  textpage__article">
                <h2>Райтия красильная</h2>
                <img src="images/map/rast6.svg" alt="">
              </div>
              <div class="swiper-slide  map__slider-content  textpage__article">
                <h2>Кампешевое дерево</h2>
                <img src="images/map/rast5.svg" alt="">
              </div>
              <div class="swiper-slide  map__slider-content  textpage__article">
                <h2>Стробилянт</h2>
                <img src="images/map/rast9.svg" alt="">
              </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
        </li>
      </ul>
    </div>
  </section>


</main>

{% endblock %}
