---
title: Квест
description: Description index
---
{% extends "layouts/_layout.html" %}

{% block content %}

<div class="pagination">
  <ul class="pagination__list">
    <li class="pagination__item"><a href="index.html">На главную</a></li>
    <li class="pagination__item"><a href="about.html">Триумф Надежды</a></li>
    <li class="pagination__item"><a>{% if title %}{{ title }}{% else %}Название страницы{% endif %}</a></li>
  </ul>
</div>

<main class="page__content">
  <section class="quiz">
    <div class="quiz-start">

      <div class="quiz__wrapper">
        <div class="quiz-start__left">
          <div class="quiz-start-text">
            <h2>Онлайн-квест для детей и подростков (10+).</h2>
            <p>Небольшой вступительный текст. В конце можно вывести количество правильных ответов если нужно.
              Изображение
              объекта на шпалере (выделенное или фрагментированное) появляется вместе с вопросом. Подписи, выделенные
              курсивом, появляются вместе с изображениями и являются пояснениями к ответам.Правильные ответы выделены
              жирным шрифтом.Изображения муляжей, гербария, могут быть заменены авторскими фото.</p>

            <button class="start-btn " id="start-btn" type="button">
              Старт Викторины
            </button>
          </div>
        </div>
      </div>
    </div>

    <section class="quiz__section  hide">
      <div id="count" class="count">
        <div class="circle__box">
          <div class="circle__wrapper circle__wrapper--right">
            <div class="circle__whole circle__right"></div>
          </div>
          <div class="circle__wrapper circle__wrapper--left">
            <div class="circle__whole circle__left"></div>
          </div>
          <div id="app"></div>
        </div>
      </div>
      <div class="quiz__wrapper">
        <div class="quiz-header">
          <div class="question-theme">
            <div class="question-theme-main">
              <h1 class="question-theme-title"></h1>
              <span class="question-theme-year"></span>
            </div>
            <h2 class="question-theme-subtitle"><span>тема вопроса</span></h2>
          </div>
          <button class="finish-quiz" type="button" onclick="document.location.reload();">закончить тест</button>
        </div>
        <article class="quiz-box  custom-box">
          <!-- <img class="bg" src="img/bottom-triangle.svg" alt=""> -->
          <!-- <img src="img/map.svg" alt="" class="map" width="773"> -->
          <img class="bg" src="" alt="">
          <div class="question-text"></div>
          <div class="option-container"></div>
          <div class="next-question-btn">
            <!-- <button type="button" class="btn" onclick="next()">Следующий вопрос</button> -->
          </div>


          <div class="answer-popup hide">
            <div class="answer-popup__wrapper">
              <h3 class="answer-popup__title"></h3>
              <div class="answer-popup__content">
                <!-- <img class="answer-popup__line  answer-popup__line--top" src="img/answer-top.svg" alt=""> -->
                <div class="answer-popup__video">
                  <video muted></video>
                </div>
                <div class="answer-popup__text"></div>
                <button class="answer-popup__btn" type="button" onclick="next()">Следующий вопрос</button>
                <!-- <img class="answer-popup__line  answer-popup__line--bottom" src="img/answer-bottom.svg" alt=""> -->
              </div>
            </div>
          </div>
        </article>
        <div class="results-box hide">
          <div class="results-box-popup">
            <div class="results-box-popup__wrapper">
              <h3 class="results-box-popup__title"></h3>
              <div class="results-box-popup__content  submit-form" id="certificate_form">
                <!-- <img class="results-box-popup__line  results-box-popup__line--top" src="img/answer-top.svg" alt=""> -->

                <div class="results-box-popup__text">
                  <p>Поздравляем, Вы показали глубокие знания истории Атомной промышленности! <br>
                    Сертификат о прохождении викторины будет отправлен Вам на электронную почту.</p>


                  <div class="results-box-popup__field"><input type="text" placeholder="Фамилия"
                      class="form-control input" type="text" id="certificate_last_name" name="certificate_last_name"
                      required=""></div>
                  <div class="results-box-popup__field"><input type="text" placeholder="Имя" class="form-control input"
                      type="text" id="certificate_first_name" name="certificate_first_name" required=""></div>
                  <div class="results-box-popup__field"><input type="text" placeholder="Отчество"
                      class="form-control input" type="text" id="certificate_middle_name"
                      name="certificate_middle_name">
                  </div>
                  <div class="results-box-popup__field"><input type="text" placeholder="email" id="certificate_email"
                      name="certificate_email"></div>

                  <div class="certificate-wrapper  hide">
                    <div id="certificateExample">
                      <img src="img/sertificate.jpg" alt="">
                      <p style="top: 45%; left: 50%;"><b class="field-0"></b></p>
                      <p style="top: 53%;"><b class="field-1"></b></p>
                      <p style="top: 60%;"><b class="field-2"></b></p>
                    </div>
                  </div>

                </div>

                <button class="results-box-popup__btn  results-box-popup__btn--left" type="button"
                  onclick="document.location.reload();">В НАЧАЛО</button>
                <button class="results-box-popup__btn  btnSend">ОТПРАВИТЬ</button>
                <img class="results-box-popup__line  results-box-popup__line--bottom" src="img/answer-bottom.svg"
                  alt="">
              </div>
            </div>
          </div>
        </div>

        <div class="quiz-footer">
          <div class="question-number"></div>
          <div class="answers-indicator"></div>
        </div>
      </div>
    </section>
  </section>
</main>

<script>
  const quiz = [
    {
      q: "На шпалере «Иоанн Креститель» мы видим изображение плодов и листьев растения, которое по-научному называется Смоковница обыкновенная (Ficus carica L.). В христианстве она является образом мудрости, исцеления, благополучия, божьего благословения. Как ещё называют это растение? Выбери правильный ответ.",
      options: ["Финик", "Инжир", "Фикус каучуконосный", "Ежевика"],
      answer: 1,
      theme: "Сюда можно добавить тему квиза",
      // year: "1922–1942",
      pic: "images/q-bg/01.jpg",
      correct: `<p>Смоковница обыкновенная – это фикус колхидский. Фикус каучуконосный относится к тому же роду и является ближайшим родственником смоковницы. Финик относится к другому семейству Пальмовые.</p> `,
      answer_pic: "https://inaturalist-open-data.s3.amazonaws.com/photos/3069933/large.jpg?1456595822",
    },
    {
      q: "На шпалере «Иоанн креститель» мы видим плоды дерева, по форме напоминающие женскую фигуру, расширенную книзу. Поэтому в античности она ассоциировалась с богиней красоты Афродитой (Венерой). ",
      options: ["Яблоко", "Груша", "Апельсин", "Ежевика"],
      answer: 1,
      theme: "Сюда можно добавить тему квиза",
      // year: "1922–1942",
      pic: "images/q-bg/01.jpg",
      correct: `<p> Груша с её сладкими плодами часто появляется в изображениях Девы Марии с младенцем Иисусом. Она указывает на сладость добродетели.</p>`,
      answer_pic: "https://crimeafruct.ru/wp-content/uploads/2019/08/grusha-djushes-zimnij.jpg",
    },

  ];

  const quizSection = document.querySelector(".quiz__section");
  const quizStartBlock = document.querySelector(".quiz-start");
  const quizStartText = document.querySelector(".quiz-start-text");
  // const quizStartLogo = document.querySelector(".quiz-start-logo");
  const questionNumber = document.querySelector(".question-number");
  const questionText = document.querySelector(".question-text");
  const optionContainer = document.querySelector(".option-container");
  const answersIndicatorContainer = document.querySelector(".answers-indicator");
  // const questionPic = document.querySelector(".question-picture");
  const startBtn = document.querySelector(".start-btn");
  const homeBox = document.querySelector(".home-box");
  const quizBox = document.querySelector(".quiz-box");
  const resultBox = document.querySelector(".results-box");
  const resultBoxTitle = document.querySelector(".results-box-popup__title");

  const title = document.querySelector(".question-theme-title");
  // const subTitle = document.querySelector(".question-theme-year");

  const answerPopup = document.querySelector(".answer-popup");

  const count = document.querySelector(".count");

  const animateLogo = document.querySelector(".logo");
  const animeteBg = document.querySelector(".bg");

  let questionCounter = 0;
  let currentQuestion;
  let availableQuestions = [];
  let availableOptions = [];
  let correctAnswers = 0;
  let attemt = 0;

  let intervalId;

  let timer;
  let timeerInterval = 60;

  let circleLeft = document.querySelector(".circle__left");
  let circleRight = document.querySelector(".circle__right");

  function removeCountAnimation() {
    circleLeft.classList.remove("circleLeftAnim");
    circleRight.classList.remove("circleRightAnim");
  }

  function myTimer() {
    var sec = timeerInterval;
    clearInterval(timer);

    setTimeout(function () {
      circleLeft.classList.add("circleLeftAnim");
      circleLeft.classList.remove("paused");
      circleLeft.style.animationDuration = timeerInterval + "s";

      circleRight.classList.add("circleRightAnim");
      circleRight.classList.remove("paused");
      circleRight.style.animationDuration = timeerInterval + "s";
    }, 1000);

    timer = setInterval(function () {
      document.getElementById("app").innerHTML = sec--;
      if (sec == -1) {
        clearInterval(timer);
        console.log("Время закончилось");
        // circleLeft.classList.remove("circleLeftAnim");
        // circleRight.classList.remove("circleRightAnim");
        removeCountAnimation();
        getFakeResult();
      }
    }, 1000);
  }


  startBtn.addEventListener("click", function () {
    startBtn.classList.add("fadetoright");
    quizStartText.classList.add("fadetobottom");
    quizStartBlock.classList.add("hide");
    quizSection.classList.remove("hide");
    getNewQuestion()

    setTimeout(() => {
      myTimer();
    }, 1000);
  });

  //push questions into availableQuestions arr
  function setAvailableQuestions() {
    const totalQuestion = quiz.length;
    for (let i = 0; i < totalQuestion; i++) {
      availableQuestions.push(quiz[i]);
    }
    // console.log(savailableQuestions);
  }

  //set question number and question options
  function getNewQuestion() {
    //set question number
    count.classList.remove("fadeOut");
    count.classList.add("fadeIn");

    // if (questionCounter === 1) {
    //   playVideo("#v1");
    // }

    // if (questionCounter === 3) {
    //   playVideo("#v1");
    // }

    if (questionCounter === quiz.length) {
      clearInterval(intervalId);
    }

    questionNumber.innerHTML = `Вопрос ${questionCounter + 1}  из ${quiz.length}`;

    console.log("Вопрос номер " + questionCounter);

    //set question text

    const questionIndex = availableQuestions[0];
    currentQuestion = questionIndex;
    // console.log(currentQuestion);
    questionText.innerHTML = currentQuestion.q;

    title.innerHTML = currentQuestion.theme;
    // subTitle.innerHTML = currentQuestion.year;

    // questionPic.src = currentQuestion.pic;
    quizSection.style.backgroundImage = "url(" + currentQuestion.pic + ")";

    // const answerPopupVideo = document.querySelector(".answer-popup video");
    // answerPopupVideo.src = "video/" + currentQuestion.video;

    const answerPopupText = document.querySelector(".answer-popup__text");
    answerPopupText.innerHTML = currentQuestion.correct;

    const index1 = availableQuestions.indexOf(questionIndex);
    availableQuestions.splice(index1, 1);

    //set options
    const optionLen = currentQuestion.options.length;

    // console.log(currentQuestion.options);

    //Push options into availibleOptions arr
    for (let i = 0; i < optionLen; i++) {
      availableOptions.push(i);
    }
    // console.log(availableOptions);

    optionContainer.innerHTML = "";
    let animationDelay = 0.2;

    //create options in html
    setTimeout(() => {
      for (let i = 0; i < optionLen; i++) {
        const optonIndex =
          availableOptions[Math.floor(Math.random() * availableOptions.length)];
        // const optonIndex = availableQuestions[0];

        const index2 = availableOptions.indexOf(optonIndex);
        availableOptions.splice(index2, 1);

        const option = document.createElement("div");
        option.innerHTML = `<p> ${currentQuestion.options[optonIndex]} </p>`;
        option.id = optonIndex;
        option.style.animationDelay = animationDelay + "s";
        // option.style.animationName = "fadeIn";
        // option.style.animationDuration = 0.8 + "s";
        // option.style.animationFillMode = "forwards";
        animationDelay = animationDelay + 0.2;
        option.className = "option";
        // option.classList.add("fadeIn");
        optionContainer.appendChild(option);
        option.setAttribute("onclick", "getResult(this)");

        const par = option.querySelector("p");
        par.style.animationDelay = animationDelay + "s";
      }
    }, 1000);

    questionCounter++;
  }

  function getFakeResult() {
    count.classList.remove("fadeIn");
    count.classList.add("fadeOut");
    document.querySelector(".question-text").classList.add("scale-out");
    document.querySelector(".option-container").classList.add("scale-out");
    animateLogo.classList.add("fadetoright");
    setTimeout(() => {
      animeteBg.classList.add("fadetoright");
    }, 200);

    circleLeft.classList.add("paused");
    circleRight.classList.add("paused");

    circleLeft.classList.remove("circleLeftAnim");
    circleRight.classList.remove("circleRightAnim");

    setTimeout(function () {
      answerPopup.classList.remove("hide");
      answerPopup.classList.add("show");
      answerPopup.querySelector(".answer-popup__title").innerHTML =
        "Внимание! Правильный ответ:";
      // answerPopup.querySelector("video").play();
    }, 800);

    attemt++;

    unclickableOptions();
  }

  //get result of current question
  function getResult(element) {
    clearInterval(timer);
    const id = parseInt(element.id);
    circleLeft.classList.add("paused");
    circleRight.classList.add("paused");

    circleLeft.classList.remove("circleLeftAnim");
    circleRight.classList.remove("circleRightAnim");

    //compere answer id of clicked option
    if (id === currentQuestion.answer) {
      console.log("correct");
      //set green color to correct option
      element.classList.add("correct");

      //add indicator corrects mark
      updateAnswersIndicator("correct");
      correctAnswers++;
      setTimeout(() => {
        document.querySelector(".question-text").classList.add("scale-out");
        document.querySelector(".option-container").classList.add("scale-out");
      }, 500);

      setTimeout(function () {
        answerPopup.classList.remove("hide");
        answerPopup.classList.add("show");
        answerPopup.querySelector(".answer-popup__title").innerHTML =
          "Вы ответили верно!";
        // answerPopup.querySelector("video").play();
      }, 1000);
    } else {
      console.log("incorrect");
      //set red color to incorrect option
      element.classList.add("wrong");
      //add indicator incorrect mark
      updateAnswersIndicator("wrong");

      // if the answer is incorrect show correct by adding class
      // const optionLen = optionContainer.children.length;
      // for (let i = 0; i < optionLen; i++) {
      //   if (parseInt(optionContainer.children[i].id) === currentQuestion.answer) {
      //     optionContainer.children[i].classList.add("correct");
      //   }
      // }

      attemt++;
      console.log("не правильных ответов " + attemt);

      // document.querySelector(".question-text").classList.add("scale-out");
      // document.querySelector(".option-container").classList.add("scale-out");

      setTimeout(() => {
        document.querySelector(".question-text").classList.add("scale-out");
        document.querySelector(".option-container").classList.add("scale-out");
      }, 500);

      setTimeout(function () {
        answerPopup.classList.remove("hide");
        answerPopup.classList.add("show");
        answerPopup.querySelector(".answer-popup__title").innerHTML =
          "Внимание! Правильный ответ:";
        // answerPopup.querySelector("video").play();
      }, 1000);
    }
    unclickableOptions();

    setTimeout(() => {
      // document.querySelector(".option:nth-child(1)").classList.add("scale-out");
      // document.querySelector(".option:nth-child(2)").classList.add("scale-out");
      // document.querySelector(".option:nth-child(3)").classList.add("scale-out");

      // circleLeft.classList.add("paused");
      // circleRight.classList.add("paused");

      circleLeft.classList.remove("circleLeftAnim");
      circleRight.classList.remove("circleRightAnim");
      count.classList.remove("fadeIn");
      count.classList.add("fadeOut");
    }, 800);

    setTimeout(() => {
      document.querySelector(".quiz-footer").style.overflowY = "hidden";
    }, 800);

    // quizBox.style.backgroundImage = "none";

    setTimeout(() => {
      animateLogo.classList.add("fadetoright");
      animeteBg.classList.add("fadetoright");
    }, 800);

    // setTimeout(function () {
    //   if (questionCounter === quiz.length) {
    //     console.log("quiz over");
    //     quizOver();
    //   } else {
    //     clearInterval(intervalId);
    //     next();
    //   }
    //   // next();
    // }, 1000);
  }

  //Disable option after check answer
  function unclickableOptions() {
    const optionLen = optionContainer.children.length;

    for (let i = 0; i < optionLen; i++) {
      optionContainer.children[i].classList.add("already-answered");
    }
  }

  function answersIndicator() {
    const totalQuestion = quiz.length;
    for (let i = 0; i < totalQuestion; i++) {
      const indicator = document.createElement("div");
      answersIndicatorContainer.appendChild(indicator);
    }
  }

  function updateAnswersIndicator(markType) {
    answersIndicatorContainer.children[questionCounter - 1].classList.add(
      markType
    );
  }

  function next() {
    if (questionCounter === quiz.length) {
      console.log("quiz over");
      // timer(false);

      clearInterval(timer);
      quizOver();

      count.classList.add("fadeOut");
      document.querySelector(".quiz-footer").style.overflowY = "hidden";
    } else {
      answerPopup.classList.add("hide");
      answerPopup.classList.remove("show");
      setTimeout(() => {
        animateLogo.classList.remove("fadetoright");
        animeteBg.classList.remove("fadetoright");
      }, 800);

      setTimeout(function () {
        document.querySelector(".question-text").classList.remove("scale-out");
        document.querySelector(".option-container").classList.remove("scale-out");
      }, 500);

      // if (questionCounter === 5) {
      //   playVideo("#v2");
      // } else if (questionCounter === 12) {
      //   playVideo("#v3");
      // } else if (questionCounter === 21) {
      //   playVideo("#v4");
      // } else if (questionCounter === 28) {
      //   playVideo("#v5");
      // } else {
      //   clearInterval(timer);
      //   // setTimeout(getNewQuestion, 1500);
      //   setTimeout(() => {
      //     getNewQuestion();
      //   }, 500);
      // }
      getNewQuestion();

      count.classList.add("fadeOut");
      document.querySelector(".quiz-footer").style.overflowY = "visible";
      myTimer();
    }
  }

  function quizOver() {
    title.innerHTML = `ВИКТОРИНА ЗАВЕРШЕНА`;
    title.style.fontSize = "30px";
    document.querySelector(".question-theme-main").style.height = "112px";
    document.querySelector(".question-theme-main").style.backgroundSize = "cover";

    quizSection.style.backgroundImage = "none";

    // subTitle.innerHTML = "";

    quizBox.classList.add("hide");
    resultBox.classList.remove("hide");
    resultBox.querySelector(".results-box-popup").classList.add("show");
    resultBoxTitle.innerHTML =
      `Вы ответили правильно на ` +
      correctAnswers +
      " " +
      enumerate(correctAnswers, ["вопрос", "вопроса", "вопросов"]);
    // clearInterval(intervalId);
    clearInterval(intervalId);
  }

  function enumerate(num, dec) {
    if (num > 100) num = num % 100;
    if (num <= 20 && num >= 10) return dec[2];
    if (num > 20) num = num % 10;
    return num === 1 ? dec[0] : num > 1 && num < 5 ? dec[1] : dec[2];
  }

  window.onload = function () {
    //1-set all questions in availableQuestions arr
    setAvailableQuestions();

    //2- call getNewQuestion()
    // getNewQuestion();

    //4- answer indicator

    answersIndicator();
  };


</script>

{% endblock %}
