---
title: Исследование нитей
description: Description index
---
{% set pageDeepzoom = true %}
{% set pageInner = false %}
{% set research = true %}
{% extends "layouts/_layout.html" %}

{% block content %}

<style>
  .displayregion {
    border-color: red !important;
  }
</style>

<div class="pagination">
  <ul class="pagination__list">
    <li class="pagination__item"><a href="index.html">На главную</a></li>
    <li class="pagination__item"><a href="about.html">Дети Венеры - О шпалере</a></li>
    <li class="pagination__item"><a>Сюжеты</a></li>
  </ul>
</div>

<main class="page__content">

  <div class="ssb ssb__info-expanded  ssb--theme-1">
    <div id="ssb-banner" class="ssb-banner"></div>
    <div id="ssb__info" class="ssb__info">
      <button class="ssb__info-toggle-button ssb__info-toggle-button--close" type="button">
        <svg class="ssb__info-toggle-button" aria-hidden="true" width="15" height="15">
          <use href="images/sprite_auto.svg#arrow-down"></use>
        </svg>
      </button>
      <div class="ssb__info-inner">
        <div class="ssb__welcome">
          <h1>ШПАЛЕРА «ТРИУМФ НАДЕЖДЫ»</h1>
          <h2>{{ title }}</h2>
          <p>Технико-технологические исследования являются обязательным этапом работ перед началом реставрации. В ходе
            проведения микроскопических исследований, изучаются параметры отобранных образцов нитей, природа и степень
            их сохранности. С помощью высокоэффективной жидкостной хроматографии и метода молекулярной спектроскопии
            определяется природа красителей, использовавшихся при крашении волокон и нитей шпалер. Результаты
            исследований учитываются при составлении программы реставрации.</p>

          <audio class="ssb__info-audio">
          </audio>
        </div>
        <div class="ssb__info-container">
          <h2 class="ssb__info-main-title"></h2>
          <div class="ssb__info-img-container">
            <img class="ssb__info-img" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs%3D" alt="">
          </div>
          <h3 class="ssb__info-title"></h3>
          <div class="ssb__info-description"></div>
          <audio class="ssb__info-audio" src="audio/main-theme.mp3">
            <source type="audio/wav" />
          </audio>
        </div>
      </div>
    </div>
    <div id="ssb-controls" class="ssb__controls is-expanded">
      <div class="ssb__controls-buttons">
        <div class="ssb__controls-button  ssb__controls-zoom-in icon-zoom-in" title="Увеличить">
          <svg class="ssb__controls-button-icon" aria-hidden="true" width="18" height="18">
            <use href="images/sprite_auto.svg#plus"></use>
          </svg>
        </div>
        <div class="ssb__controls-button  ssb__controls-zoom-out icon-zoom-out" title="Уменьшить">
          <svg class="ssb__controls-button-icon" aria-hidden="true" width="18" height="18">
            <use href="images/sprite_auto.svg#minus"></use>
          </svg>
        </div>
        <div class="ssb__controls-button  ssb__controls-reset icon-reset" title="Вернуться к исходному размеру">
          <svg class="ssb__controls-button-icon" aria-hidden="true" width="36" height="36">
            <use href="images/sprite_auto.svg#back"></use>
          </svg>
        </div>
        <div class=" ssb__controls-button ssb__controls-toggle-hotspots icon-hide-hotspots" title="Выключить метки">
          <svg class="ssb__controls-button-icon" aria-hidden="true" width="36" height="36">
            <use href="images/sprite_auto.svg#marker"></use>
          </svg>
        </div>
        <div class="ssb__controls-button ssb__controls-toggle-info icon-info" title="О проекте">
          <svg class="ssb__controls-button-icon" aria-hidden="true" width="36" height="36">
            <use href="images/sprite_auto.svg#info"></use>
          </svg>
        </div>
      </div>
      <div class="ssb__controls-toggle ssb__controls-toggle--open" title="Свернуть панель управления">
        <svg class="ssb__controls-button-icon" aria-hidden="true" width="15" height="15">
          <use href="images/sprite_auto.svg#arrow-down"></use>
        </svg>
      </div>
    </div>
  </div>
</main>
{% endblock %}
