---
title: Шпалеры в Москве и МО
description: Description index
---
{% set pageInner = true %}
{% set map = true %}
{% extends "layouts/_layout.html" %}


{% block content %}

<main class="page__content">

  <section class="mapbox">
    <div class='poimapbox-sidebar'>
      <div class='poimapbox-heading'>
        <h1 class='poimapbox-list-header-h1'>{{title}}</h1>
      </div>
      <div id='poimapbox-listings' class='poimapbox-listings'></div>
    </div>
    <div id='poimapbox-map' class='poimapbox-map'> </div>
  </section>

</main>



{% endblock %}
