---
title: Шпалеры в русском жилом интерьере второй половины XIX века
description: Description index
---
{% set pageInner = true %}
{% extends "layouts/_layout.html" %}


{% block content %}
<main class="page__content">
  <section class="textpage">
    <div class="textpage__wrapper">
      <div class="textpage__article">
        <h1> <span>Шпалеры в русском жилом <br> интерьере второй половины XIX века</span></h1>
        <div class="textpage__head-text  textpage__head-text--no-image">
          <p>В начале XIX столетия русская культура оказалась под воздействием идей
            романтизма, пришедших из Западной Европы. Первенство здесь принадлежало
            блистательному Петербургу и императорскому двору, который воспринимал все
            европейские новшества. Помимо императорской семьи, заказчиками интерьеров в
            нео-готическом стиле, которым более всего увлекались романтики, выступала
            аристократия, буржуазия, чиновничество и обеспеченная интеллигенция.</p>
        </div>

        <p>Увлечение нео-готикой охватило и Москву. Однако оно не получило такого
          широкого распространения, как в Петербурге, из-за консервативности московского
          общества и его неторопливой реакции на все новое. И все же некоторые москвичи
          не преминули украсить свои жилища в соответствии со столичной модой. Активная
          роль личных вкусов заказчиков находила отражение в пространственно-
          планировочных особенностях создаваемых интерьеров.</p>

        <p>В период новой архитектурной эстетики и нового стиля второй половины
          XIX века, получившего название историзма, особое внимание уделялось созданию
          архитектурно-художественных решений жилых интерьеров, вызывавших у
          образованных зрителей литературные и исторические ассоциации.</p>

        <p>Значительное влияние на организацию жилого интерьера неоготики оказали
          вкусы крупного московского купечества. Они заказывали новые здания в
          готическом стиле Ф.О. Шехтелю (1859–1926) и П.С. Бойцову (1849 — после 1918),
          уделявшим особое внимание отбору исторических образцов в качестве прототипа
          для того или иного помещения - строго в соответствии с его назначением.
          Созданию уюта и тепла способствовало использование в интерьере тяжелых
          бархатных тканей, мягких ковров и шпалер.</p>

        <p>Проектируя внутреннюю отделку особняков С.П. Дервиза (1888–1890; ул.
          Садовая-Черногрязская, д. 6) и П.И. Харитоненко (1891–1893; ул.
          Софийская набережная, д. 14/12), Фёдор Осипович Шехтель
          декорировал стены парадных лестниц французскими шпалерами-вердюрами с
          популярными сюжетами, показывающими сцены природы.</p>
      </div>
    </div>

    <div class="textpage__images-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <figure>
            <a data-fancybox href="/img/article-3/pic-1-1-full.jpg" data-caption="Парадная лестница в особняке С.П. фон Дервиза. 1886 г. Проект интерьеров Ф.О. Шехтель. <br>
                Фото: В. Скляров"><img src="/img/article-3/pic-1-1.png" alt="" loading="lazy"></a>
            <figcaption>
              <p>Парадная лестница в особняке С.П. фон Дервиза. 1886 г. Проект интерьеров — Ф.О. Шехтель. <br>
                Фото: В. Скляров</p>
            </figcaption>
          </figure>
        </div>
        <div class="swiper-slide">
          <figure>
            <a data-fancybox href="/img/article-3/pic-1-2-full.jpg" data-caption="Панорама парадной лестницы в городской усадьбе П.И. Харитоненко. 1891-1893 гг. <br>
                Проект
                интерьеров Ф.О. Шехтель. <br>
                Фото: В. Скляров"><img src="/img/article-3/pic-1-2.png" alt="" loading="lazy"></a>
            <figcaption>
              <p>Панорама парадной лестницы в городской усадьбе П.И. Харитоненко. 1891–1893 гг. <br>
                Проект интерьеров — Ф.О. Шехтель. <br>
                Фото: В. Скляров</p>
            </figcaption>
          </figure>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>

    <div class="textpage__wrapper">
      <div class="textpage__article">
        <p>Точная конфигурация и размеры вердюр, учитывающие особенности
          пространственно-планировочных решений и особенности крепления в специально
          подготовленных простенках, свидетельствуют о том, что Шехтель размещал
          специальные заказы на изготовление шпалер в ткацких мастерских Франции.
          Особенно примечательны две шпалеры — с сюжетами охоты и прогулок знати — в
          особняке П.И. Харитоненко, повторяющие сюжеты шпалер из серии «Охота
          Максимилиана» (Брюссель, первая половина XVI века, мастерская Виллема
          Дермуаена), хранящихся в Лувре.</p>

        <div class="textpage__gallery" style="margin-bottom: 20px;">
          <figure>
            <a data-fancybox href="/img/article-3/pic-1-3-full.png" data-caption="Шпалера «Охота в Гренендале (Месяц Сентябрь)». Повторение XIX века серии «Охоты Максимилиана». <br>
                По картонам Бернарда ван Орлея (1488–1541) и Яна II Тонса (около 1500 – 1569/70), Брюссель, 1531–1533
                гг. <br> Франция, Обюссон (?), конец XIX в. <br>
                Хлопок, шерсть, шелк, шпалерное ткачество, 460 × 720 см. <br>
                Фото: А. Кудрявицкий"><img src="/img/article-3/pic-1-3.png" alt="" loading="lazy"></a>
            <figcaption>
              <p>Шпалера «Охота в Гренендале (Месяц Сентябрь)». Повторение XIX века серии «Охоты Максимилиана». <br>
                По картонам Бернарда ван Орлея (1488–1541) и Яна II Тонса (около 1500 – 1569/70), Брюссель, 1531–1533
                гг. <br> Франция, Обюссон (?), конец XIX в. <br>
                Хлопок, шерсть, шелк, шпалерное ткачество, 460 × 720 см. <br>
                Фото: А. Кудрявицкий</p>
            </figcaption>
          </figure>
        </div>

        <div class="textpage__gallery" style="margin-bottom: 25px;">
          <figure>
            <a data-fancybox href="/img/article-3/pic-1-4-full.png" data-caption="Шпалера «Погоня за оленем (Месяц Август)». Повторение XIX века серии «Охоты Максимилиана». <br>
                По картонам Бернарда ван
                Орлея (1488–1541) и Яна II Тонса (около 1500 – 1569/70), Брюссель, 1531–1533 гг. <br>
                Франция, Обюссон (?), конец XIX в. <br>
                Хлопок, шерсть, шелк, шпалерное ткачество, 460 × 720 см. <br>
                Фото: А. Кудрявицкий"><img src="/img/article-3/pic-1-4.png" alt="" loading="lazy"></a>
            <figcaption>
              <p>Шпалера «Погоня за оленем (Месяц Август)». Повторение XIX века серии «Охоты Максимилиана». <br>
                По картонам Бернарда ван
                Орлея (1488–1541) и Яна II Тонса (около 1500 – 1569/70), Брюссель, 1531–1533 гг. <br>
                Франция, Обюссон (?), конец XIX в. <br>
                Хлопок, шерсть, шелк, шпалерное ткачество, 460 × 720 см. <br>
                Фото: А. Кудрявицкий</p>
            </figcaption>
          </figure>
        </div>

        <p>Вероятно, этому способствовала и французская художественно-
          промышленная выставка, проходившая в Москве на Ходынском поле в мае —
          октябре 1891 года. Специальный раздел выставки был посвящен
          французскому искусству, а также продукции мастерских, специализировавшихся на
          изготовлении мебели, ковров, шпалер, мебельных тканей, изделий из бронзы,
          керамики и фарфора, серебра, золота и драгоценных камней. Организаторы
          выставки всячески старались наладить деловые контакты между французскими
          изготовителями и русскими заказчиками. Стремясь получить выгодные заказы,
          торговые представители крупнейших ткацких мастерских Франции и Бельгии
          печатали и распространяли специальные альбомы с репродукциями известных
          шпалерных серий в воображаемых и исторических интерьерах.</p>
      </div>
    </div>

    <div class="textpage__images-slider" style="margin-bottom: 65px;">
      <div class="swiper-wrapper" style="align-items: flex-start;">
        <div class="swiper-slide">
          <figure>
            <a data-fancybox href="/img/article-3/pic-1-5-full.jpg"
               data-caption="Иллюстрированное описание Французской выставки в Москве / [Ред.-изд. Н. Борисов]. <br> 1891. № 1. [Москва], 1891. 43."><img
                   src="/img/article-3/pic-1-5.png" alt="" loading="lazy"></a>
            <figcaption>
              <p>Иллюстрированное описание Французской выставки в Москве / [Ред.-изд. Н. Борисов]. <br> 1891. № 1.
                [Москва], 1891. 43.</p>
            </figcaption>
          </figure>
        </div>
        <div class="swiper-slide">
          <figure>
            <a data-fancybox href="/img/article-3/pic-1-6-full.jpg"
               data-caption="План размещения павильонов на Французской выставке в Москве в 1891 г."><img
                   src="/img/article-3/pic-1-6.png" alt="" loading="lazy"></a>
            <figcaption>
              <p>План размещения павильонов на Французской выставке в Москве в 1891 г.</p>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>

    <div class="textpage__images-slider" style="margin-bottom: 45px;">
      <div class="swiper-wrapper" style="align-items: flex-start;">
        <div class="swiper-slide">
          <figure>
            <a data-fancybox href="/img/article-3/pic-1-7-full.jpg" data-caption="Репродукции известных гобеленов для последующего использования в оформлении интерьеров. <br>
                По акварелям Адриэна Симонтона (Adrien Simonetone). <br>
                Воспр. по: Tapisserie. Pilon, Huet & Ricotard, Éditeurs – Paris. SA"><img
                   src="/img/article-3/pic-1-7.png" alt="" loading="lazy"></a>
            <figcaption>
              <p>Репродукции известных гобеленов для последующего использования в оформлении интерьеров. <br>
                По акварелям Адриэна Симонтона (Adrien Simonetone). <br>
                Воспр. по: Tapisserie. Pilon, Huet & Ricotard, Éditeurs – Paris. SA</p>
            </figcaption>
          </figure>
        </div>
        <div class="swiper-slide">
          <figure>
            <a data-fancybox href="/img/article-3/pic-1-8-full.jpg" data-caption="Репродукции известных гобеленов для последующего использования в оформлении интерьеров. По акварелям Адриэна Симонтона
              (Adrien Simonetone). <br> Воспр. по: Tapisserie. Pilon, Huet & Ricotard, Éditeurs – Paris. SA"><img
                   src="/img/article-3/pic-1-8.png" alt="" loading="lazy"></a>
            <figcaption>
              <p>Репродукции известных гобеленов для последующего использования в оформлении интерьеров. По акварелям
                Адриэна Симонтона
                (Adrien Simonetone). <br> Воспр. по: Tapisserie. Pilon, Huet & Ricotard, Éditeurs – Paris. SA</p>
            </figcaption>
          </figure>
        </div>
        <div class="swiper-slide">
          <figure>
            <a data-fancybox href="/img/article-3/pic-1-9-full.jpg" data-caption="Репродукции известных гобеленов для последующего использования в оформлении интерьеров. По акварелям Адриэна Симонтона (Adrien Simonetone). <br>
                Воспр. по: Tapisserie. Pilon, Huet & Ricotard, Éditeurs – Paris. SA"><img
                   src="/img/article-3/pic-1-9.png" alt="" loading="lazy"></a>
            <figcaption>
              <p>Репродукции известных гобеленов для последующего использования в оформлении интерьеров. По акварелям
                Адриэна Симонтона (Adrien Simonetone). <br>
                Воспр. по: Tapisserie. Pilon, Huet & Ricotard, Éditeurs – Paris. SA</p>
            </figcaption>
          </figure>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>

    <div class="textpage__wrapper">
      <div class="textpage__article">
        <p>Оформляя парадные интерьеры особняка С.П. Берга (1897–1898; Денежный
          пер., д. 5), Н.В. Игумнова (1893–1894; ул. Большая Якиманка, д. 43,), подмосковные замки Н.А. Веригиной в
          Подушкино
          (1885–1887) (Ил.10)
          и Б.В. Святополк-Четвертинского в Успенском (1881–1884), Пётр
          Семёнович Бойцов использовал шпалеры, принадлежавшие самим владельцам.
          Решая убранство оформляемых помещений, Бойцов виртуозно вписал «тканые
          истории», наряду с другими произведениями изобразительного и декоративно-
          прикладного искусства, в общий ритм отделки помещений.</p>

        <p>Находясь в едином комплексе художественного убранства, шпалеры стали
          важной частью продуманной мифологической, литературной и сценографической
          программы интерьеров, а также композиционных эффектов, рассчитанных на
          определенное воздействие на зрителя, как бы вдруг оказавшегося в сказочном мире.</p>
      </div>
    </div>
  </section>
</main>

{% endblock %}
