---
title: Квест
description: Description index
---
{% extends "layouts/_layout.html" %}

{% block content %}

<div class="pagination">
  <ul class="pagination__list">
    <li class="pagination__item"><a href="index.html">На главную</a></li>
    <li class="pagination__item"><a href="about.html">Триумф Надежды</a></li>
    <li class="pagination__item"><a>{% if title %}{{ title }}{% else %}Название страницы{% endif %}</a></li>
  </ul>
</div>

<main class="page__content">
  <div class="quiz" id="slickQuiz">
    <div class="quiz__wrapper">
      <h1 class="quizName">
        <!-- where the quiz name goes -->
      </h1>

      <div class="quizArea">
        <div class="quizHeader">
          <!-- where the quiz main copy goes -->

          <a class="quiz__button startQuiz" href="#">Начать квест</a>
        </div>

        <!-- where the quiz gets built -->
      </div>

      <div class="quizResults">
        <h3 class="quizScore">You Scored: <span>
            <!-- where the quiz score goes -->
          </span></h3>

        <h3 class="quizLevel"><strong>Ranking:</strong> <span>
            <!-- where the quiz ranking level goes -->
          </span></h3>

        <div class="quizResultsCopy">
          <!-- where the quiz result copy goes -->
        </div>
      </div>
    </div>

  </div>
</main>



<script>

  var quizJSON = {

    info: {
      name: "Онлайн-квест для детей и подростков (10+)",
      main: "<p>Небольшой вступительный текст. В конце можно вывести количество правильных ответов если нужно. Изображение объекта на шпалере (выделенное или фрагментированное) появляется вместе с вопросом. Подписи, выделенные курсивом, появляются вместе с изображениями и являются пояснениями к ответам.Правильные ответы выделены жирным шрифтом.Изображения муляжей, гербария, могут быть заменены авторскими фото.</p>",
      results:
        `<p>Вы отлично справились! Форма пока ничего не отправляет</p>
        <form action="#" class="quiz__form">
          <label>
            <p>Имя</p><input type="text" name="Имя">
          </label>
          <label>
            <p>Фамилия</p><input type="text" name="Фамилия">
          </label>
          <label>
            <p>Email</p><input type="text" name="Email">
          </label>
          <button type="submit">Получить приз</button>
        </form>
        `,

    },
    questions: [
      {
        // Question 1 - Multiple Choice, Single True Answer
        q: `
        <div class="question__wrapper">
        <p>На шпалере «Иоанн Креститель» мы видим изображение плодов и листьев растения, которое по-научному называется Смоковница обыкновенная (Ficus carica L.). В христианстве она является образом мудрости, исцеления, благополучия, божьего благословения. Как ещё называют это растение? Выбери правильные ответы.</p>
        <a class="textpage__img-popup" title="Описание для попапа" href="https://inaturalist-open-data.s3.amazonaws.com/photos/3069933/large.jpg"><img src="https://inaturalist-open-data.s3.amazonaws.com/photos/3069933/large.jpg" alt="Изображение фрагмента шпалеры"></a>
        </div>`,
        a: [
          { option: "инжир", correct: true },
          { option: "финик", correct: false },
          { option: "винная ягода", correct: true },
          { option: "смо́ква", correct: true },
          { option: "фиговое дерево", correct: true },
          { option: "фикус каучуконосный", correct: false }, // no comma here
        ],
        correct:
          `<div class="quiz__answer">
            <div class="quiz__answer-text">
            <p>
            <span>Верно!</span>
            Смоковница обыкновенная – это фикус колхидский. Фикус каучуконосный относится к тому же роду и является ближайшим родственником смоковницы. Финик относится к другому семейству Пальмовые.</p>
            </div>
            <div class="quiz__answer-gallery">
              <a class="img-popup" data-caption="Описание для попапа" href="https://inaturalist-open-data.s3.amazonaws.com/photos/3069933/large.jpg?1456595822"><img src="https://inaturalist-open-data.s3.amazonaws.com/photos/3069933/large.jpg?1456595822"></a>
              <a class="img-popup" data-caption="Описание для попапа" href="https://inaturalist-open-data.s3.amazonaws.com/photos/3069933/large.jpg?1456595822"><img src="https://inaturalist-open-data.s3.amazonaws.com/photos/3069933/large.jpg?1456595822">
              </a><a class="img-popup" data-caption="Описание для попапа" href="https://inaturalist-open-data.s3.amazonaws.com/photos/3069933/large.jpg?1456595822"><img src="https://inaturalist-open-data.s3.amazonaws.com/photos/3069933/large.jpg?1456595822"></a>
              <a class="img-popup" data-caption="Описание для попапа" href="https://inaturalist-open-data.s3.amazonaws.com/photos/3069933/large.jpg?1456595822"><img src="https://inaturalist-open-data.s3.amazonaws.com/photos/3069933/large.jpg?1456595822"></a>
            </div>
          </div>
          `,
        incorrect:
          `<div class="quiz__answer  quiz__answer--incorrect">
            <p>
            <span>Не верно!</span></p>
            </div>
          </div>`,
        select_any: false // no comma here
      },
      {
        // Question 2 - Multiple Choice, Multiple True Answers, Select Any
        q: `
        <div class="question__wrapper">
          <p>На шпалере «Иоанн Креститель» мы видим плоды дерева, по форме напоминающие женскую фигуру, расширенную книзу. Поэтому в античности она ассоциировалась с богиней красоты Афродитой (Венерой).</p>
        </div>
        `,
        a: [
          { option: "Яблоко", correct: false },
          { option: "Груша", correct: true },
          { option: "Апельсин", correct: false },
          { option: "Ежевика", correct: false }, // no comma here
        ],
        select_any: false,
        correct:
          `<div class="quiz__answer">
            <div class="quiz__answer-text">
            <p><span>Верно</span> Груша с её сладкими плодами часто появляется в изображениях Девы Марии с младенцем Иисусом. Она указывает на сладость добродетели.</p>
            </div>
          </div>`,
        incorrect:
          `<div class="quiz__answer  quiz__answer--incorrect">
            <p>
            <span>Не верно!</span></p>
            </div>
          </div>`, // no comma here
      },
      {
        // Question 3 - Multiple Choice, Multiple True Answers, Select All
        q: `
        <div class="question__wrapper">
          <p>Плод этого дерева — аллегория церкви, способной объединять в вере много разных людей. К этому утверждению люди пришли в древности, изучив строение плода.</p>
        </div>`,
        a: [
          { option: "Гранат", correct: true },
          { option: "Груша", correct: false },
          { option: "Яблоко", correct: false },
          { option: "Мандарин", correct: false }, // no comma here
        ],
        correct:
          `<div class="quiz__answer">
          <div class="quiz__answer-text">
            <p><span>Верно</span> Плод граната содержит много семян, объединённых под одной оболочкой.</p>
          </div>
        </div>
        `,
        incorrect:
          `<div class="quiz__answer  quiz__answer--incorrect">
            <p>
            <span>Не верно!</span></p>
            </div>
          </div>`, // no comma here
      },
      {
        // Question 4
        q: `
        <div class="question__wrapper">
          <p>На шпалере «Иоанн Креститель» мы видим плод, который в разные времена в различных культурах являлся символом вечной молодости и красоты, раздора и любви, искушения и греха.</p>
        </div>`,
        a: [
          { option: "Яблоко", correct: true },
          { option: "Шиповник", correct: false },
          { option: "Клубника", correct: false },
          { option: "Ежевика", correct: false }, // no comma here
        ],
        correct:
          `<div class="quiz__answer">
            <div class="quiz__answer-text">
            <p><span>Верно</span> Яблоки Гесперид – символ вечной молодости. <br>Яблоко любви и раздора привело к Троянской войне.</p>
            </div>
            </div>`,
        incorrect:
          `<div class="quiz__answer  quiz__answer--incorrect">
            <p>
            <span>Не верно!</span></p>
            </div>
          </div>`
      },
      {
        // Question 5
        q: `
        <div class="question__wrapper">
          <p>В христианской религии красная роза — символ милосердия и мученичества, она выросла из капель крови Христа на Голгофе, а её шипы — символ Страстей Господних. Какое ещё название розе дали учёные-ботаники?</p>
        </div>`,
        a: [
          { option: "Шиповник", correct: true },
          { option: "Клубника", correct: false },
          { option: "Ежевика", correct: false },
          { option: "Яблоко", correct: false }, // no comma here
        ],
        correct: "<p><span>Good Job!</span> You must be very observant!</p>",
        incorrect:
          `<div class="quiz__answer  quiz__answer--incorrect">
            <p>
            <span>Не верно!</span></p>
            </div>
          </div>`
      }, // no comma here
      {
        // Question 6
        q: `
        <div class="question__wrapper">
          <p>По современным представлениям в христианстве несколько растений считают райским Древом познания Добра и Зла. Выбери правильные ответы.</p>
          </div>`,
        a: [
          { option: "Гранат", correct: true },
          { option: "Слива", correct: false },
          { option: "Яблоня", correct: true },
          { option: "Апельсин", correct: true },
          { option: "Груша", correct: false },
          { option: "Финик", correct: false }, // no comma here
        ],
        correct:
          `<div class="quiz__answer">
            <div class="quiz__answer-text">
            <p><span>Верное</span> Чаще всего считают, что это — яблоня. В латинском языке есть слово \"malum\", обозначающее одновременно \"зло\" и \"яблоко\". Средневековые богословы могли рассуждать так: вкусив от Древа познания, первые люди совершили зло, а значит, плод был плодом зла, то есть яблоком. Но филологи считают, что в слове \"malum\", обозначающем \"зло\", звук \"a\" короткий, а в случае с \"яблоком\" — долгий \"mālum\". В Библии также не уточняется, что это было за дерево. В разных культурах, почитающих Писание, сформировались различные представления на этот счёт. В иудаизме чаще всего считают, что это были смоквы (фиги); в исламе – персик. Некоторые богословы упоминаю гранат, апельсин и вишни. </p>
            </div>
            </div>
        `,
        incorrect:
          `<div class="quiz__answer  quiz__answer--incorrect">
            <p>
            <span>Не верно!</span></p>
            </div>
          </div>`
      }, // no comma here
    ],
  };
</script>
{% endblock %}
