---
title: Зарождение шпалерного качества
description: Description index
---
{% set pageInner = true %}
{% extends "layouts/_layout.html" %}


{% block content %}

<main class="page__content">
  <section class="textpage">
    <div class="textpage__wrapper">
      <div class="textpage__article">
        <h1> <span>Зарождение <br> шпалерного качества</span></h1>
        <div class="textpage__head-text  textpage__head-text--no-image">
          <p>Слово «шпалера» происходит от итальянского слова «spalliera». В эпоху Возрождения оно означало «спинка
            кровати», «спинка
            скамьи», «настенное украшение за
            мебелью». Этимология слова «шпалера» от настенного
            украшения до стенного ковра без ворса отражает сложную историю этого монументального и благородного вида
            прикладного искусства.</p>
        </div>

        <figure>
          <a data-fancybox href="/img/article-1/pic-1-full.jpg" data-caption="Вставка-медальон с изображением бога Нила. Египет. IV в. Лен, шерсть, переплетение, &lt;br&gt;
              гобеленовая техника, летающая игла. 29 × 29,5 см.
              ГМИИ им. А.С. Пушкина. Инв. ИГ-884, I.1.а 5822"><img src="/img/article-1/pic-1.png" alt=""
                 loading="lazy"></a>
          <figcaption>
            <p>Вставка-медальон с изображением бога Нила. Египет. IV в. Лен, шерсть, переплетение, <br>
              гобеленовая техника, летающая игла. 29 × 29,5 см.
              ГМИИ им. А.С. Пушкина. Инв. ИГ-884, I.1.а 5822</p>
          </figcaption>
        </figure>

        <p>В старых русских — и не только —
          текстах встречается термин «араццо» — <i>«arazzo»</i> —
          измененное на итальянский лад название французского
          города Арраса (Arras) на севере Франции, который был
          крупным центром производства и торговли стенными
          коврами в Средневековье. Во многих европейских языках
          термины, обозначающие шпалеры, то есть безворсовые
          стенные ковры, являются синонимами понятия «стенные
          обои» или «стенные панели». Балансируя между
          утилитарной функцией — материала для декора стен — и
          своей высокой ценностью произведения искусства особой
          репрезентативности, шпалерная техника ткачества
          сопровождает человечество как минимум со времени самых
          ранних цивилизаций.</p>

      </div>
    </div>

    <div class="textpage__images-slider  swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <figure>
            <a data-fancybox href="/img/article-1/pic-2-full.png"
               data-caption="Фрагмент изделия из узорной ткани с пришитой на угол плетеной тесьмой. IX — начало &lt;br&gt;
                VIII в. до н. э. Раннескифское время. Саяно-Алтай, Республика Тыва (Тува), курган Аржан.&lt;br&gt;
                Шерсть, полотняное переплетение, уточный репс. 11 × 8,5 см. Государственный Эрмитаж. Инв. 2878/163"><img src="/img/article-1/pic-2.png"
                   alt="фрагмент коптской ткани из коллекции ГМИИ" loading="lazy"></a>
            <figcaption>
              <p>Фрагмент изделия из узорной ткани с пришитой на угол плетеной тесьмой. IX — начало <br>
                VIII в. до н. э. Раннескифское время. Саяно-Алтай, Республика Тыва (Тува), курган Аржан.<br>
                Шерсть, полотняное переплетение, уточный репс. 11 × 8,5 см. Государственный Эрмитаж. Инв. 2878/163</p>
            </figcaption>
          </figure>
        </div>
        <div class="swiper-slide">
          <figure>
            <a data-fancybox href="/img/article-1/pic-1-1-full.png" data-caption="Чепрак из белого войлока, крытый шерстяной тканью. Пазырыкские курганы. IV–III в. до &lt;br&gt;
                н. э. Горный Алтай. Шерсть, волочение, шпалерное ткачество. 235 × 60 см (без кистей).&lt;br&gt;
                Государственный Эрмитаж. Инв. № 1687-100"><img src="/img/article-1/pic-1-1.png" alt="Фото"
                   loading="lazy"></a>
            <figcaption>
              <p>Чепрак из белого войлока, крытый шерстяной тканью. Пазырыкские курганы. IV–III в. до <br>
                н. э. Горный Алтай. Шерсть, волочение, шпалерное ткачество. 235 × 60 см (без кистей).<br>
                Государственный Эрмитаж. Инв. № 1687-100</p>
            </figcaption>
          </figure>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>


    <div class="textpage__wrapper">
      <div class="textpage__article">
        <p>Шпалера — стенной ковер, вытканный из шерсти с
          добавлением шелка, а также в зависимости от региона и
          периода — льна, хлопка и серебряных и позолоченных нитей,
          украшенный узорами и сюжетными изображениями,
          эволюционировал от толстой шерстяной ткани, которая
          служила для разграничения внутренних помещений и
          утепления стен. Они были известны уже в ранней античности,
          описание техники ткачества на станке неоднократно
          встречается у Гомера:</p>

        <div class="textpage__head-text  textpage__head-text--no-image">
          <p>Жило в пространном дворце пятьдесят рукодельных невольниц: <br>
            Рожь золотую мололи одни жерновами ручными,
            Нити сучили другие и ткали, сидя за станками
            Рядом, подобные листьям трепещущим тополя; ткани ж
            Были так плотны, что в них не впивалось и тонкое масло.
            Сколь феакийские мужи отличны в правлении были
            Быстрых своих кораблей на морях, столь отличны их жены
            Были в тканье: их богиня Афина сама научила...</p>
          <p><small>Гомер. Одиссея. Песнь VII, 100-110</small></p>
        </div>

        <p>Технику шпалерного ткачества знали и активно использовали
          в Древнем Египте, Древних Греции и Риме. Широко известны
          коптские ткани, вытканные в шпалерной технике из очень
          тонких шерстяных и шелковых нитей. Самые ранние образцы
          шпалерного ткачества хранятся в Государственном Эрмитаже,
          например фрагмент шерстяной ткани IX–VIII веков до н.э. из
          раскопок в Туве или попона из Пазырыка на Алтае, сшитая из
          пурпурной ткани, вытканной в шпалерной технике в V веке до
          н.э.
          Через Римскую империю и затем Византию античное
          шпалерное ткачество пришло в европейскую средневековую
          культуру. Отдельным центром распространения шпалерного
          ткачества стали северные европейские страны, в которых
          было развито производство шерсти. Сегодня известны
          примеры средневековых стенных ковров, вытканных в
          Германии и Скандинавии в XII–XIII веках.
          На Востоке шпалерное ткачество широко известно и
          используется до сих пор для изготовления напольных ковров,
          однако здесь эту технику называют «килимное ткачество».
        </p>

        <h2>техника <br>шпалерного качества </h2>

        <p>Шпалеры ткут на ручных станках, которые по своему типу
          делятся на горизонтальные и вертикальные. На
          горизонтальных станках, которые в большей степени были
          распространены во Фландрии, шпалера обращена к ткачу
          изнаночной стороной, в результате чего готовый ковер
          получался в зеркальном отражении к картону. Художнику
          нужно было учитывать эту особенность еще на этапе эскиза.</p>

      </div>
    </div>

    <div class="textpage__images-slider  swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <figure>
            <a data-fancybox href="/img/article-1/pic-3-1-full.jpg" data-caption="Работа ткача за горизонтальным ткацким станком. Воспр. по: &lt;br&gt;
                L’Encyclopédie Diderot & d’Alembert. Tapisserie des Goblins. Inter-Livres. &lt;br&gt;
                2002. PL. XV"><img src="/img/article-1/pic-3-1.png" alt="фрагмент коптской ткани из коллекции ГМИИ"
                   loading="lazy"></a>
            <figcaption>
              <p>Работа ткача за горизонтальным ткацким станком. Воспр. по: <br>
                L’Encyclopédie Diderot & d’Alembert. Tapisserie des Goblins. Inter-Livres. <br>
                2002. PL. XV</p>
            </figcaption>
          </figure>
        </div>
        <div class="swiper-slide">
          <figure>
            <a data-fancybox href="/img/article-1/pic-3-2-full.jpg" data-caption="Горизонтальные станки в ткацкой мастерской мануфактуры Гобеленов. Воспр. по: &lt;br&gt;
                L’Encyclopédie Diderot & d’Alembert. Tapissier. Tapisserie des Goblins. Inter-Livres. 2002. PL.1"><img
                   src="/img/article-1/pic-3-2.png" alt="Фото" loading="lazy"></a>
            <figcaption>
              <p>Горизонтальные станки в ткацкой мастерской мануфактуры Гобеленов. Воспр. по: <br>
                L’Encyclopédie Diderot & d’Alembert. Tapissier. Tapisserie des Goblins. Inter-Livres. 2002. PL.1</p>
            </figcaption>
          </figure>
        </div>
        <div class="swiper-slide">
          <figure>
            <a data-fancybox href="/img/article-1/pic-3-3-full.jpg" data-caption="Горизонтальный ткацкий станок. Воспр. по: L’Encyclopédie Diderot & d’Alembert. Tapisserie &lt;br&gt;
                des Goblins. Inter-Livres. 2002. PL. VII–VIII"><img src="/img/article-1/pic-3-3.png" alt="Фото"
                   loading="lazy"></a>
            <figcaption>
              <p>Горизонтальный ткацкий станок. Воспр. по: L’Encyclopédie Diderot & d’Alembert. Tapisserie <br>
                des Goblins. Inter-Livres. 2002. PL. VII–VIII</p>
            </figcaption>
          </figure>
        </div>
        <div class="swiper-slide">
          <figure>
            <a data-fancybox href="/img/article-1/pic-3-4-full.jpg" data-caption="Современный горизонтальный ткацкий станок на мануфактуре Гобеленов. © 2004 David Monniaux. Лицензия: &lt;br&gt;
                https://creativecommons.org/licenses/by-sa/3.0/deed.en"><img src="/img/article-1/pic-3-4.png"
                   alt="Фото" loading="lazy"></a>
            <figcaption>
              <p>Современный горизонтальный ткацкий станок на мануфактуре Гобеленов. © 2004 David Monniaux. Лицензия:
                <br>
                https://creativecommons.org/licenses/by-sa/3.0/deed.en
              </p>
            </figcaption>
          </figure>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>

    <div class="textpage__wrapper">
      <div class="textpage__article">

        <p>Вертикальный станок позволял ткать шпалеру с лицевой
          стороны, что давало более широкие возможности в
          нюансировке, но значительно замедляло работу. Такие
          станки охотно использовали на мануфактуре Гобеленов в
          Париже и Императорской шпалерной мануфактуре в
          Петербурге.</p>

      </div>
    </div>

    <div class="textpage__images-slider  swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <figure>
            <a data-fancybox href="/img/article-1/pic-3-5-full.jpg"
               data-caption="Вертикальный ткацкий станок. Воспр. по: &lt;br&gt; L’Encyclopédie Diderot & d’Alembert. Tapissier. <br> Tapisserie des Goblins. Inter-Livres. 2002. PL. VII"><img
                   src="/img/article-1/pic-3-5.png" alt="фрагмент коптской ткани из коллекции ГМИИ" loading="lazy"></a>
            <figcaption>
              <p>Вертикальный ткацкий станок. Воспр. по: <br>
                L’Encyclopédie Diderot & d’Alembert. Tapissier. <br>
                Tapisserie des Goblins. Inter-Livres. 2002. PL. VII</p>
            </figcaption>
          </figure>
        </div>
        <div class="swiper-slide">
          <figure>
            <a data-fancybox href="/img/article-1/pic-3-6-full.jpg" data-caption="Вертикальные станки в ткацкой мастерской мануфактуры Гобеленов. Воспр. по: &lt;br&gt;
                L’Encyclopédie Diderot & d’Alembert. &lt;br&gt;
                Tapissier. Tapisserie des Goblins. Inter-Livres. 2002. PL.1"><img src="/img/article-1/pic-3-6.png"
                   alt="Фото" loading="lazy"></a>
            <figcaption>
              <p>Вертикальные станки в ткацкой мастерской мануфактуры Гобеленов. Воспр. по: <br>
                L’Encyclopédie Diderot & d’Alembert. <br>
                Tapissier. Tapisserie des Goblins. Inter-Livres. 2002. PL.1</p>
            </figcaption>
          </figure>
        </div>
        <div class="swiper-slide">
          <figure>
            <a data-fancybox href="/img/article-1/pic-3-7-full.jpg"
               data-caption="Работа ткача за вертикальным станком. Воспр. по: &lt;br&gt; L’Encyclopédie Diderot & d’Alembert.<br>Tapissier. Tapisserie des Goblins. Inter-Livres. 2002. PL. XI"><img
                   src="/img/article-1/pic-3-7.png" alt="Фото" loading="lazy"></a>
            <figcaption>
              <p>Работа ткача за вертикальным станком. Воспр. по: <br>
                L’Encyclopédie Diderot & d’Alembert. <br>
                Tapissier. Tapisserie des Goblins. Inter-Livres. 2002. PL. XI</p>
            </figcaption>
          </figure>
        </div>
        <div class="swiper-slide">
          <figure>
            <a data-fancybox href="/img/article-1/pic-3-8-full.jpg" data-caption="Работа ткача за вертикальным станком. Воспр. по: &lt;br&gt; L’Encyclopédie Diderot & d’Alembert.&lt;br&gt;
                Tapissier. Tapisserie des Goblins. Inter-Livres. 2002. PL. IX"><img src="/img/article-1/pic-3-8.png"
                   alt="Фото" loading="lazy"></a>
            <figcaption>
              <p>Работа ткача за вертикальным станком. Воспр. по: <br>
                L’Encyclopédie Diderot & d’Alembert. <br>
                Tapissier. Tapisserie des Goblins. Inter-Livres. 2002. PL. IX</p>
            </figcaption>
          </figure>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>

    <div class="textpage__dark-section  textpage__dark-section--pb30">
      <div class="textpage__wrapper">
        <div class="textpage__article">
          <p>Производство шпалер — это коллективное ремесло, в
            котором было занято множество специалистов, и каждый на
            определенном этапе выполнял свою функцию.</p>

          <figure>
            <a data-fancybox href="/img/article-1/pic-5-1-full.png" data-caption="Рубенс, Питер Пауль, Мастерская; Теодор ван Тюльден.&lt;br&gt;
                Охота Мелеагра и Аталанты (Калидонская охота). &lt;br&gt;
                Картон для шпалеры&lt;br&gt;
                Середина 1630-х гг. Хертогенбос, Нидерланды.&lt;br&gt;
                Бумага, наклеенная на холст, масло. 346 × 646 см. &lt;br&gt;
                Государственный Эрмитаж. Инв. ГЭ 9647"><img src="/img/article-1/pic-5-1.png" alt="Фото"
                   loading="lazy"></a>
            <figcaption>
              <p>Рубенс, Питер Пауль, Мастерская; Теодор ван Тюльден.<br>
                Охота Мелеагра и Аталанты (Калидонская охота). <br>
                Картон для шпалеры<br>
                Середина 1630-х гг. Хертогенбос, Нидерланды.<br>
                Бумага, наклеенная на холст, масло. 346 × 646 см. <br>
                Государственный Эрмитаж. Инв. ГЭ 9647</p>
            </figcaption>
          </figure>

          <p>Работа над
            шпалерой всегда начиналась с эскиза художника. Хороший
            художник — гарантия красивого и технологически
            правильного рисунка. Эскиз после согласования и
            утверждения заказчиком переводили в модель — картину, а с
            нее изготавливали картон — эскиз будущего ковра в
            натуральную величину. В разные времена для картона
            использовали различные техники. В&nbsp;Средние века картон
            рисовали чернилами на льняной ткани, затем к ним
            добавились водяные и масляные краски, примерно с XVI века
            картоны делали на больших листах бумаги, которые для
            прочности клеили на холст. Картон применялся на станке для
            исполнения с него ковра, его располагали под нитями
            основы, и ткач в своей работе следовал контурам и цветовым
            градациям. Часто на картоне номерами помечали области
            того или иного цвета.</p>
        </div>
      </div>
    </div>


    <div class="textpage__wrapper">
      <div class="textpage__article  textpage__article--pt30">
        <div class="textpage__gallery">
          <figure>
            <a data-fancybox href="/img/article-1/pic-6-1-full.jpg" data-caption="Монах – красильщик шерсти. Страница из книги “Hausbuch der Landauerschen &lt;br&gt;
                Zwölfbrüderstiftung” Band 1. Нюрнберг, Фонд дома двенадцати братьев Ландауэрше, 1511–1706 гг. Пергамент,
                лист 13. &lt;br&gt;
                29,5 х 20,5 см. Источник: https://hausbuecher.nuernberg.de/75-Amb-2-279-13-r/data"><img
                   src="/img/article-1/pic-6-1.png" alt="Фото" loading="lazy"></a>
            <figcaption>
              <p>
                Монах – красильщик шерсти. Страница из книги “Hausbuch der Landauerschen <br>
                Zwölfbrüderstiftung” Band 1. Нюрнберг, Фонд дома двенадцати братьев Ландауэрше, 1511–1706 гг. Пергамент,
                лист 13. <br>
                29,5 х 20,5 см. Источник: https://hausbuecher.nuernberg.de/75-Amb-2-279-13-r/data
              </p>
            </figcaption>
          </figure>
        </div>

        <p>После того, как были подготовлены и спрядены нити,
          наступала очередь красильщиков, которые окрашивали нити
          в заданные оттенки. Увеличение количества
          цветов, так же как и использование золоченых и серебряных
          нитей, значительно удорожало будущий ковер. За
          соблюдением технологии крашения строго следили гильдии
          шерстянщиков.
        </p>

        <div class="textpage__gallery">
          <figure>
            <a data-fancybox href="/img/article-1/pic-6-2-full.jpg"
               data-caption="Веласкес Диего. «Пряхи». Холст, масло, 1655–1660. Музей Прадо, &lt;br&gt;
                 Мадрид. 220 × 289 см. &lt;br&gt;
              Инв. № Р 001173. Источник: К.М. Малицкая. Музей Прадо. &lt;br&gt; Мадрид. М.: Изобразительное искусство, 1971. Ил. 31"><img src="/img/article-1/pic-6-2.png"
                   alt="Фото" loading="lazy"></a>
            <figcaption>
              <p>Веласкес Диего. «Пряхи». Холст, масло, 1655–1660. Музей Прадо, <br>
                Мадрид. 220 × 289 см. <br>
                Инв. № Р 001173. Источник: К.М. Малицкая. Музей Прадо. <br> Мадрид. М.: Изобразительное искусство, 1971.
                Ил. 31
              </p>
            </figcaption>
          </figure>
        </div>

        <p>Самый длительный период работы был у ткачей. Обычно над
          одним ковром трудились несколько мастеров. Скорость
          работы зависела от плотности основы и, соответственно, от
          количества узлов на 1 кв. см. В среднем один ткач мог
          выткать примерно от 0,5 до 1 кв. м ковра за год. В
          зависимости от сложности рисунка и количества цветов
          работа над одной крупной шпалерой могла продолжаться на
          протяжении нескольких лет.</p>

        <p>У ткачей была своя специализация. Самыми
          высокооплачиваемыми были мастера, ткавшие лица, руки и
          фигуры. Были мастера, которые делали только пейзажи или
          орнаментальные бордюры. Ремесло, как правило,
          предавалось по наследству, обучение начиналось уже в
          детстве. В шпалерных центрах складывались целые династии
          ткачей, что способствовало оттачиванию мастерства.</p>
      </div>
    </div>

    <div class="textpage__gold-section">
      <div class="textpage__wrapper">
        <div class="textpage__article">
          <h3>Золотой век шпалерного ткачества <br>ЮЖНЫЕ НИДЕРЛАНДЫ В XVI ВЕКЕ</h3>

          <p>На натянутой основе из шерсти или льна по расположенному
            снизу картону изображения ткали шерстяной или шелковой
            пряжей и металлическими нитями. Для шпалерного ткачества
            использовали нить из шерсти специальной породы
            длинношерстных овец: такие нити не имеют ворсистости и
            позволяют создавать гладкую поверхность. По основе ткач
            мог выполнить проходы маленькими челноками, на которых
            были намотаны нити разных цветов, варьируя способы
            переплетения утка и основы, направления узлов, стыковки
            участков различных цветов. Количество узлов, а,
            следовательно, и тонкость рисунка, зависела от плотности
            основы, которая колебалась в Европе от 4 до 12 нитей основы
            на 1 см.</p>
        </div>
      </div>
    </div>

    <div class="textpage__wrapper">
      <div class="textpage__article">

        <div class="textpage__gallery">
          <figure>
            <a data-fancybox href="/img/article-1/pic-7-1-full.png"
               data-caption="Шпалера «Аполлон и знаки зодиака». Из серии «Времена года. Гротески». Середина XVI в. &lt;br&gt;
                Брюссель, Южные Нидерланды. Шерсть, шелк, золотные нити, шпалерное ткачество. 394 × 585 см. Государственный Эрмитаж. Инв. Т 15623"><img
                   src="/img/article-1/pic-7-1.png" alt="Фото" loading="lazy"></a>
            <figcaption>
              <p>Шпалера «Аполлон и знаки зодиака». Из серии «Времена года. Гротески». Середина XVI в. <br>
                Брюссель, Южные Нидерланды. Шерсть, шелк, золотные нити, шпалерное ткачество. 394 × 585 см. <br>
                Государственный Эрмитаж. Инв. Т 15623
              </p>
            </figcaption>
          </figure>
        </div>

        <p>Во Фландрии очень строго регламентировалось
          качество материалов, шерстяных и шелковых нитей,
          красителей, что обусловило прекрасное состояние шпалер,
          сохранившихся до наших дней. Наряду с Брюсселем на
          протяжении XVI века крупными фламандскими шпалерными
          центрами стали города Антверпен, Брюгге, Ауденарде,
          Ангиен. С первой половины XVI столетия во Фландрии
          работал целый ряд крупных мастеров, владельцев
          мастерских, таких как семья Гёбель, Питер ван Алст,
          Паннемакер, ван ден Хекке и другие.</p>

        <p>В начале XVI века в Европе сформировался обширный
          рынок шпалер, и мастерским потребовалась защита их
          авторских прав. В Брюсселе в 1528 году специальным указом
          было введено правило маркировать шпалеры маркой города
          — «BB» (Брюссель — Брабант). С 1544-го требование ткать
          марку распространилось на все Нидерланды.</p>

        <div class="textpage__gallery">
          <figure>
            <a data-fancybox href="/img/article-1/pic-8-1-full.jpg" data-caption="Сикстинская Капелла. 2010 г. Источник: Raphael’s tapestries. The grotesques of Leo X. &lt;br&gt;
                Lorraine Karafel. Yele university press. New Haven and London. 2016. Ил. 117"><img
                   src="/img/article-1/pic-8-1.png" alt="Фото" loading="lazy"></a>
            <figcaption>
              <p>Сикстинская Капелла. 2010 г. Источник: Raphael’s tapestries. The grotesques of Leo X. <br>
                Lorraine Karafel. Yele university press. New Haven and London. 2016. Ил. 117
              </p>
            </figcaption>
          </figure>
        </div>

        <p>В 1515 году Рафаэль и его ученики по заказу папы римского Льва X написали серию картонов для шпалер «Деяния
          апостолов».
          Восемь шпалер предназначалось для украшения Сикстинской капеллы, они были исполнены в Брюсселе в мастерской
          Питера ван
          Алста под наблюдением Бернара ван Орлея. Картоны Рафаэля очень отличались от фламандских шпалер того времени.
          Объемно
          трактованные фигуры уже не заполняли всю поверхность ковра, а располагались на фоне пейзажей с хорошо
          переданным
          пространством. Только широкие бордюры придавали им сходство со стенным ковром. Эти шпалеры оказали огромное
          влияние на
          все шпалерное ткачество XVI века.</p>

        <div class="textpage__gallery">
          <figure>
            <a data-fancybox href="/img/article-1/pic-8-2-full.png"
               data-caption="Шпалера «Явление Мадонны». Из серии «Легенда о Саблонской Мадонне». 1518 г. Южные Нидерланды.&lt;br&gt; Шерсть, шелк, шпалерное ткачество. 346 × 538 см. Государственный Эрмитаж. Инв. Т 2976"><img
                   src="/img/article-1/pic-8-2.png" alt="Фото" loading="lazy"></a>
            <figcaption>
              <p>Шпалера «Явление Мадонны». Из серии «Легенда о Саблонской Мадонне». 1518 г. Южные Нидерланды.<br>
                Шерсть, шелк, шпалерное ткачество. 346 × 538 см. Государственный Эрмитаж. Инв. Т 2976
              </p>
            </figcaption>
          </figure>
        </div>

        <p>Переход от готики к Возрождению в шпалерном ткачестве
          происходил постепенно. Фламандские художники приезжали
          учиться в Италию, а затем возвращались на родину с новыми
          умениями. Одним из лучших мастеров эпохи Ренессанса в
          шпалерном ткачестве был Бернар ван Орлей (между 1487 и
          1491–1541). Талант, интерес к монументальным
          композициям, знакомство с работами итальянских
          художников и особенно с творчеством Рафаэля помогли ему
          найти новые пути для развития фламандских шпалер,
          не отказываясь от бытовавших традиций.
          Шпалеры середины и второй половины XVI века постепенно
          сближались с живописью, хотя средневековые каноны все
          еще сохранялись до конца столетия, что придавало стенным
          коврам декоративность, отличающую их от фресок.</p>

        <div class="textpage__gallery">
          <figure>
            <a data-fancybox href="/img/article-1/pic-8-3.png" data-caption="Ткацкая марка города и герцогства (Брюссель — Брабант). Монограмма ткацкой &lt;br&gt;
                мастерской. Фрагменты шпалеры «Триумф Помпея». ГМИИ им. А.С. Пушкина. Инв. II.2.д135"><img
                   src="/img/article-1/pic-8-3.png" alt="Фото" loading="lazy"></a>
            <figcaption>
              <p>Ткацкая марка города и герцогства (Брюссель — Брабант). Монограмма ткацкой <br>
                мастерской. Фрагменты шпалеры «Триумф Помпея». ГМИИ им. А.С. Пушкина. Инв. II.2.д135
              </p>
            </figcaption>
          </figure>
          <figure style="align-self: flex-start;">
            <a data-fancybox href="/img/article-1/pic-8-4.png" data-caption=""><img src="/img/article-1/pic-8-4.png"
                   alt="Фото" loading="lazy"></a>
          </figure>
        </div>

        <p>Один из крупнейших заказов на фламандские шпалеры в XVI
          веке был сделан для польского короля Сигизмунда II Августа.
          Несколько серий шпалер на ветхозаветные сюжеты были
          заказаны для Вавельского замка, они использовались во
          время бракосочетания короля в 1553 году. Авторство
          картонов серии приписывается Михилю Кокси,
          фламандскому художнику, работавшему при дворах
          Маргариты Пармской и Филиппа II. Знакомство Кокси во
          время его пребывания в Италии в 1529–1539 годах с
          итальянским искусством эпохи Возрождения и в особенности
          с работами Микеланджело, Рафаэля и Себастьяно дель
          Пьомбо повлияло на характер композиции и трактовку
          изображенных персонажей.</p>

        <div class="textpage__gallery">
          <figure>
            <a data-fancybox href="/img/article-1/pic-8-5-full.jpg" data-caption="Зал Сената. Вавельский замок в Кракове. © 2020 Ken Eckert. Источник: &lt;br&gt;
                https://commons.wikimedia.org/wiki/File:Senator%27s_Hall,_Wawel_Castle,_Krakow.jpg &lt;br&gt;
                Лицензия: https://creativecommons.org/licenses/by-sa/4.0/deed.en"><img src="/img/article-1/pic-8-5.jpg"
                   alt="Фото" loading="lazy"></a>
            <figcaption>
              <p>Зал Сената. Вавельский замок в Кракове. © 2020 Ken Eckert. Источник: <br>
                https://commons.wikimedia.org/wiki/File:Senator%27s_Hall,_Wawel_Castle,_Krakow.jpg <br>
                Лицензия: https://creativecommons.org/licenses/by-sa/4.0/deed.en
              </p>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>

    <div class="textpage__dark-section  textpage__dark-section--negative-mb">
      <div class="textpage__wrapper">
        <div class="textpage__article">
          <h2>Мастерские Фландрии в XVII веке</h2>

          <p>После гражданской войны 1560–1570-х годов и массовой
            эмиграции ведущих шпалерных мастеров Нидерланды не
            утратили и даже сумели восстановить в начале XVII века
            прежние объемы своего шпалерного производства, таким
            образом сохранив славу фламандских шпалер. В стенных
            коврах конца XVI — XVII века прослеживается влияние стиля
            барокко, что сказывалось не только на их композиции, но и
            характере бордюров.</p>
        </div>
      </div>
    </div>


    <div class="textpage__wrapper">
      <div class="textpage__article">
        <figure>
          <a data-fancybox href="/img/article-1/pic-9-1-full.png" data-caption="Шпалера «Фетида, принимающая доспехи Ахилла от Гефеста». Из серии «История &lt;br&gt;
              Ахилла». 1630-е – 1653 гг. Фландрия, Брюссель, Мастерская Яна Раеса, по картонам Питера &lt;br&gt;
              Пауля Рубенса, 1630–1635 гг. Шерсть, шелк, шпалерное ткачество. 410 × 455 см. &lt;br&gt;
              Государственный Эрмитаж. Инв. Т 16734"><img src="/img/article-1/pic-9-1.png" alt="Фото"
                 loading="lazy"></a>
          <figcaption>
            <p>Шпалера «Фетида, принимающая доспехи Ахилла от Гефеста». Из серии «История <br>
              Ахилла». 1630-е – 1653 гг. Фландрия, Брюссель, Мастерская Яна Раеса, по картонам Питера <br>
              Пауля Рубенса, 1630–1635 гг. Шерсть, шелк, шпалерное ткачество. 410 × 455 см. <br>
              Государственный Эрмитаж. Инв. Т 16734</p>
          </figcaption>
        </figure>

        <p>Огромное влияние на фламандское и вообще
          европейское шпалерное ткачество оказал Петер Пауль
          Рубенс, который вместе со своей мастерской выполнял
          картоны для шпалер. Помимо Рубенса, картоны для шпалер
          создавал Якоб Йорданс, а также художники их круга. Нередко
          с одного и того же картона в разное время изготавливали
          ковры разные мастерские, так как картоны перепродавались
          на протяжении нескольких десятилетий. Рубенс создал свой
          узнаваемый стиль в шпалерном ткачестве, для которого
          характерны крупные фигуры, занимающие почти всю
          поверхность ковра, как будто едва умещающиеся в тесных
          рамках бордюров, экспрессия и движение, живописность
          красок. В эпоху барокко бордюры стали широкими, с
          крупными изображениями плодов и аллегорических
          мотивов, сочетающихся с основным сюжетом.</p>

        <figure>
          <a data-fancybox href="/img/article-1/pic-10-1-full.png"
             data-caption="Шпалера «Музыка». Из серии «Семь свободных искусств». Вторая половина XVII в. &lt;br&gt;
              Брюгге, Фландрия. Шерсть, шелк, шпалерное ткачество. 384 × 467 см. Государственный Эрмитаж. Инв. Т 2947"><img src="/img/article-1/pic-10-1.png" alt="Фото"
                 loading="lazy"></a>
          <figcaption>
            <p>Шпалера «Музыка». Из серии «Семь свободных искусств». Вторая половина XVII в. <br>
              Брюгге, Фландрия. Шерсть, шелк, шпалерное ткачество. 384 × 467 см. Государственный Эрмитаж. Инв. Т 2947
            </p>
          </figcaption>
        </figure>

        <p>Самые крупные брюссельские мастерские XVII века
          принадлежали старинным семьям Лейнерс, ван ден Хекке,
          Рэс. В этот же период прекрасные мастерские,
          соперничавшие с брюссельскими, работали в Антверпене,
          Ауденарде, Брюгге. Они также стремились заказывать
          картоны лучшим художникам своего времени.</p>

        <div class="textpage__gallery">
          <figure>
            <a data-fancybox href="/img/article-1/pic-10-2-full.png" data-caption="Шпалера «Тит, отпускающий Беренису». Из серии «История Тита и Веспасиана». Конец &lt;br&gt;
                XVII – начало XVIII в. Брюссель, Фландрия. Мастерская Герарда Пееманса. Шерсть, шелк, &lt;br&gt;
                шпалерное ткачество. 376 × 263 см. Государственный Эрмитаж. Инв. Т 2942"><img
                   src="/img/article-1/pic-10-2.png" alt="Фото" loading="lazy"></a>
            <figcaption>
              <p>Шпалера «Тит, отпускающий Беренису». Из серии «История Тита и Веспасиана». Конец <br>
                XVII – начало XVIII в. Брюссель, Фландрия. Мастерская Герарда Пееманса. Шерсть, шелк, <br>
                шпалерное ткачество. 376 × 263 см. Государственный Эрмитаж. Инв. Т 2942</p>
            </figcaption>
          </figure>
        </div>

        <p>Сюжеты шпалер XVII века в целом соответствовали
          вкусам и художественным принципам эпохи барокко: это
          мифологические и религиозные сюжеты из Ветхого и Нового
          Заветов, истории знаменитых полководцев, грандиозные
          батальные сцены и триумфальные шествия победителей.
          Одновременно с коврами на возвышенные сюжеты
          мастерские Фландрии выпускали пейзажные шпалеры-вердюры для украшения частных интерьеров. Свое название
          вердюры получили от французского слова «verdure» —
          «зелень», «листва». Основное их содержание — зеленые
          пейзажи с фигурами животных и птиц на переднем плане,
          архитектурных построек в глубине, иногда в композицию
          вводились небольшие фигурки пастухов и охотников или
          сцены из истории или мифологии, что вместе создавало так
          называемый «сад удовольствий» (Jardin du plaisire).</p>

        <p>В конце XVII века в шпалерное ткачество пришли сюжеты из
          повседневной жизни простых людей, которые ранее
          невозможно было представить в столь возвышенном виде
          художественного ремесла. Композиции небольших картин
          Давида Тенирса Младшего переводились в картоны для
          полноразмерных шпалер, которые получили большое
          признание на европейском рынке в конце XVII — начале
          XVIII века.</p>
      </div>
    </div>

    <div class="textpage__gallery">
      <figure>
        <a data-fancybox href="/img/article-1/pic-10-3-full.jpg" data-caption="Шпалера «Деревенская пирушка». Вторая четверть XVIII в. Фландрия, Брюссель. &lt;br&gt;
            Мастерская Петера ван ден Хекке (ум. 1752), Петера (1712-1763) или Яна Франса ван дер &lt;br&gt;
            Борхта (1720-1765). По картону Яна ван Орлея (?) (1665-1735). Шерсть, шелк; шпалерное &lt;br&gt;
            ткачество. 324 × 435 см. ГМИИ им. А.С. Пушкина. Инв. II2д-9"><img src="/img/article-1/pic-10-3.png"
               alt="Фото" loading="lazy"></a>
        <figcaption>
          <p>Шпалера «Деревенская пирушка». Вторая четверть XVIII в. Фландрия, Брюссель. <br>
            Мастерская Петера ван ден Хекке (ум. 1752), Петера (1712-1763) или Яна Франса ван дер <br>
            Борхта (1720-1765). По картону Яна ван Орлея (?) (1665-1735). Шерсть, шелк; шпалерное <br>
            ткачество. 324 × 435 см. ГМИИ им. А.С. Пушкина. Инв. II2д-9</p>
        </figcaption>
      </figure>
    </div>

    <div class="textpage__wrapper  textpage__wrapper--pb">
      <div class="textpage__article">
        <p>В XVII столетии утвердилась тенденция к международному
          обмену в области производства шпалер. Картоны фламандца
          Рубенса использовались парижскими мастерскими,
          фламандцы, в свою очередь, ткали шпалеры по картонам
          француза Шарля Лебрена, первого живописца короля
          Людовика XIV и директора мануфактуры Гобеленов. В
          течение XVII века фламандских ткачей приглашали в другие
          страны для организации шпалерных производств, поскольку
          они были носителями лучших традиций ремесла.
          В первой половине XVII века Фландрия оставалась
          лидером в производстве стенных ковров, однако вместе с
          тем в это время стали появляться и другие шпалерные
          центры, способные составить ей достойную конкуренцию.</p>
      </div>
    </div>

    <div class="textpage__dark-section textpage__dark-section--negative-mb-smaller">
      <div class="textpage__wrapper">
        <div class="textpage__article">
          <div class="textpage__gallery  textpage__gallery--mt-minus-50per">
            <figure>
              <a data-fancybox href="/img/article-1/pic-11-1-full.png" data-caption="Шпалера «Алфея, сжигающая головню». Из серии «История Мелеагра». 1672–1673 гг. &lt;br&gt;
                  Брюссель, Фландрия, мастерская Яна Лейнерса (1630–1686). Шерсть, шелк, шпалерное &lt;br&gt;
                  ткачество. 400 × 257 см. Государственный Эрмитаж. Инв. Т 2971"><img src="/img/article-1/pic-11-1.png"
                     alt="Фото" loading="lazy"></a>
              <figcaption>
                <p>Шпалера «Алфея, сжигающая головню». Из серии «История Мелеагра». 1672–1673 гг. <br>
                  Брюссель, Фландрия, мастерская Яна Лейнерса (1630–1686). Шерсть, шелк, шпалерное <br>
                  ткачество. 400 × 257 см. Государственный Эрмитаж. Инв. Т 2971</p>
              </figcaption>
            </figure>
          </div>

          <h2>Королевская мануфактура <br> Гобеленов</h2>
          <p>В начале XVII века французский король Генрих IV пригласил из
            Нидерландов ткачей для организации шпалерных мастерских
            в Париже. Картоны для этих мастерских заказывали лучшим
            французским художникам. Самая крупная мастерская была
            организована фламандцами Шарлем Комансом и Рафаэлем
            де ла Планше в предместье Парижа Сен-Жермен. Для этой
            мануфактуры по заказу Людовика XIII Рубенс исполнил
            эскизы картонов серии «История императора Константина»,
            состоящей из 12 шпалер.</p>


          <div class="textpage__gallery">
            <figure>
              <a data-fancybox href="/img/article-1/pic-11-2-full.png" data-caption="Шпалера «Основание Константинополя». Из серии «История императора Константина». &lt;br&gt;
                  1633–1668 гг. По картонам Питера Пауля Рубенса, Мануфактура Рафаэля де ля Планша. &lt;br&gt;
                  Париж, Франция. Шерсть, шелк, шпалерное ткачество. 343 × 348 см. Государственный &lt;br&gt;
                  Эрмитаж. Инв. Т 15602"><img src="/img/article-1/pic-11-2.png" alt="Фото" loading="lazy"></a>
              <figcaption>
                <p>Шпалера «Основание Константинополя». Из серии «История императора Константина». <br>
                  1633–1668 гг. По картонам Питера Пауля Рубенса, Мануфактура Рафаэля де ля Планша. <br>
                  Париж, Франция. Шерсть, шелк, шпалерное ткачество. 343 × 348 см. Государственный <br>
                  Эрмитаж. Инв. Т 15602</p>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>

    <div class="textpage__wrapper">
      <div class="textpage__article">

        <div class="textpage__gallery">
          <figure>
            <a data-fancybox href="/img/article-1/pic-12-1-full.png" data-caption="Шпалера «Аполлон и Диана, убивающие детей Ниобеи». &lt;br&gt;
                Из серии «История Дианы». Мануфактура Команса и Планша. &lt;br&gt;
                Париж, Франция. Первая четверть XVII в. &lt;br&gt;
                Шерсть, шелк, шпалерное ткачество. 321 × 450 см. &lt;br&gt;
                Государственный Эрмитаж. Инв. Т 2972"><img src="/img/article-1/pic-12-1.png" alt="Фото"
                   loading="lazy"></a>
            <figcaption>
              <p>Шпалера «Аполлон и Диана, убивающие детей Ниобеи». <br>
                Из серии «История Дианы». Мануфактура Команса и Планша. <br>
                Париж, Франция. Первая четверть XVII в. <br>
                Шерсть, шелк, шпалерное ткачество. 321 × 450 см. <br>
                Государственный Эрмитаж. Инв. Т 2972</p>
            </figcaption>
          </figure>
        </div>
        <p>В 1662 году в поместье красильщиков шерсти и банкиров
          Гобеленов была запущена Королевская шпалерная
          мануфактура, которая сразу начала выпуск стенных ковров
          наивысшего качества. Успех не был случайностью, поскольку
          во Франции к этому времени был накоплен значительный
          опыт и имелись прекрасные специалисты — как ткачи, так и
          художники. Директором мануфактуры был назначен Шарль
          Лебрен, первый живописец короля. Поддержка государства
          способствовала процветанию мануфактуры Гобеленов и
          немедленному успеху ее продукции. В итоге французские
          ткачи выиграли конкуренцию у фламандцев, и с этого
          времени самые лучшие европейские шпалеры ткались во
          Франции. Первые картоны для мануфактуры делали
          французские художники, но наравне с этим Гобелены
          выпускали серии ковров, своего рода вольные копии с
          фламандских шпалер XVI века. Гобелены часто имеют марку
          мануфактуры — имя руководителя мастерской и год
          исполнения.</p>

        <div class="textpage__images-slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <figure>
                <a data-fancybox href="/img/article-1/pic-12-2-full.jpg" data-caption="Статуя Жана-Батиста Кольбера во внутреннем дворе мануфактуры &lt;br&gt;
                    Гобеленов. Фото: И. Бородин"><img src="/img/article-1/pic-12-2.png" alt="Фото" loading="lazy"></a>
                <figcaption>
                  <p>Статуя Жана-Батиста Кольбера во внутреннем дворе мануфактуры <br>
                    Гобеленов. Фото: И. Бородин</p>
                </figcaption>
              </figure>
            </div>
            <div class="swiper-slide">
              <figure>
                <a data-fancybox href="/img/article-1/pic-12-3-full.jpg"
                   data-caption="Главное здание мануфактуры Гобеленов. Фото: И. Бородин"><img
                       src="/img/article-1/pic-12-3.png" alt="Фото" loading="lazy"></a>
                <figcaption>
                  <p>Главное здание мануфактуры Гобеленов. Фото: И. Бородин</p>
                </figcaption>
              </figure>
            </div>
            <div class="swiper-slide">
              <figure>
                <a data-fancybox href="/img/article-1/pic-12-4-full.png"
                   data-caption="Шпалера «Парнас». Из серии «Ватиканские залы». Копия фрески Рафаэля выполнена Шарлем Дефоре. Картон для гобелена с копии выполнен Жаном-Батистом Монуайе. Королевская шпалерная мануфактура Гобеленов, Мастерская Одрана. 1768-1772 годы. Париж, Франция. &lt;br&gt;Шерсть, шелк, шпалерное ткачество, 483 × 677 см. Государственный Эрмитаж. Инв. Т 2948."><img
                       src="/img/article-1/pic-12-4.png" alt="Фото" loading="lazy"></a>
                <figcaption>
                  <p>Шпалера «Парнас». Из серии «Ватиканские залы». Копия фрески Рафаэля выполнена Шарлем Дефоре. Картон
                    для гобелена с копии выполнен Жаном-Батистом Монуайе. Королевская шпалерная мануфактура Гобеленов,
                    Мастерская Одрана. 1768-1772 годы. Париж, Франция. <br>
                    Шерсть, шелк, шпалерное ткачество, 483 × 677 см.
                    Государственный Эрмитаж. Инв. Т 2948.</p>
                </figcaption>
              </figure>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>

        <p>Надо отметить, что в литературе существует
          терминологическая путаница в отношении употребления
          слов «шпалеры» и «гобелены». Важно помнить, что термин
          «гобелен» подразумевает только шпалеру, вытканную на
          мануфактуре Гобеленов в Париже.</p>

        <div class="textpage__gallery">
          <figure>
            <a data-fancybox href="/img/article-1/pic-12-5-full.jpg"
               data-caption="Гобелен «Въезд Санчо Пансы в Баратарию». Из серии «История Дон Кихота». Сцены в картушах по картонам Шарля Антуана Куапеля 1718–1725 гг. Декоративное обрамление – по картонам Жан-Батиста Блен де Фонтеней, Клода III Одрана и Александра Франсуа Депорта, Мориса Жака – ок. 1763 г. &lt;br&gt;Королевская шпалерная мануфактура Гобеленов, Париж, Мастерская Одрана, 1772 г.
                Шерсть, шелк, шпалерное ткачество. 394 х 438 см.  &lt;br&gt;СПб ГБУК ГМЗ «Гатчина». Инв. ГДМ КП-2129. ГДМ-93-II"><img src="/img/article-1/pic-12-5.png"
                   alt="Фото" loading="lazy"></a>
            <figcaption>
              <p style="max-width: 730px;">Гобелен «Въезд Санчо Пансы в Баратарию». Из серии «История Дон Кихота». Сцены
                в картушах по картонам Шарля Антуана Куапеля 1718–1725 гг. Декоративное обрамление – по картонам
                Жан-Батиста Блен де Фонтеней, Клода III Одрана и Александра Франсуа Депорта,
                Мориса Жака – ок. 1763 г. <br>
                Королевская шпалерная мануфактура Гобеленов, Париж, Мастерская Одрана, 1772 г.
                Шерсть, шелк, шпалерное ткачество. 394 х 438 см. <br>
                СПб ГБУК ГМЗ «Гатчина». Инв. ГДМ КП-2129. ГДМ-93-II</p>
            </figcaption>
          </figure>
        </div>

        <p>На протяжении всего XVIII века Гобелены выпускали большие
          серии шпалер: «Стихии», «Музы», «Ватиканские залы»,
          «Новые» и «Старые Индии». В середине столетия выпускались
          гобелены по картонам Франсуа Буше, оказавшим огромное
          влияние на европейскую текстильную промышленность. Во
          второй половине XVIII века в гобеленовом производстве
          укрепилась тенденция к максимальной имитации масляной
          живописи. Достижения ткачей и красильщиков привели к
          тому, что в одной шпалере могли присутствовать сотни
          оттенков. Это давало почти безграничные возможности для
          имитации живописной поверхности. Даже бордюры шпалер
          стали выполнять в виде массивных лепных золоченых рам.
          Такие шпалеры натягивали на подрамники и вставляли в
          стенные панели.</p>

        <div class="textpage__images-slider  textpage__images-slider--mb">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <figure>
                <a data-fancybox href="/img/article-1/pic-12-6-full.jpg" data-caption="Премацци Луиджи. Акварель «Малиновая гостиная». Из серии «Виды интерьеров Гатчинского дворца». 1872 г.&lt;br&gt;
                    Бумага, картон, акварель, карандаш, белила, кисть. 36,5 × 44,4 см.&lt;br&gt;
                    СПб ГБУК ГМЗ «Гатчина». Инв. ГДМ КП-12450. ГДМ-490-XI"><img src="/img/article-1/pic-12-6.png"
                       alt="Фото" loading="lazy"></a>
                <figcaption>
                  <p>Премацци Луиджи. Акварель «Малиновая гостиная». Из серии «Виды интерьеров Гатчинского дворца». 1872
                    г.<br>
                    Бумага, картон, акварель, карандаш, белила, кисть. 36,5 × 44,4 см.<br>
                    СПб ГБУК ГМЗ «Гатчина». Инв. ГДМ КП-12450. ГДМ-490-XI</p>
                </figcaption>
              </figure>
            </div>
            <div class="swiper-slide">
              <figure>
                <a data-fancybox href="/img/article-1/pic-12-7-full.jpg" data-caption="Гау Эдуард Петрович. Акварель «Тронная Павла I» из серии «Виды интерьеров &lt;br&gt;
                    Гатчинского дворца», 1878. Бумага, картон, акварель, карандаш, белила, кисть. 29,4х42,9 &lt;br&gt;
                    см. СПб ГБУК ГМЗ «Гатчина». Инв. ГДМ КП-7710. ГДМ-423-XI. №ГК-20907736."><img
                       src="/img/article-1/pic-12-7.png" alt="Фото" loading="lazy"></a>
                <figcaption>
                  <p>Гау Эдуард Петрович. Акварель «Тронная Павла I» из серии «Виды интерьеров <br>
                    Гатчинского дворца», 1878. Бумага, картон, акварель, карандаш, белила, кисть. 29,4х42,9 <br>
                    см. СПб ГБУК ГМЗ «Гатчина». Инв. ГДМ КП-7710. ГДМ-423-XI. №ГК-20907736.</p>
                </figcaption>
              </figure>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>

        <div class="textpage__images-slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <figure>
                <a data-fancybox href="/img/article-1/pic-12-8-full.jpg" data-caption="Гобелен «Полосатая лошадь». Из серии «Новые Индии». (Из Верхней Тронной Павла I.) &lt;br&gt;
                    Париж. Королевская шпалерная мануфактура Гобеленов. 1774 г. Мастерская Нельсона по &lt;br&gt;
                    картонам Франсуа Депорта 1737–1741 гг.
                    Шерсть, шелк, шпалерное ткачество. 373 × 499 см.&lt;br&gt;
                    СПб ГБУК ГМЗ «Гатчина». Инв. ГДМ КП-2199. ГДМ-169-II"><img src="/img/article-1/pic-12-8.png"
                       alt="Фото" loading="lazy"></a>
                <figcaption>
                  <p>Гобелен «Полосатая лошадь». Из серии «Новые Индии». (Из Верхней Тронной Павла I.) <br>
                    Париж. Королевская шпалерная мануфактура Гобеленов. 1774 г. Мастерская Нельсона по <br>
                    картонам Франсуа Депорта 1737–1741 гг.
                    Шерсть, шелк, шпалерное ткачество. 373 × 499 см.<br>
                    СПб ГБУК ГМЗ «Гатчина». Инв. ГДМ КП-2199. ГДМ-169-II</p>
                </figcaption>
              </figure>
            </div>
            <div class="swiper-slide">
              <figure>
                <a data-fancybox href="/img/article-1/pic-12-9-full.jpg" data-caption="Гобелен «Двое слуг несут вождя». Из серии «Новые Индии». (Из Верхней Тронной Павла I.) &lt;br&gt;
                    Париж. Королевская шпалерная мануфактура Гобеленов. 1781 г. Мастерская Нельсона по &lt;br&gt;
                    картонам Франсуа Депорта 1737–1741 гг.
                    Шерсть, шелк, шпалерное ткачество. 373 × 499 см.&lt;br&gt;
                    СПб ГБУК ГМЗ «Гатчина». Инв. ГДМ КП-2200. ГДМ-170-II"><img src="/img/article-1/pic-12-9.png"
                       alt="Фото" loading="lazy"></a>
                <figcaption>
                  <p>Гобелен «Двое слуг несут вождя». Из серии «Новые Индии». (Из Верхней Тронной Павла I.) <br>
                    Париж. Королевская шпалерная мануфактура Гобеленов. 1781 г. Мастерская Нельсона по <br>
                    картонам Франсуа Депорта 1737–1741 гг.
                    Шерсть, шелк, шпалерное ткачество. 373 × 499 см.<br>
                    СПб ГБУК ГМЗ «Гатчина». Инв. ГДМ КП-2200. ГДМ-170-II</p>
                </figcaption>
              </figure>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>

        <p>Все гобелены поступали в распоряжение королевского
          двора, поскольку деятельность мануфактуры оплачивалась из
          средств короля. Часто они служили особыми подарками от
          имени французской короны. Во время путешествия во
          Францию великого князя Павла Петровича и великой княгини
          Марии Фёдоровны Людовик XVI подарил им 20 гобеленов,
          хранящихся сегодня в коллекции Государственного Эрмитажа,
          Гатчины и Павловского дворца.</p>

        <a href="tapestry-workshops-in-western-europe.html" class="textpage__read-more-btn">читать дальше</a>

      </div>
    </div>
  </section>
</main>

{% endblock %}
