---
title: Зарождение шпалерного качества
description: Description index
---
{% set pageInner = true %}
{% extends "layouts/_layout.html" %}


{% block content %}

<main class="page__content">
  <section class="textpage">
    <div class="textpage__wrapper">
      <div class="textpage__article">
        <h1> <span>Зарождение <br> шпалерного качества</span></h1>
        <div class="textpage__head-text  textpage__head-text--no-image">
          <p>Слово «шпалера» происходит от итальянского слова «spalliera». В эпоху Возрождения оно означало «спинка
            кровати», «спинка
            скамьи», «настенное украшение за
            мебелью». Этимология слова «шпалера» от настенного
            украшения до стенного ковра без ворса отражает сложную историю этого монументального и благородного вида
            прикладного искусства.</p>
        </div>

        <figure>
          <img src="img/article-1/pic-1.png" alt="фрагмент коптской ткани из коллекции ГМИИ">
          <figcaption>фрагмент коптской ткани из коллекции ГМИИ</figcaption>
        </figure>


        <p>В старых русских — и не только —
          текстах встречается термин «араццо» — «arazzo» —
          измененное на итальянский лад название французского
          города Арраса (Arras) на севере Франции, который был
          крупным центром производства и торговли стенными
          коврами в Средневековье. Во многих европейских языках
          термины, обозначающие шпалеры, то есть безворсовые
          стенные ковры, являются синонимами понятия «стенные
          обои» или «стенные панели». Балансируя между
          утилитарной функцией — материала для декора стен — и
          своей высокой ценностью произведения искусства особой
          репрезентативности, шпалерная техника ткачества
          сопровождает человечество как минимум со времени самых
          ранних цивилизаций.</p>

        <figure>
          <img src="img/article-1/pic-2.png" alt="фрагмент коптской ткани из коллекции ГМИИ">
        </figure>


        <p>Согласно герцогской хартии 1306 года красильные мастерские Брюсселя входили в состав двух различных гильдий:
          мастеров
          <b>«красильного дела»</b> (meestre van de ververen) и мастеров <b>«горячего крашения»</b> (ketelknapen). Как и
          во всех городских
          гильдиях, владельцы красильных мастерских подчинялись старейшинам гильдий — дуайенам, избиравшимся ежегодно из
          состава
          самих мастеров и представлявшим их интересы в коллегии эшевенов — представителей города.
        </p>

        <p>Шпалера — стенной ковер, вытканный из шерсти с
          добавлением шелка, а также в зависимости от региона и
          периода — льна, хлопка и серебряных и позолоченных нитей,
          украшенный узорами и сюжетными изображениями,
          эволюционировал от толстой шерстяной ткани, которая
          служила для разграничения внутренних помещений и
          утепления стен. Они были известны уже в ранней античности,
          описание техники ткачества на станке неоднократно
          встречается у Гомера:</p>

        <div class="textpage__head-text  textpage__head-text--no-image">
          <p>Жило в пространном дворце пятьдесят рукодельных невольниц:
            Рожь золотую мололи одни жерновами ручными,
            Нити сучили другие и ткали, сидя за станками
            Рядом, подобные листьям трепещущим тополя; ткани ж
            Были так плотны, что в них не впивалось и тонкое масло.
            Сколь феакийские мужи отличны в правлении были
            Быстрых своих кораблей на морях, столь отличны их жены
            Были в тканье: их богиня Афина сама научила...</p>
        </div>

        <p>Технику шпалерного ткачества знали и активно использовали
          в Древнем Египте, Древних Греции и Риме. Широко известны
          коптские ткани, вытканные в шпалерной технике из очень
          тонких шерстяных и шелковых нитей. Самые ранние образцы
          шпалерного ткачества хранятся в Государственном Эрмитаже,
          например фрагмент шерстяной ткани IX–VIII веков до н.э. из
          раскопок в Туве или попона из Пазырыка на Алтае, сшитая из
          пурпурной ткани, вытканной в шпалерной технике в V веке до
          н.э.
          Через Римскую империю и затем Византию античное
          шпалерное ткачество пришло в европейскую средневековую
          культуру. Отдельным центром распространения шпалерного
          ткачества стали северные европейские страны, в которых
          было развито производство шерсти. Сегодня известны
          примеры средневековых стенных ковров, вытканных в
          Германии и Скандинавии в XII–XIII веках.
          На Востоке шпалерное ткачество широко известно и
          используется до сих пор для изготовления напольных ковров,
          однако здесь эту технику называют «килимное ткачество».
        </p>

        <h3>техника <br>шпалерного качества </h3>

        <p>Шпалеры ткут на ручных станках, которые по своему типу
          делятся на горизонтальные и вертикальные. На
          горизонтальных станках, которые в большей степени были
          распространены во Фландрии, шпалера обращена к ткачу
          изнаночной стороной, в результате чего готовый ковер
          получался в зеркальном отражении к картону. Художнику
          нужно было учитывать эту особенность еще на этапе эскиза.</p>

        <figure>
          <img src="img/article-1/pic-3.png" alt="Фото">
        </figure>

        <div class="textpage__text-grid">
          <p>Вертикальный станок позволял ткать шпалеру с лицевой
            стороны, что давало им более широкие возможности в
            нюансировке, но значительно замедляло работу. Такие
            станки охотно использовали на мануфактуре Гобеленов в
            Париже и Императорской шпалерной мануфактуре в
            Петербурге.</p>
          <img src="img/article-1/pic-4.png" alt="Фото">
        </div>


      </div>
    </div>

    <div class="textpage__dark-section">
      <div class="textpage__wrapper">
        <div class="textpage__article">
          <figure>
            <img src="img/article-1/pic-5.png" alt="Фото">
            <figcaption>
              Петер Пауль Рубенс, мастерская Теодор ван Тюльден<br>
              Охота Мелеагра и Аталанты (Калидонская охота)<br>
              Картон для шпалеры<br>
              Середина 1630-х<br>
              Бумага, наклеенная на холст, масло</figcaption>
          </figure>

          <p>На натянутой основе из шерсти или льна по расположенному
            снизу картону изображения ткали шерстяной или шелковой
            пряжей и металлическими нитями. Для шпалерного ткачества
            использовали нить из шерсти специальной породы
            длинношерстных овец: такие нити не имеют ворсистости и
            позволяют создавать гладкую поверхность. По основе ткач
            мог выполнить проходы маленькими челноками, на которых
            были намотаны нити разных цветов, варьируя способы
            переплетения утка и основы, направления узлов, стыковки
            участков различных цветов. Количество узлов, а,
            следовательно, и тонкость рисунка, зависела от плотности
            основы, которая колебалась в Европе от 4 до 12 нитей основы
            на 1 см.</p>
        </div>
      </div>
    </div>


    <div class="textpage__wrapper">
      <div class="textpage__article">
        <p>Производство шпалер — это коллективное ремесло, в
          котором было занято множество специалистов, и каждый на
          определенном этапе выполнял свою функцию. Работа над
          шпалерой всегда начиналась с эскиза художника. Хороший
          художник — гарантия красивого и технологически
          правильного рисунка. Эскиз после согласования и
          утверждения заказчиком переводили в модель — картину, а с
          нее изготавливали картон — эскиз будущего ковра в
          натуральную величину. В разные времена для картона
          использовали различные техники. В Средние века картон
          рисовали чернилами на льняной ткани, затем к ним
          добавились водяные и масляные краски, примерно с XVI века
          картоны делали на больших листах бумаги, которые для
          прочности клеили на холст. Картон применялся на станке для
          исполнения с него ковра, его располагали под нитями
          основы, и ткач в своей работе следовал контурам и цветовым
          градациям. Часто на картоне номерами помечали области
          того или иного цвета.
        </p>

        <div class="textpage__gallery">
          <figure>
            <img src="img/article-1/pic-6.png" alt="Фото">
          </figure>
          <figure>
            <img src="img/article-1/pic-7.png" alt="Фото">
            <figcaption>
              L'arte della seta in Firenze,
              trattato del sec,XV, manoscritto
              miniato
              a p.319: oricello, orcella...</figcaption>
          </figure>
        </div>

        <p>После того, как были подготовлены и спрядены нити
          наступала очередь красильщиков, которые окрашивали нити
          в заданное количество оттенков. Увеличение количества
          цветов, также как и использование золоченых и серебряных
          нитей, значительно удорожало будущий ковер. За
          соблюдением технологии крашения строго следили гильдии
          шерстянщиков. </p>

        <p>Самый длительный период работы был у ткачей. Обычно над
          одним ковром трудились несколько мастеров. Скорость
          работы зависела от плотности основы и, соответственно, от
          количества узлов на 1 кв. см. В среднем один ткач мог
          выткать примерно от 0,5 до 1 кв. м ковра за год. В
          зависимости от сложности рисунка и количества цветов
          работа над одной крупной шпалерой могла продолжаться на
          протяжении нескольких лет.
        </p>

        <p>У ткачей была своя специализация. Самыми
          высокооплачиваемыми были мастера, ткавшие лица, руки и
          фигуры. Были мастера, которые делали только пейзажи или
          орнаментальные бордюры. Ремесло, как правило,
          предавалось по наследству, обучение начиналось уже в
          детстве. В шпалерных центрах складывались целые династии
          ткачей, что способствовало оттачиванию мастерства.</p>
      </div>
    </div>

    <div class="textpage__gold-section">
      <div class="textpage__wrapper">
        <div class="textpage__article">
          <h3>Золотой век шпалерного ткачества <br>ЮЖНЫЕ НИДЕРЛАНДЫ В XVI ВЕКЕ</h3>

          <p>На натянутой основе из шерсти или льна по расположенному
            снизу картону изображения ткали шерстяной или шелковой
            пряжей и металлическими нитями. Для шпалерного ткачества
            использовали нить из шерсти специальной породы
            длинношерстных овец: такие нити не имеют ворсистости и
            позволяют создавать гладкую поверхность. По основе ткач
            мог выполнить проходы маленькими челноками, на которых
            были намотаны нити разных цветов, варьируя способы
            переплетения утка и основы, направления узлов, стыковки
            участков различных цветов. Количество узлов, а,
            следовательно, и тонкость рисунка, зависела от плотности
            основы, которая колебалась в Европе от 4 до 12 нитей основы
            на 1 см.</p>
        </div>
      </div>
    </div>

    <div class="textpage__wrapper">
      <div class="textpage__article">

        <figure>
          <img src="img/article-1/pic-8.png" alt="Фото">
        </figure>

        <p>Во Фландрии очень строго регламентировалось
          качество материалов, шерстяных и шелковых нитей,
          красителей, что обусловило прекрасное состояние шпалер,
          сохранившихся до наших дней. Наряду с Брюсселем на
          протяжении XVI века крупными фламандскими шпалерными
          центрами стали города Антверпен, Брюгге, Ауденарде,
          Ангиен. С первой половины XVI столетия во Фландрии
          работал целый ряд крупных мастеров, владельцев
          мастерских, таких как семья Гёбель, Питер ван Алст,
          Паннемакер, ван ден Хекке и другие.</p>

        <p>В начале XVI века в Европе сформировался обширный
          рынок шпалер, и мастерским потребовалась защита их
          авторских прав. В Брюсселе в 1528 году специальным указом
          было введено правило маркировать шпалеры маркой города
          — «BB» (Брюссель — Брабант). С 1544-го требование ткать
          марку распространилось на все Нидерланды.</p>

        <p>Во Фландрии очень строго регламентировалось
          качество материалов, шерстяных и шелковых нитей,
          красителей, что обусловило прекрасное состояние шпалер,
          сохранившихся до наших дней. Наряду с Брюсселем на
          протяжении XVI века крупными фламандскими шпалерными
          центрами стали города Антверпен, Брюгге, Ауденарде,
          Ангиен. С первой половины XVI столетия во Фландрии
          работал целый ряд крупных мастеров, владельцев
          мастерских, таких как семья Гёбель, Питер ван Алст,
          Паннемакер, ван ден Хекке и другие.</p>

        <p>В начале XVI века в Европе сформировался обширный
          рынок шпалер, и мастерским потребовалась защита их
          авторских прав. В Брюсселе в 1528 году специальным указом
          было введено правило маркировать шпалеры маркой города
          — «BB» (Брюссель — Брабант). С 1544-го требование ткать
          марку распространилось на все Нидерланды.</p>
      </div>

    </div>

    <figure>
      <img src="img/article-1/pic-9.png" alt="Фото">
    </figure>

    <div class="textpage__wrapper">
      <div class="textpage__article">
        <p>Переход от готики к Возрождению в шпалерном ткачестве
          происходил постепенно. Фламандские художники приезжали
          учиться в Италию, а затем возвращались на родину с новыми
          умениями. Одним из лучших мастеров эпохи Ренессанса в
          шпалерном ткачестве был Бернар ван Орлей (между 1487 и
          1491–1541). Его талант, интерес к монументальным
          композициям, знакомство с работами итальянских
          художников и особенно с творчеством Рафаэля помогли ему
          найти новые пути для развития фламандских шпалер,
          одновременно не отказавшись от бытовавших традиций.
          Шпалеры середины и второй половины XVI века постепенно
          сближались с живописью, хотя средневековые каноны все
          еще сохранялись до конца столетия, что придавало стенным
          коврам декоративность, отличающую их от фресок.</p>

        <figure>
          <img src="img/article-1/pic-10.png" alt="Фото">
          <figcaption>
            Шпалера «Триумф Помпея» из серии «История Помпея <br>
            Великого» <br>
            Шерсть, шелк. 345 × 455 <br>
            По картону художника круга Михиля Кокси Фландрия, <br>
            Брюссель, вторая половина XVI века <br>
            ГМИИ
          </figcaption>
        </figure>

        <div class="textpage__gallery  textpage__gallery--align-top">
          <figure>
            <img src="img/article-1/pic-11.png" alt="Фото">
            <figcaption>
              На синем бордюре марка Брюсселя и марка
              мастерской</figcaption>
          </figure>
          <figure>
            <img src="img/article-1/pic-12.png" alt="Фото">
          </figure>
        </div>

        <p>Один из крупнейших заказов на фламандские шпалеры в XVI
          веке был сделан для польского короля Сигизмунда II Августа.
          Несколько серий шпалер на ветхозаветные сюжеты были
          заказаны для Вавельского замка, они использовались во
          время бракосочетания короля в 1553 году. Авторство
          картонов серии приписывается Михилю Кокси,
          фламандскому художнику, работавшему при дворах
          Маргариты Пармской и Филиппа II. Знакомство Кокси во
          время его пребывания в Италии в 1529–1539 годах с
          итальянским искусством эпохи Возрождения и в особенности
          с работами Микеланджело, Рафаэля и Себастьяно дель
          Пьомбо повлияло на характер композиции и трактовку
          изображенных персонажей.</p>

        <p>Фламандские ковры производства лучших мастерских,
          вытканные в 1530–1600 годы, часто имеют широкие
          бордюры, которые включают не просто декоративные
          орнаменты, но и отдельные сцены с фигурами, заключенные
          в картушах. Их размещали среди пышных гирлянд и
          аллегорических фигур по периметру основной композиции.
          По смыслу эти малые сцены имеют отношение к основному
          сюжету шпалеры, связывая происходящее событие с
          деяниями предков, библейских или мифологических героев.</p>
      </div>
    </div>

    <div class="textpage__dark-section">
      <div class="textpage__wrapper">
        <div class="textpage__article">
          <p>Как правило, красильные мастерские располагались на берегу реки, что было обусловлено необходимостью иметь
            достаточное
            количество чистой воды. Красильные составы нагревались на каменных печах, часто в каменных чанах,
            расположенных на
            вершине печи. Мотки пряжи погружались в красильный состав и перемешивались деревянной палкой. По окончании
            процесса
            крашения нитки ополаскивались в проточной воде и отжимались в плетеных корзинах. Затем мотки пряжи
            развешивались на
            палках для окончательного просушивания.</p>
        </div>
      </div>
    </div>

    <div class="textpage__gallery-pics">
      <figure>
        <img src="img/article-1/pic-13.png" alt="Фото">
      </figure>
    </div>

    <div class="textpage__wrapper">
      <div class="textpage__article">
        <p>Огромное влияние на фламандское и вообще
          европейское шпалерное ткачество оказал Петер Пауль
          Рубенс, который вместе со своей мастерской выполнял
          картоны для шпалер. Помимо Рубенса, картоны для шпалер
          создавал Якоб Йорданс, а также художники их круга. Нередко
          с одного и того же картона в разное время изготавливали
          ковры разные мастерские, так как картоны перепродавались
          на протяжении нескольких десятилетий. Рубенс создал свой
          узнаваемый стиль в шпалерном ткачестве, для которого
          характерны крупные фигуры, занимающие почти всю
          поверхность ковра, как будто едва умещающиеся в тесных
          рамках бордюров, экспрессия и движение, живописность
          красок. В эпоху барокко бордюры стали широкими, с
          крупными изображениями плодов и аллегорических
          мотивов, сочетающихся с основным сюжетом.</p>

        <figure>
          <img src="img/article-1/pic-14.png" alt="Фото">
        </figure>

        <p>Самые крупные брюссельские мастерские XVII века
          принадлежали старинным семьям Лейнерс, ван ден Хекке,
          Рэс. В этот же период прекрасные мастерские,
          соперничавшие с брюссельскими, работали в Антверпене,
          Ауденарде, Брюгге. Они также стремились заказывать
          картоны лучшим художникам своего времени.</p>

        <figure>
          <img src="img/article-1/pic-15.png" alt="Фото">
        </figure>

        <p>Сюжеты шпалер XVII века в целом соответствовали
          вкусам и художественным принципам эпохи барокко: это
          мифологические и религиозные сюжеты из Ветхого и Нового
          Заветов, истории знаменитых полководцев, грандиозные
          батальные сцены и триумфальные шествия победителей.
          Одновременно с коврами на возвышенные сюжеты
          мастерские Фландрии выпускали пейзажные шпалеры-
          вердюры для украшения частных интерьеров. Свое название
          вердюры получили от французского слова «verdure» —
          «зелень», «листва». Основное их содержание — зеленые
          пейзажи с фигурами животных и птиц на переднем плане,
          архитектурных построек в глубине, иногда в композицию
          вводились небольшие фигурки пастухов и охотников или
          сцены из истории или мифологии, что вместе создавало так
          называемый «сад удовольствий» (Jardin du plaisire).</p>

        <p>В конце XVII века в шпалерное ткачество пришли сюжеты из
          повседневной жизни простых людей, которые ранее
          невозможно было представить в столь возвышенном виде
          художественного ремесла. Композиции небольших картин
          Давида Тенирса Младшего переводились в картоны для
          полноразмерных шпалер, которые получили большое
          признание на европейском рынке в конце XVII — начале
          XVIII века.</p>
      </div>
    </div>

    <figure>
      <img src="img/article-1/pic-16.png" alt="Фото">
    </figure>

    <div class="textpage__wrapper">
      <div class="textpage__article">
        <p>В XVII столетии утвердилась тенденция к международному
          обмену в области производства шпалер. Картоны фламандца
          Рубенса использовались парижскими мастерскими,
          фламандцы, в свою очередь, ткали шпалеры по картонам
          француза Шарля Лебрена, первого живописца короля
          Людовика XIV и директора мануфактуры Гобеленов. В
          течение XVII века фламандских ткачей приглашали в другие
          страны для организации шпалерных производств, поскольку
          они были носителями лучших традиций ремесла.
          В первой половине XVII века Фландрия оставалась
          лидером в производстве стенных ковров, однако вместе с
          тем в это время стали появляться и другие шпалерные
          центры, способные составить ей достойную конкуренцию.</p>

        <figure>
          <img src="img/article-1/pic-17.png" alt="Фото">
        </figure>
      </div>
    </div>

    <div class="textpage__dark-section">
      <div class="textpage__wrapper">
        <div class="textpage__article">
          <h3>Королевская мануфактура <br> Гобеленов</h3>
          <p>В начале XVII века французский король Генрих IV пригласил из
            Нидерландов ткачей для организации шпалерных мастерских
            в Париже. Картоны для этих мастерских заказывали лучшим
            французским художникам. Самая крупная мастерская была
            организована фламандцами Шарлем Комансом и Рафаэлем
            де ла Планше в предместье Парижа Сен-Жермен. Для этой
            мануфактуры по заказу Людовика XIII Рубенс исполнил
            эскизы картонов серии «История императора Константина»,
            состоящей из 12 шпалер.</p>

          <div class="textpage__gallery">
            <figure>
              <img src="img/article-1/pic-18.png" alt="Фото">
            </figure>
          </div>
        </div>
      </div>
    </div>

    <div class="textpage__wrapper">
      <div class="textpage__article">
        <div class="textpage__gallery  textpage__gallery--mt-minus">
          <!-- <figure>
            <img src="img/article-1/pic-18.png" alt="Фото">
          </figure> -->
          <figure>
            <img src="img/article-1/pic-19.png" alt="Фото">
          </figure>
        </div>

        <p>В 1662 году в поместье красильщиков шерсти и банкиров
          Гобеленов была запущена Королевская шпалерная
          мануфактура, которая сразу начала выпуск стенных ковров
          наивысшего качества. Успех не был случайностью, поскольку
          во Франции к этому времени был накоплен значительный
          опыт и имелись прекрасные специалисты — как ткачи, так и
          художники. Директором мануфактуры был назначен Шарль
          Лебрен, первый живописец короля. Поддержка государства
          способствовала процветанию мануфактуры Гобеленов и
          немедленному успеху ее продукции. В итоге французские
          ткачи выиграли конкуренцию у фламандцев, и с этого
          времени самые лучшие европейские шпалеры ткались во
          Франции. Первые картоны для мануфактуры делали
          французские художники, но наравне с этим Гобелены
          выпускали серии ковров, своего рода вольные копии с
          фламандских шпалер XVI века. Гобелены часто имеют марку
          мануфактуры — имя руководителя мастерской и год
          исполнения.</p>

        <div class="textpage__gallery">
          <figure>
            <img src="img/article-1/pic-20.png" alt="Фото">
          </figure>
          <figure>
            <img src="img/article-1/pic-21.png" alt="Фото">
          </figure>
        </div>

        <p>Надо отметить, что в литературе существует
          терминологическая путаница в отношении употребления
          слов «шпалеры» и «гобелены». Важно помнить, что термин
          «гобелен» подразумевает только шпалеру, вытканную на
          мануфактуре Гобеленов в Париже.</p>
      </div>
    </div>

    <figure>
      <img src="img/article-1/pic-22.png" alt="Фото">
    </figure>

    <div class="textpage__wrapper">
      <div class="textpage__article">
        <p>На протяжении всего XVIII века Гобелены выпускали большие
          серии шпалер: «Стихии», «Музы», «Ватиканские залы»,
          Новые и Старые «Индии». В середине столетия выпускались
          гобелены по картонам Франсуа Буше, оказавшим огромное
          влияние на европейскую текстильную промышленность. Во
          второй половине XVIII века в гобеленовом производстве
          укрепилась тенденция к максимальной имитации масляной
          живописи. Достижения ткачей и красильщиков привели к
          тому, что в одной шпалере могли присутствовать сотни
          оттенков, что давало почти безграничные возможности для
          имитации живописной поверхности. Даже бордюры шпалер
          стали выполнять в виде массивных лепных золоченых рам.
          Такие шпалеры натягивали на подрамники и вставляли в
          стенные панели.</p>

        <figure>
          <img src="img/article-1/pic-23.png" alt="Фото">
        </figure>

        <p>Все гобелены поступали в распоряжение королевского
          двора, поскольку деятельность мануфактуры оплачивалась из
          средств короля. Часто они служили особыми подарками от
          имени французской короны. Во время путешествия во
          Францию великого князя Павла Петровича и великой княгини
          Марии Фёдоровны Людовик XVI подарил им 20 гобеленов,
          хранящихся сегодня в коллекции Государственного Эрмитажа,
          Гатчины и Павловского дворца.</p>
      </div>
    </div>
  </section>
</main>



{% endblock %}
