{% if pageInner %}<header class="header  header--inner">{% else %}<header class="header">{% endif %}

    <nav class="header__wrapper  main-nav">
      <div class="logo"><a class="logo__link" href="index.html"><img src="images/gmii-logo.svg" width="156"
            alt="Логотип ГМИИ им. А.С. Пушкина"></a></div>
      {% include "../partials/_main-nav.html" %}
      <div class="header__user-block">
        <!-- <div class="volume">
          <button class="volume__button" type="button">
            <svg class="volume__button-icon" aria-hidden="true" width="30" height="30">
              <use class="volume__button-icon-play" href="images/sprite_auto.svg#icon-volume"></use>
              <use class="volume__button-icon-mute" href="images/sprite_auto.svg#icon-mute"></use>
            </svg>
          </button>
        </div> -->

        <div class="lang">
          <a href="#" class="lang__link  lang__link--active">Рус</a>/
          <a href="#" class="lang__link">Eng</a>
        </div>
        <button class="main-nav__button" type="button" aria-expanded="false" aria-controls="main-nav__list">
          <svg class="main-nav__icon" aria-hidden="true" width="50" height="50">
            <use class="main-nav__icon-menu" href="images/sprite_auto.svg#menu"></use>
            <use class="main-nav__icon-cross" href="images/sprite_auto.svg#cross"></use>
          </svg>
        </button>

      </div>

    </nav>
  </header>
