<ul class="main-nav__list" id="main-nav__list">
  <li class="main-nav__item">
    <a>История</a>
    <ul class="main-nav__sublist">
      <li class="main-nav__sublist-item"><a href="the-origin-of-tapestry.html">Зарождение шпалерного качества</a></li>
      <li class="main-nav__sublist-item"><a href="tapestry-workshops-in-western-europe.html">Шпалерные мастерские
          Западной Европы в XVIII веке</a></li>
      <li class="main-nav__sublist-item"><a
           href="tapestries-in-the-russian-residential-interior-of-the-second-half-of-the-19th-century.html">Шпалеры
          в русском жилом интерьере второй половины XIX века</a></li>
    </ul>
  </li>
  <li class="main-nav__item">
    <a>Шпалеры</a>
    <ul class="main-nav__sublist">
      <li class="main-nav__sublist-item"><a href="/about.html">Триумф Славы</a></li>
      <li class="main-nav__sublist-item"><a href="/about.html">Триумф Надежды</a></li>
      <li class="main-nav__sublist-item"><a href="/about.html">Иоанн Креститель</a></li>
      <li class="main-nav__sublist-item"><a href="/about.html">Триумф Помпея</a></li>
      <li class="main-nav__sublist-item"><a href="/about.html">Дети Венеры</a></li>
      <li class="main-nav__sublist-item"><a href="/about.html">Встреча Исава и Иакова</a></li>
    </ul>
  </li>
  <li class="main-nav__item">
    <a>искусство крашения</a>
    <ul class="main-nav__sublist">
      <li class="main-nav__sublist-item"><a href="/history.html">История крашения</a></li>
      <li class="main-nav__sublist-item"><a href="/semantic.html">Семантика цвета и карта растений</a></li>
    </ul>
  </li>
  <li class="main-nav__item"><a href="/tapestries-on-map.html">шпалеры в москве</a></li>
  <li class="main-nav__item"><a href="/quiz.html">Квиз</a></li>
  <li class="main-nav__item"><a href="/glossary.html">Глоссарий</a></li>
  <li class="main-nav__item"><a href="/contributors.html">Участники проекта</a></li>
</ul>
