<ul class="main-nav__list" id="main-nav__list">
  <li class="main-nav__item"><a href="history.html">История</a></li>
  <li class="main-nav__item">
    <a>Шпалеры</a>
    <ul class="main-nav__sublist">
      <li class="main-nav__sublist-item"><a href="about.html">Триумф Славы</a></li>
      <li class="main-nav__sublist-item"><a href="about.html">Триумф Надежды</a></li>
      <li class="main-nav__sublist-item"><a href="about.html">Иоанн Креститель</a></li>
      <li class="main-nav__sublist-item"><a href="about.html">Триумф Помпея</a></li>
      <li class="main-nav__sublist-item"><a href="about.html">Дети Венеры</a></li>
      <li class="main-nav__sublist-item"><a href="about.html">Встреча Исава и Иакова</a></li>
    </ul>
  </li>
  <li class="main-nav__item"><a href="semantic.html">искусство крашения</a></li>
  <li class="main-nav__item"><a href="tapestries-on-map.html">шпалеры в москве</a></li>
  <li class="main-nav__item"><a href="#">Квиз</a></li>
  <li class="main-nav__item"><a href="glossary.html">Глоссарий</a></li>
  <li class="main-nav__item"><a href="#">Партнеры</a></li>
</ul>
