---
title: История крашения
description: Description index
---
{% set iframepopup = true %}
{% extends "layouts/_layout.html" %}


{% block content %}

<main class="page__content">
  <section class="textpage">
    <div class="textpage__wrapper">
      <div class="textpage__article">
        <h1>Луна
          <span>Первая гравюра серии</span>
        </h1>
        <div class="textpage__head-text">
          <p>Латинская надпись на нижнем поле: <br>
            <b><i>Те, которые имеют в час рождения повелительницей Луну, из-за
                природной влажности проводят жизнь на водах, упражняясь в морском деле или занимаясь рыболовством.
                Подвержены параличу.</i></b>
          </p>
        </div>

        <p>Наряду с Солнцем, Луна раньше других планетных богов стала изображаться разъезжающей по небу на колеснице и
          считалась
          управительницей только одного знака зодиака - Рака. Лунный диск или серп месяца либо увенчивает ее голову,
          часто образуя
          столь узнаваемые рожки, либо зажат в руке, как в данном случае. Ассоциируемая, как правило, с целомудренной
          Дианой
          (древнегреческой Артемидой), Луна могла заимствовать ее атрибуты, среди которых встречаются стрела, лук,
          охотничий рог
          (последний есть в гравюре Мюллера, а также в соответствующих композициях его предшественников – Георга Пенца,
          Виргилия
          Солиса). Повозку Луны/Дианы могут везти лошади (на рельефе Агостино ди Дуччо в храме в Римини), олени, собаки,
          даже водоплавающие существа, напоминающие <span class="tippy" data-tippy-content
            data-src="/img/series/harmen-muller/01/tooltips/1.jpg"><b>дельфинов</b></span> (у Солиса)
          , но чаще всего это две целомудренные нимфы из ее
          свиты.
          Интересно, что повозка Дианы у Хемскерка немного напоминает лодку, что, очевидно, связано с главной для богини
          и для ее
          детей стихией – водной.</p>

        <p>Почти все занятия детей Луны так или иначе связаны с водой: они разными способами ловят рыбу, купаются,
          плавают на
          кораблях, работают на водяных мельницах. К сожалению, Хемскерк не посчитал нужным ввести в свою композицию еще
          два вида
          занятий: игру в кости (есть в соответствующих гравюрах <span class="tippy" data-tippy-content
            data-src="/img/series/harmen-muller/01/tooltips/2.jpg"><b>Баччо Бальдини и Пенца</b></span>) и ловлю птиц с
          помощью <span class="tippy" data-tippy-content
            data-src="/img/series/harmen-muller/01/tooltips/2.jpg"><b>различных</b></span> хитрых
          приспособлений (в подробностях – у Бальдини).</p>
      </div>
  </section>
</main>

{% endblock %}
