---
title: История крашения
description: Description index
---
{% set iframepopup = true %}
{% extends "layouts/_layout.html" %}


{% block content %}

<main class="page__content">
  <section class="textpage">
    <div class="textpage__wrapper">
      <div class="textpage__article">
        <h1>Юпитер
          <span>Шестая гравюра серии</span>
        </h1>
        <div class="textpage__head-text">
          <p>Латинская надпись на нижнем поле: <br>
            <b><i>Те, у которых господин Юпитер, - справедливы, честны, общительны, дружелюбны, старательны, близки к
                родным и милостивы к
                бедным, по природе умереннейшие, по отношению ко всем – добрые.</i></b>
          </p>
        </div>

        <p>Юпитер (древнегреческий Зевс) – прирожденный лидер, стремящийся к власти и умеющий ее получить и удержать.
          Чаще всего
          его животным выступает орел, неоднократно фигурирующий в его истории: в орла был превращен соперник Зевса
          славный царь
          Перифант, орла как предвестника победы Зевс увидел в начале титаномахии, наконец, орлом обернулся сам Зевс,
          чтобы
          похитить Ганимеда. Последний есть в композиции Хемскерка: он подносит чашу, вероятно, с явствами Юпитеру,
          восседающему
          на колеснице, положив одну руку на шею своего орла, а другой сжимая пучок молний. Удивительно, что в данном
          случае в
          колесницу впряжены не орлы, а павлины – птицы супруги бога – Юноны. Эта странность была уже в гравюре Пенца,
          где, по
          мнению исследователей, Юпитер проассоциирован с Карлом V, чье коронование имело место за год до создания
          гравюры
          (24.02.1531, именно оно якобы изображено в правом нижнем углу этой композиции, где папа возлагает корону на
          голову
          коленопреклоненного государя). Ирония заключается в том, что орел, будучи гербовым животным Габсбургов, здесь
          заменен на
          павлина, символизирующего высокомерие и спесь, а к монетам в чаше Ганимеда Карл/Юпитер (утвердившийся на троне
          благодаря
          деньгам Фуггеров) жадно тянется рукой. Хемскерк сохранил и павлинов, и странное изображение <span
            class="tippy" data-tippy-content data-src="/img/series/harmen-muller/06/tooltips/1.jpg"><b>знака
              Стрельца</b></span> в
          виде
          хвостатого сатироподобного существа.</p>

        <p>Считающийся благоприятной, обещающей успех планетой, Юпитер <span class="tippy" data-tippy-content
            data-src="/img/series/harmen-muller/06/tooltips/2.jpg"><b>покровительствует</b></span> власть держащим,
          поэтому среди
          его детей
          изображают коронуемых и правящих государей, а также царские развлечения в виде масштабных охот, которые можно
          увидеть и
          у Пенца, и у Хемскерка. Необычная подробность в виде гуманистической компании (Данте, Петрарка и Боккаччо за
          пюпитрами),
          придуманная Баччо Бальдини для детей Юпитера в соответствующей серии, была актуальна в ситуации Флоренции и в
          гравюры,
          сделанные к северу от Альп, попасть не могла.</p>
      </div>
  </section>
</main>

{% endblock %}
