---
id: 6
title: Юпитер - Шестая гравюра серии
description: Description index
---
{% extends "layouts/_layout.html" %}


{% block content %}

<main class="page__content">
  <section class="textpage">
    <div class="textpage__wrapper">
      <div class="textpage__article">
        <h1>Юпитер
          <span>Шестая гравюра серии</span>
        </h1>
        <p>
          <a data-fancybox="" data-caption="" href="/img/series/harmen-muller/{{id}}.jpg">
            <img src="/img/series/harmen-muller/{{ id }}-thumb.jpg" alt="">
          </a>
        </p>
        <div class="textpage__head-text">
          <p>Латинская надпись на нижнем поле: <br>
            <b><i>Те, у которых господин Юпитер, - справедливы, честны, общительны, дружелюбны, старательны, близки к
                родным и милостивы к
                бедным, по природе умереннейшие, по отношению ко всем – добрые.</i></b>
          </p>
        </div>

        <p style="text-align: justify;">Юпитер (древнегреческий Зевс) &ndash; прирожденный лидер, стремящийся к власти и
          умеющий
          ее получить и удержать. Чаще всего его животным выступает орел, неоднократно фигурирующий в его истории: в
          орла был
          превращен соперник Зевса славный царь Перифант, орла как предвестника победы Зевс увидел в начале титаномахии,
          наконец, орлом обернулся сам Зевс, чтобы похитить Ганимеда. Последний есть в композиции Хемскерка: он подносит
          чашу,
          вероятно, с явствами Юпитеру, восседающему на колеснице, положив одну руку на шею своего орла, а другой сжимая
          пучок
          молний. Удивительно, что в данном случае в колесницу впряжены не орлы, а павлины &ndash; птицы супруги бога
          &ndash;
          Юноны. Эта странность была уже в гравюре&nbsp;<span class="tippy" data-tippy-content=""
                data-src="/img/tapestries/dv/themes/xemskerka-myullera/other/img011.jpg"><b>Пенца</b></span>, где, по
          мнению
          исследователей, Юпитер проассоциирован с Карлом V, чье коронование имело место за год до создания гравюры
          (24.02.1531,
          именно оно якобы изображено в правом нижнем углу этой композиции, где папа возлагает корону на голову
          коленопреклоненного государя). Ирония заключается в том, что орел, будучи гербовым животным Габсбургов, здесь
          заменен
          на павлина, символизирующего высокомерие и спесь, а к монетам в чаше Ганимеда Карл/Юпитер (утвердившийся на
          троне
          благодаря деньгам Фуггеров) жадно тянется рукой. Хемскерк сохранил и павлинов, и странное
          изображение&nbsp;<span class="tippy" data-tippy-content=""
                data-src="/img/tapestries/dv/themes/xemskerka-myullera/06/upiter-znak-strelca.jpg"><b>знака
            </b></span>Стрельца в виде хвостатого сатироподобного существа.</p>
        <p style="text-align: justify;">Считающийся благоприятной, обещающей успех планетой, Юпитер покровительствует
          власть
          держащим, поэтому среди его детей изображают коронуемых и правящих государей, а также царские развлечения в
          виде
          масштабных охот, которые можно увидеть и у Пенца, и у Хемскерка. Необычная подробность в виде гуманистической
          компании
          (Данте,&nbsp;<span class="tippy" data-tippy-content=""
                data-src="/img/tapestries/dv/themes/xemskerka-myullera/06/upiter-petrarki.jpg"><b>Петрарка</b></span>&nbsp;и
          Боккаччо за пюпитрами),
          придуманная Баччо&nbsp;<span class="tippy" data-tippy-content=""
                data-src="/img/tapestries/dv/themes/xemskerka-myullera/other/img002.jpg"><b>Бальдини</b></span>&nbsp;для
          детей Юпитера
          в соответствующей серии, была актуальна в ситуации Флоренции и в гравюры, сделанные к северу от Альп, попасть
          не
          могла.</p>

        <div class="textpage__nav-links">
          <a href="/about.html"><svg width="148" height="18" viewBox="0 0 148 18" fill="none"
                 xmlns="http://www.w3.org/2000/svg">
              <path d="M0 9L15 17.6603V0.339746L0 9ZM13.5 10.5H147.003V7.5H13.5V10.5Z" fill="#A28C62" />
            </svg> Вернуться назад</a>
          <a href="/series/harmen-muller/07/index.html"><svg width="148" height="18" viewBox="0 0 148 18" fill="none"
                 xmlns="http://www.w3.org/2000/svg">
              <path d="M147.003 9L132.003 0.339746V17.6603L147.003 9ZM0 10.5H133.503V7.5H0L0 10.5Z" fill="#A28C62" />
            </svg> Следующая гравюра <br> (или другой текст)</a>
        </div>
      </div>
  </section>
</main>

{% endblock %}
