.tabs {
  max-width: 100%;
  margin-top: 45px;
}

.tabs__controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-bottom: 30px;

  p {
    width: 100%;
    margin: 0;
    margin-top: 18px;
    text-align: center;
    font-family: $s-font;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
  }
}

.tabs__control {
  text-transform: uppercase;
  cursor: pointer;
  min-width: 300px;
  margin: 0 10px;
  border: 1px solid #a28c62;
  color: #a28c62;
  background-color: transparent;

  &--circle {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11px;
    border-width: 2px;
    border-radius: 50%;
    border-color: transparent;
    min-width: unset;

    @media (max-width: 767px) {
      svg {
        width: 50px;
        height: 50px;
        padding: 5px;
      }
    }
  }

  &.is-active {
    opacity: 1;
    pointer-events: none;
    background-color: #a28c62;
    color: #fff;

    &.tabs__control--circle {
      background-color: transparent;
      border-color: #a28c62;
    }
  }
}

.tabs__content {
  margin-bottom: 40px;
  transition: height 0.3s;
}

.tabs__element {
  width: 100%;
}
