.textpage {
  // mix-blend-mode: multiply;
  min-height: 100%;
  padding-bottom: 100px;
  background-color: $s-color;
  background-image: url("../img/bg-light.svg");
  background-repeat: repeat-y;
  color: $m-color;
  font-family: $s-font;
}

.textpage__wrapper {
  @include wrapper;

  @media (max-width: $mobile) {
    padding: 0 20px;
  }
}

.textpage__dark-section {
  padding-top: 62px;
  padding-bottom: 200px;
  background-color: #21201e;
  background-image: url("../img/bg.svg");

  .textpage__article {
    color: #dcd4c2;
    p {
      color: #dcd4c2;
    }
  }

  @media (max-width: 1400px) {
    padding-bottom: 100px;
  }

  @media (max-width: 767px) {
    padding-top: 40px;
    padding-bottom: 50px;
  }
}

.textpage__title {
  margin: 0;
  margin-bottom: 35px;
  text-align: center;
  font-size: 50px;
  font-family: $m-font;
  font-weight: 600;
  color: $a-color;

  @media (max-width: $mobile) {
    font-size: 25px;
  }
}

.textpage__article {
  margin-bottom: 45px;

  h1,
  h2,
  h3,
  h4 {
    margin: 0;
    margin-bottom: 35px;
    text-align: center;
    font-family: $s-font;
    font-weight: 400;
    color: #21201e;
    text-transform: uppercase;

    @media (max-width: $mobile) {
      margin-bottom: 20px;
    }
  }

  h1 {
    margin-bottom: 95px;
    font-weight: 400;
    font-size: 140px;
    line-height: 198px;

    span {
      display: block;
      font-size: 60px;
      line-height: 85px;
    }

    @media (max-width: $mobile) {
      margin-bottom: 45px;
      font-size: 25px;
      line-height: 140%;

      span {
        font-size: 18px;
        line-height: 100%;
      }
    }
  }

  h2 {
    font-size: 45px;

    @media (max-width: $mobile) {
      font-size: 20px;
    }
  }

  h3 {
    font-size: 40px;

    @media (max-width: $mobile) {
      font-size: 18px;
    }
  }

  h4 {
    font-size: 35px;

    @media (max-width: $mobile) {
      font-size: 18px;
    }
  }

  p,
  ul,
  ol {
    width: 100%;
    max-width: 620px;
    margin: 30px auto;
    font-size: 20px;
    line-height: 30px;
    color: #21201e;
    font-family: $m-font;

    @media (max-width: $mobile) {
      width: 100%;
      font-size: 16px;

      a {
        float: none !important;
        display: flex;
        justify-content: center;
        margin: 0 !important;
      }
    }

    a {
      text-decoration: underline;
      text-underline-offset: 2px;
      color: #a28c62;
    }

    b {
      font-weight: 500;
      text-underline-offset: 2px;
    }
  }

  ul {
    padding: 0;
    list-style: none;

    li {
      p {
        width: 100%;
      }
    }
  }

  ol {
    padding: 0;
    padding-left: 25px;

    li {
      p {
        width: 100%;
      }
    }
  }

  a {
    color: inherit;
  }

  p + img {
    min-width: 100%;
    height: auto;
  }

  .textpage__head-text {
    position: relative;

    &::after {
      content: "";
      display: block;
      width: 818px;
      height: 65px;
      margin: 40px auto;
      background-image: url("../img/line.svg");
      background-repeat: no-repeat;
      background-size: contain;

      @media (max-width: $mobile) {
        width: 100%;
        height: 30px;
      }
    }

    p {
      margin: 0 auto;
      font-family: $s-font;
      font-style: normal;
      font-weight: 400;
      font-size: 35px;
      line-height: 40px;
      /* or 114% */

      color: #21201e;

      @media (max-width: $mobile) {
        font-size: 22px;
        line-height: 140%;
      }
    }
  }
}

.textpage__slider {
  max-width: 80%;
  margin: 35px auto;

  .swiper-wrapper {
    display: flex;
    align-items: center;
  }

  .swiper-slide {
    flex-direction: column;
    align-items: center;

    img {
      filter: brightness(1) grayscale(0);
      display: block;
      max-height: 600px;
    }

    p {
      text-align: center;
      font-style: italic;
      font-size: 20px;
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: $m-color;

    @media (max-width: $mobile) {
      display: none;
    }
  }

  .swiper-pagination {
    position: static;
    margin-top: 25px;
  }

  .swiper-pagination-bullet-active {
    background-color: $m-color;
  }
}

.textpage__iframe {
  margin: 35px auto;
  max-width: 50%;

  @media (max-width: $mobile) {
    max-width: 80%;
  }

  p {
    font-size: 20px;
    font-style: italic;
    text-align: center;
  }
}

.textpage__iframe-content {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-top: 56.25%;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100% !important;
    height: 100% !important;
  }
}

.textpage__gallery-list {
  @include list-reset;
  // display: flex;
  flex-wrap: wrap;
  // width: 90%;
  // justify-content: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;

  @media (max-width: $tablet) {
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: $mobile) {
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
  }
}

.textpage__gallery-item {
  // width: 350px;
  margin: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;

  // @media (max-width: $tablet) {
  //   width: 320px;
  // }

  a {
    // width: 350px;
    // height: 350px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;

    // @media (max-width: $tablet) {
    //   width: 320px;
    //   height: 320px;
    // }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: $transition;
    }

    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }

  &--no-border {
    a {
      border-radius: 0;
    }
  }

  p {
    font-size: 20px;
    margin: 0;
    text-align: center;
  }
}

.textpage__figure {
  margin: 35px auto;
  max-width: 50%;

  p {
    font-size: 20px;
    font-style: italic;
    text-align: center;
  }

  @media (max-width: $mobile) {
    max-width: 80%;
  }
}

.textpage__pic {
  display: flex;
  max-width: max-content;
  margin: 0 auto;
}

.textpage__gallery-pics {
  display: flex;
  justify-content: center;
  gap: 10px;
  max-width: 1270px;
  margin-top: -170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  figure {
    margin: 0;
    display: grid;
    row-gap: 20px;

    p {
      margin: 0;
      font-family: $m-font;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  @media (max-width: 1400px) {
    margin-top: -100px;
  }

  @media (max-width: 1200px) {
    flex-wrap: wrap;
  }

  @media (max-width: 960px) {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
  }

  @media (max-width: 767px) {
    margin-top: -40px;
  }
}

.textpage__footer {
  padding-left: 30px;

  p {
    max-width: 650px;
    margin: 0 auto;
    font-family: $s-font;
    font-size: 35px;
    line-height: 40px;
    /* or 114% */

    color: #21201e;
  }
}
