.textpage {
  // mix-blend-mode: multiply;
  min-height: 100%;
  padding-top: 50px;
  padding-bottom: 100px;
  background-color: $s-color;
  background-image: url('../bg-light.svg');
  background-repeat: repeat-y;
  color: $m-color;
  font-family: $s-font;
  overflow: hidden;

  figure {
    margin: 0 auto;
  }

  @media (max-width: 767px) {
    padding-top: 20px;
  }

  &.conservation-page {
    background-color: transparent;
    // background-color: $m-color;
    background-image: url('../img/long-line.svg');
    background-repeat: no-repeat;
    background-size: 80% auto;

    .textpage__title {
      color: #a28c62;
    }

    .tab-section__control-list {
      display: grid;
      grid-template-columns: repeat(5, auto);
      align-items: flex-start;
      gap: 20px;
      margin-top: 40px;
      margin-bottom: 40px;

      @media (max-width: 767px) {
        grid-template-columns: 1fr;
      }

      .tab-section__control-item {
        width: 100%;
        display: flex;

        .tab-section__control-btn {
          display: block;
          width: 100%;
          text-align: left;
          cursor: pointer;
          transition: color 0.3s ease;
          font-size: 30px;
          color: rgba(#a28c62, 0.5);

          &[aria-selected='true'] {
            color: rgba(#a28c62, 1);
          }

          &:hover {
            color: #a28c62;
          }
        }
      }
    }

    .tab-section__content-list {
      margin-bottom: 80px;
    }
  }
}

.textpage__wrapper {
  @include wrapper;
  padding-bottom: 100px;

  &--pb {
    padding-bottom: 400px;
  }

  @media (max-width: $mobile) {
    padding: 0 20px;
    padding-bottom: 50px;
  }
}

.textpage__dark-section {
  padding-top: 62px;
  padding-bottom: 200px;
  background-color: #21201e;
  background-image: url('../bg.svg');

  .textpage__article {
    color: #dcd4c2;

    p {
      color: #dcd4c2;
    }

    h2,
    h3 {
      color: #dcd4c2;
    }

    figcaption {
      font-weight: 300;
      font-size: 12px;
      line-height: 10px;
      /* or 125% */

      color: #dcd4c2;
    }
  }

  @media (max-width: 1400px) {
    padding-bottom: 100px;
  }

  @media (max-width: 767px) {
    padding-top: 40px;
    padding-bottom: 50px;
  }

  &--pb30 {
    padding-bottom: 30px;
  }

  &--negative-mb {
    margin-bottom: -420px;
    padding-bottom: 460px;
  }

  &--negative-mb-smaller {
    margin-bottom: -260px;
    padding-bottom: 260px;
  }

  .textpage__images-slider {
    p {
      color: #dcd4c2;
    }
  }
}

.textpage__gold-section {
  padding-top: 20px;
  padding-bottom: 440px;
  margin-bottom: -420px;
  background-color: #a28c62;

  &--no-pb {
    padding-bottom: 30px;
    margin-bottom: 50px;
  }

  .textpage__article {
    h3 {
      font-family: $s-font;
      font-weight: 400;
      font-size: 60px;
      line-height: 85px;
      text-transform: none;

      color: #21201e;

      @media (max-width: 767px) {
        font-size: 20px;
        line-height: 1.4;
      }
    }

    p {
      color: #fff;
    }
  }

  @media (max-width: 767px) {
    padding-bottom: 160px;
    margin-bottom: -120px;
  }
}

.textpage__title {
  margin: 0;
  margin-bottom: 35px;
  text-align: center;
  font-size: 50px;
  font-family: $m-font;
  font-weight: 600;
  color: $a-color;

  @media (max-width: $mobile) {
    font-size: 25px;
  }
}

.textpage__article {
  margin-bottom: 45px;

  &--pt30 {
    padding-top: 30px;
  }

  h1,
  h2,
  h3,
  h4 {
    margin: 0;
    margin-bottom: 35px;
    text-align: center;
    font-family: $s-font;
    font-weight: 400;
    color: #21201e;
    text-transform: uppercase;

    @media (max-width: $mobile) {
      margin-bottom: 20px;
    }
  }

  h1 {
    margin-bottom: 95px;
    font-weight: 400;
    font-size: 140px;
    line-height: 198px;

    span {
      display: block;
      font-size: 60px;
      line-height: 85px;
    }

    @media (max-width: $mobile) {
      margin-bottom: 45px;
      font-size: 25px;
      line-height: 140%;

      span {
        font-size: 18px;
        line-height: 100%;
      }
    }
  }

  h2 {
    font-size: 60px;
    line-height: 85px;

    @media (max-width: $mobile) {
      font-size: 20px;
    }
  }

  h3 {
    font-size: 40px;

    @media (max-width: $mobile) {
      font-size: 20px;
    }
  }

  h4 {
    font-size: 35px;

    @media (max-width: $mobile) {
      font-size: 18px;
    }
  }

  p,
  ul,
  ol {
    width: 100%;
    max-width: 620px;
    margin: 30px auto;
    font-size: 20px;
    line-height: 30px;
    color: #21201e;
    font-family: $m-font;

    &:last-child {
      margin-bottom: 0;
    }

    @media (max-width: $mobile) {
      width: 100%;
      font-size: 15px;
      line-height: 1.6;

      a {
        float: none !important;
        display: flex;
        justify-content: center;
        margin: 0 !important;
      }
    }

    a {
      text-decoration: underline;
      text-underline-offset: 2px;
      color: #a28c62;
    }

    b {
      font-weight: 500;
      text-underline-offset: 2px;
    }
  }

  ul {
    padding: 0;
    list-style: none;

    li {
      p {
        width: 100%;
      }
    }
  }

  ol {
    padding: 0;
    padding-left: 25px;

    li {
      p {
        width: 100%;
      }
    }
  }

  h2 + ul,
  h2 + ol {
    margin-bottom: 100px;
  }

  a {
    color: inherit;
  }

  p + img {
    min-width: 100%;
    height: auto;
  }

  .textpage__head-text {
    position: relative;
    margin-bottom: 20px;

    &::after {
      content: '';
      display: block;
      width: 818px;
      height: 65px;
      margin: 40px auto;
      background-image: url('../img/line.svg');
      // background-image: url("img/line.svg");
      background-repeat: no-repeat;
      background-size: contain;

      @media (max-width: $mobile) {
        width: 100%;
        height: 30px;
      }
    }

    &--no-image {
      &::after {
        display: none;
      }
    }

    p {
      margin: 0 auto;
      font-family: $s-font;
      font-style: normal;
      font-weight: 400;
      font-size: 35px;
      line-height: 40px;
      /* or 114% */

      color: #21201e;

      small {
        font-family: $m-font;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 14px;
      }

      @media (max-width: $mobile) {
        font-size: 22px;
        line-height: 140%;
      }
    }
  }

  figure {
    width: 100%;
    display: grid;
    justify-content: center;
    gap: 8px;
    margin: 0 auto;

    figcaption {
      p {
        font-family: $m-font;
        font-weight: 300;
        font-size: 12px;
        line-height: 14px;
        color: #21201e;
      }
    }
  }
}

.textpage__slider {
  max-width: 80%;
  margin: 35px auto;

  .swiper-wrapper {
    display: flex;
    align-items: center;
  }

  .swiper-slide {
    flex-direction: column;
    align-items: center;

    img {
      filter: brightness(1) grayscale(0);
      display: block;
      max-height: 600px;
    }

    p {
      text-align: center;
      font-style: italic;
      font-size: 20px;
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: $m-color;

    @media (max-width: $mobile) {
      display: none;
    }
  }

  .swiper-pagination {
    position: static;
    margin-top: 25px;
  }

  .swiper-pagination-bullet-active {
    background-color: $m-color;
  }
}

.textpage__iframe {
  margin: 35px auto;
  max-width: 50%;

  @media (max-width: $mobile) {
    max-width: 80%;
  }

  p {
    font-size: 20px;
    font-style: italic;
    text-align: center;
  }
}

.textpage__iframe-content {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-top: 56.25%;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100% !important;
    height: 100% !important;
  }
}

.textpage__gallery-list {
  @include list-reset;
  // display: flex;
  flex-wrap: wrap;
  // width: 90%;
  // justify-content: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;

  @media (max-width: $tablet) {
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: $mobile) {
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
  }
}

.textpage__gallery-item {
  // width: 350px;
  margin: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;

  // @media (max-width: $tablet) {
  //   width: 320px;
  // }

  a {
    // width: 350px;
    // height: 350px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;

    // @media (max-width: $tablet) {
    //   width: 320px;
    //   height: 320px;
    // }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: $transition;
    }

    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }

  &--no-border {
    a {
      border-radius: 0;
    }
  }

  p {
    font-size: 20px;
    margin: 0;
    text-align: center;
  }
}

.textpage__figure {
  margin: 35px auto;
  max-width: 50%;

  p {
    font-size: 20px;
    font-style: italic;
    text-align: center;
  }

  @media (max-width: $mobile) {
    max-width: 80%;
  }
}

.textpage__pic {
  display: flex;
  max-width: max-content;
  margin: 0 auto;
}

.textpage__gallery-pics {
  display: flex;
  justify-content: center;
  gap: 10px;
  max-width: 1270px;
  margin-top: -170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  figure {
    margin: 0;
    display: grid;
    row-gap: 20px;

    p {
      margin: 0;
      font-family: $m-font;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  @media (max-width: 1400px) {
    margin-top: -100px;
  }

  @media (max-width: 1200px) {
    flex-wrap: wrap;
  }

  @media (max-width: 960px) {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
  }

  @media (max-width: 767px) {
    margin-top: -40px;
  }
}

.textpage__footer {
  padding-top: 100px;
  // padding-left: 30px;

  p {
    max-width: 650px;
    margin: 0 auto;
    font-family: $s-font;
    font-size: 35px;
    line-height: 40px;
    /* or 114% */

    color: #21201e;
  }
}

.textpage__nav-links {
  display: flex;
  justify-content: center;

  a {
    display: grid;
    margin: 0 20px;
    gap: 10px;
    align-items: flex-start;
  }
}

.textpage__text-grid {
  display: grid;
  grid-template-columns: 255px max-content;
  gap: 20px;
  align-items: center;
  width: 100%;
  max-width: 620px;
  margin: 30px auto;

  @media (max-width: 767px) {
    grid-template-columns: 1fr;
  }
}

.textpage__gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;

  &--align-top {
    align-items: flex-start;
  }

  &--vertical {
    flex-direction: column;
  }

  &--mt-minus {
    margin-top: -120px;

    @media (max-width: 767px) {
      margin-top: -20px;
    }
  }

  &--mt-minus-50per {
    margin-top: -460px;

    @media (max-width: 767px) {
      margin-top: -20px;
    }
  }

  figure {
    width: max-content;
    max-width: max-content;
    margin: 0;
  }

  figcaption {
    p {
      max-width: 620px;
      margin: 10px auto 0;
      font-family: $m-font;
      font-weight: 300;
      font-size: 12px;
      line-height: 14px;
      color: #21201e;
    }
  }

  @media (max-width: 767px) {
    figcaption {
      max-width: 200px;
    }
  }
}

.textpage__images-slider {
  padding-left: 20px;
  padding-right: 20px;

  .swiper-wrapper {
    align-items: center;
  }
  .swiper-slide {
    width: auto;
    height: auto;

    img {
      filter: brightness(1);
    }
  }

  p {
    max-width: 620px;
    margin: 0;
    margin-top: 10px;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
  }

  .swiper-pagination {
    position: static;
    margin-top: 20px;
    margin-bottom: 20px;

    .swiper-pagination-bullet {
      width: 18px;
      height: 18px;
      background-color: #fff;
      opacity: 1;
      border: 1px solid #a28c62;

      &-active {
        background-color: #a28c62;
      }
    }
  }
}

a.textpage__read-more-btn {
  display: flex;
  justify-content: center;
  min-width: 310px;
  max-width: max-content;
  margin: 60px auto 0;
  padding: 13px;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  font-family: $m-font;
  color: #ffffff;

  text-decoration: none;
  background: #a28c62;
  border: 1px solid #a28c62;
}

.textpage__image-text {
  max-width: 620px;
  margin: 30px auto;
  text-align: right;

  p {
    margin: 0 auto;
    font-size: 13px;
    line-height: 20px;
  }
}

.textpage__footer-head {
  max-width: 620px;
  margin: 0 auto 40px;

  img {
    margin-bottom: 30px;
    filter: grayscale(0.8);
    transition: all 0.8s ease;

    &:hover {
      filter: grayscale(0);
      transform: scale(1.02);
    }
  }

  h2 {
    margin: 0 auto 30px;
    color: #21201e;
    font-weight: 400;
    font-size: 40px;
    line-height: 56px;
    font-family: $s-font;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.textpage__footer-text {
  max-width: 620px;
  margin: 0 auto 40px;

  + .textpage__footer-head {
    margin-top: 80px;
  }

  h3 {
    margin: 0;
    font-weight: 400;
    font-size: 36px;
    line-height: 46px;
    font-family: $s-font;
  }

  p {
    margin: 30px auto;
    font-size: 20px;
    line-height: 30px;
    color: #21201e;
    font-family: $m-font;
    text-align: justify;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
