---
title: История крашения
description: Description index
---
{% set iframepopup = true %}
{% extends "layouts/_layout.html" %}


{% block content %}

<main class="page__content">
  <section class="textpage">
    <div class="textpage__wrapper">
      <div class="textpage__article">
        <h1>Меркурий
          <span>Вторая гравюра серии</span>
        </h1>
        <div class="textpage__head-text">
          <p>Латинская надпись на нижнем поле: <br>
            <b><i>Меркурий делает [своих] детей знающими, проницательными, соперничающими, благодетельными, считающими,
                владеющими
                [своими] желаниями, пытливыми, стройными телом, бледными, с честным взглядом и удивительно умеренными в
                питье.</i></b>
          </p>
        </div>

        <p>Меркурий (древнегреческий Гермес) – покровитель любознательных людей, интеллектуально и творчески одаренных,
          общительных, активных и легких, что связано с исключительными коммуникативными качествами одноименного бога,
          который не
          только наделен живым, не без хитрости, умом, умением хорошо говорить и договариваться, а значит и торговать,
          но и ведает
          разного рода дорогами и границами, выступая в роли вестника и проводника, в том числе в подземное царство.
          Подчиненные
          ему знаки тоже красноречивы: в паре Близнецов воплощено общение, а Дева - образец трезвого расчета и
          рациональных
          решений. О его основных атрибутах – магическом кадуцее, крылатых сандалиях и шапке - в ренессансные времена,
          как
          правило, не забывали (только на гравюре Пенца он одет по немецкой моде того времени, зато у Хемскерка крылья
          получила
          даже колесница). У Меркурия немало сакральных животных - петух, ястреб или сокол, черепаха, баран, заяц, но
          его
          колесницу везут чаще всего петухи (будучи вестником утренней зари и солнца, отмечающим границу дня и ночи,
          петух хорошо
          соответствует глубинной сущности этого бога). Хотя на гравюре Бальдини, например, в необычную (в виде
          <span class="tippy" data-tippy-content data-src="/img/series/harmen-muller/02/tooltips/1.jpg"><b> лаврового
              венка </b></span>
          (!)) повозку бога впряжены соколы (видимо, в память о превращении в сокола Гиерака, раскрывшего Аргусу планы
          Гермеса).
        </p>

        <p>Дети Меркурия занимаются наукой (что-то чертят, высчитывают, пишут, размышляют над армиллярной сферой,
          рассматривают
          анализы в колбе), рисуют, ваяют, играют на музыкальных инструментах (а у Бальдини еще и занимаются отделкой
          фасада
          дома). К сожалению, у Хемскерка нет сцен дружеского застольного общения за бокалом вина (как у Бальдини и
          Пенца): только
          несколько общающихся прохожих на заднем плане. </p>
      </div>
  </section>
</main>

{% endblock %}
