---
id: 2
title: Меркурий - Вторая гравюра серии
description: Description index
---
{% extends "layouts/_layout.html" %}


{% block content %}

<main class="page__content">
  <section class="textpage">
    <div class="textpage__wrapper">
      <div class="textpage__article">
        <h1>Меркурий
          <span>Вторая гравюра серии</span>
        </h1>
        <p>
          <a data-fancybox="" data-caption="" href="/img/series/harmen-muller/{{id}}.jpg">
            <img src="/img/series/harmen-muller/{{ id }}-thumb.jpg" alt="">
          </a>
        </p>
        <div class="textpage__head-text">
          <p>Латинская надпись на нижнем поле: <br>
            <b><i>Меркурий делает [своих] детей знающими, проницательными, соперничающими, благодетельными, считающими,
                владеющими
                [своими] желаниями, пытливыми, стройными телом, бледными, с честным взглядом и удивительно умеренными в
                питье.</i></b>
          </p>
        </div>

        <p>Меркурий (древнегреческий Гермес) – покровитель любознательных людей, интеллектуально и творчески одаренных,
          общительных, активных и легких, что связано с исключительными коммуникативными качествами одноименного бога,
          который не
          только наделен живым, не без хитрости, умом, умением хорошо говорить и договариваться, а значит и торговать,
          но и ведает
          разного рода дорогами и границами, выступая в роли вестника и проводника, в том числе в подземное царство.
          Подчиненные
          ему знаки тоже красноречивы: в паре Близнецов воплощено общение, а Дева - образец трезвого расчета и
          рациональных
          решений. О его основных атрибутах – магическом кадуцее, крылатых сандалиях и шапке - в ренессансные времена,
          как
          правило, не забывали (только на гравюре <span class="tippy" data-tippy-content
                data-src="/img/series/harmen-muller/other/img015.jpg"><b>Пенца</b></span>) он одет по немецкой моде того
          времени, зато у Хемскерка крылья
          получила
          даже колесница). У Меркурия немало сакральных животных - петух, ястреб или сокол, черепаха, баран, заяц, но
          его
          колесницу везут чаще всего петухи (будучи вестником утренней зари и солнца, отмечающим границу дня и ночи,
          петух хорошо
          соответствует глубинной сущности этого бога). Хотя на гравюре Бальдини, например, в необычную (в виде
          лаврового
          венка
          (!)) <span class="tippy" data-tippy-content
                data-src="/img/series/harmen-muller/02/tooltips/1.jpg"><b>повозку</b></span> бога впряжены соколы
          (видимо, в память о превращении в сокола Гиерака, раскрывшего Аргусу планы
          Гермеса).
        </p>

        <p>Дети Меркурия занимаются наукой (что-то чертят, высчитывают, пишут, размышляют над армиллярной сферой,
          рассматривают
          анализы в колбе), рисуют, ваяют, играют на музыкальных инструментах (а у <span class="tippy"
                data-tippy-content data-src="/img/series/harmen-muller/other/img007.jpg"><b>Бальдини</b></span> еще и
          занимаются отделкой
          фасада
          дома). К сожалению, у Хемскерка нет сцен дружеского застольного общения за бокалом вина (как у Бальдини и
          Пенца): только
          несколько общающихся прохожих на заднем плане.</p>

        <div class="textpage__nav-links">
          <a href="/about.html"><svg width="148" height="18" viewBox="0 0 148 18" fill="none"
                 xmlns="http://www.w3.org/2000/svg">
              <path d="M0 9L15 17.6603V0.339746L0 9ZM13.5 10.5H147.003V7.5H13.5V10.5Z" fill="#A28C62" />
            </svg> Вернуться назад</a>
          <a href="/series/harmen-muller/03/index.html"><svg width="148" height="18" viewBox="0 0 148 18" fill="none"
                 xmlns="http://www.w3.org/2000/svg">
              <path d="M147.003 9L132.003 0.339746V17.6603L147.003 9ZM0 10.5H133.503V7.5H0L0 10.5Z" fill="#A28C62" />
            </svg> Следующая гравюра <br> (или другой текст)</a>
        </div>
      </div>
  </section>
</main>

{% endblock %}
