---
title: Солнце - Четвертая гравюра серии
description: Description index
---
{% extends "layouts/_layout.html" %}


{% block content %}

<main class="page__content">
  <section class="textpage">
    <div class="textpage__wrapper">
      <div class="textpage__article">
        <h1>Солнце
          <span>Четвертая гравюра серии</span>
        </h1>
        <div class="textpage__head-text">
          <p>Латинская надпись на нижнем поле: <br>
            <b><i>Солнце – жизнь живущих, дает рожденному счастье во всех делах, ловкость при исполнении дел, быстроту и
                здоровье в
                течение его жизни, сдерживая воздействие болезней.</i></b>
          </p>
        </div>

        <p>Солнце, как и Юпитер, планета успешных людей. Она управляет только одним знаком зодиака - Львом, приходящимся
          на самое
          жаркий период года. Смысловой нюанс: акцент здесь сделан не столько на обладании властью и стремлении к ней,
          сколько на
          счастье от полноты жизни, лучезарной яркости и полнокровности существования. Тем не менее, на колеснице сидит,
          скорее,
          правитель, ассоциируемый с Солнцем. Во всяком случае на соответствующей гравюре Пенца это подкреплено
          изображением
          напоминающего Карла V правителя с супругой, которые наблюдают за праздничными состязаниям с галереи роскошного
          дворца.
          Двойники Солнца, из иконографий которых могут заимствоваться атрибуты этой планеты, - Гелиос и Аполлон: от них
          –
          запряженные в колесницу кони и увенчанный солнечным диском скипетр. На соответствующих гравюрах Бальдини и
          Саделера
          вместо пары коней – полноценные квадриги Гелиоса. Сама корона может означать не только и не столько властные
          полномочия,
          сколько сияние, солнечные лучи, обрамляющие голову планетного божества (нередко вместо короны его голова
          просто увенчана
          <span class="tippy" data-tippy-content data-src="/img/series/harmen-muller/04/tooltips/3.jpg"><b>диском
              Солнца</b></span>).
        </p>

        <p>Дети планеты в основном поглощены различными состязаниями. Они фехтуют, борются, занимаются метанием ядра,
          выделывают
          сложные акробатические трюки. Примечательно, что это не просто занятия спортом, но радостное, праздничное
          событие с
          показательными выступлениями. <span class="tippy" data-tippy-content
            data-src="/img/series/harmen-muller/04/tooltips/1.jpg"><b>Оно</b></span> разворачивается на центральной
          площади ренессансного города, украшенной
          фонтаном, пред
          очами правителя. Скорее, это не перечисление занятий и пристрастий детей планеты, а зарисовка процветающего
          государства
          в лучшие моменты его существования. У Пенца торжественность момента поддержана изображением группы музыкантов,
          но у
          Хемскерка их нет, как не видно и еще одной разновидности <span class="tippy" data-tippy-content
            data-src="/img/series/harmen-muller/04/tooltips/2.jpg"><b>детей Солнца</b></span> – молящихся перед алтарем,
          которые
          имеются и у
          Бальдини, и у Пенца. Если только на них не намекает крошечная фигурка со сложенными руками в пятиугольном окне
          слева на
          заднем плане.</p>

        <div class="textpage__nav-links">
          <a href="/about.html"><svg width="148" height="18" viewBox="0 0 148 18" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M0 9L15 17.6603V0.339746L0 9ZM13.5 10.5H147.003V7.5H13.5V10.5Z" fill="#A28C62" />
            </svg> Вернуться назад</a>
          <a href="/series/harmen-muller/05/index.html"><svg width="148" height="18" viewBox="0 0 148 18" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M147.003 9L132.003 0.339746V17.6603L147.003 9ZM0 10.5H133.503V7.5H0L0 10.5Z" fill="#A28C62" />
            </svg> Следующая гравюра <br> (или другой текст)</a>
        </div>
      </div>
  </section>
</main>

{% endblock %}
