*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $m-color;
  overflow-x: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip-path: rect(0 0 0 0);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $s-color;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $m-color;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.back-btn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  display: flex;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: red;
  z-index: 1000;
}

.btn {
  display: flex;
  justify-content: center;
  min-width: 228px;
  max-width: max-content;
  margin: 0 auto;
  padding: 14px;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  color: #a28c62;
  text-transform: uppercase;
  border: 1px solid #a28c62;
  font-family: $m-font;
}

//
/* This block of CSS adds opacity transition to background */
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

/* padding-bottom and top for image */
.mfp-no-margins img.mfp-img {
  padding: 0;
}
/* position of shadow behind the image */
.mfp-no-margins .mfp-figure:after {
  top: 0;
  bottom: 0;
}
/* padding for main container */
.mfp-no-margins .mfp-container {
  padding: 0;
}

.mfp-title,
.mfp-counter {
  font-size: 20px;
  line-height: 1.2;
}

.mfp-arrow {
  width: 40px;
  height: 40px;
  padding: 10px;
  margin: 0;
  margin-top: -20px;
  &::before,
  &::after {
    border: none;
    margin: 0;
  }

  &:active {
    margin-top: -20px;
  }

  &::before {
    width: 40px;
    height: 40px;
    display: flex;
    background-image: url("../img/sprite/arrow-down.svg");
    background-size: contain;
    background-repeat: no-repeat;
    filter: contrast(0.5) brightness(10);
  }

  &-left {
    transform: rotate(90deg);

    @media (max-width: 900px) {
      left: 18px;
    }
  }

  &-right {
    transform: rotate(-90deg);

    @media (max-width: 900px) {
      right: 18px;
    }
  }
}

.mfp-close,
.mfp-iframe-holder .mfp-close {
  top: 0;
  right: 0;
  font-size: 60px;
}

.mfp-container {
  padding: 0 40px;
}

// .twentytwenty-container {
//   width: 90%;
//   height: auto;
//   margin: 0 auto;
// }
.twentytwenty-container {
  width: 90%;
  height: auto;
  margin: 0 auto;
}

.before-after img,
.twentytwenty-container img {
  width: 100%;
  height: auto;
}

.twentytwenty-container img {
  max-width: 100%;
  position: absolute;
  top: 0;
  display: block;
}

.mfp-close-btn-in .mfp-close {
  width: 50px;
  padding: 0;
  font-size: 60px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
}

.tippy {
  position: relative;
  // padding-right: 16px;

  b,
  strong {
    &:hover {
      color: #a28c62;
      text-decoration: underline;
    }

    a {
      color: inherit;
    }
  }

  &::after {
    content: "";
    // position: absolute;
    // top: -10px;
    // right: 0;
    display: inline-block;
    width: 15px;
    height: 23px;
    margin-left: 2px;
    background-image: url("../img/sprite/tippy-icon.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.tippy-box[data-theme~="custom"] {
  padding: 0;
  border: 5px solid #a28c62;
  box-shadow: 0px 0px 20px #a28c62;
  border-radius: 0;

  .tippy-content {
    padding: 0;
  }
}

.fancybox__backdrop {
  z-index: -1;
  background: rgba(#21201e, 0.92);
}

.carousel__button {
  color: $s-color;

  svg {
    width: 40px;
    height: 40px;
  }
}

.fancybox__thumbs .carousel__slide .fancybox__thumb::after {
  border-color: $s-color;
}

.panolens-container {
  padding-bottom: 100px;
}

.fancybox__carousel .fancybox__slide.has-iframe .fancybox__content {
  padding: 5px;
}

.swiper-slide {
  a {
    outline: none;
  }
}

.fancybox__slide.has-iframe {
  padding-top: 40px;
  padding-bottom: 40px;
}
