---
title: История крашения
description: Description index
---
{% set iframepopup = true %}
{% extends "layouts/_layout.html" %}


{% block content %}

<main class="page__content">
  <section class="textpage">
    <div class="textpage__wrapper">
      <div class="textpage__article">
        <h1>Сатурн
          <span>Седьмая гравюра серии</span>
        </h1>
        <div class="textpage__head-text">
          <p>Латинская надпись на нижнем поле: <br>
            <b><i>Сатурновы [дети] – завистливы, ленивы, печальны, жадны, лживы, подвержены водянке, четырехдневной
                перемежающейся
                лихорадке, тюрьме, смертям в водах, отравлениях, удушьям.</i></b>
          </p>
        </div>

        <p>В соответствии с давней традицией Сатурн (древнегреческий Кронос), принадлежащий к древнейшим античным богам,
          изображен
          пожилым. Его триумфальную колесницу влекут драконы, потому что этот бог ассоциировался со временем и, более
          того, с
          вечностью, а кусающий свой хвост змей или дракон (Уроборос) был <span class="tippy" data-tippy-content
            data-src="/img/series/harmen-muller/07/tooltips/1.jpg"><b>символом</b></span> бесконечности и соответственно
          атрибутом
          Сатурна. Здесь это просто довольно натуроподобно изображенные драконы, но в более ранних изводах темы
          (соответствующей
          гравюре Бальдини, например) они на ходу кусают себя за хвост. Совсем не случайно эта планета управляет
          Козерогом и
          Водолеем, то есть знаками зодиака, которыми год заканчивается и начинается, то есть как бы закольцовывается
          (их можно
          видеть в левом и правом верхних углах). Наконец, вслед за Георгом Пенцем здесь введен мотив поедания Сатурном
          (всепожирающим Временем) своих детей: один ребенок уже схвачен безжалостным отцом, а другой ждет на облучке
          своей
          очереди, в отчаянии охватив голову. Коса в руке Сатурна/Времени тоже связана с его нацеленностью на
          уничтожение, но
          может быть объяснена и подробностями биографии (в итоге его оскопил один из сыновей – Юпитер/Зевс), и тем, что
          этот бог
          был покровителем сельского хозяйства: так, вдали можно видеть идущего за плугом крестьянина и сцену молотьбы,
          а чуть
          правее центра на переднем плане режут свиней. Еще и у Пенца, и у Хемскерка изображен колодец: поскольку Сатурн
          божество,
          скорее, хтоническое, то здесь можно усмотреть своеобразный намек на сообщение с подземным миром.</p>

        <p>Другие особенности и занятия рожденных в январе и феврале также представлены в нижней части композиции,
          подтверждая
          плохую репутацию этой планеты: увечных и нищих кормят монахи, тоже причисляемые к детям Сатурна, преступники
          сидят в
          темнице или вовсе уже отмучились на виселице. Узника в колодках справа внизу утешает какое-то духовное лицо в
          непростом
          головном уборе, необычна и шапка (словно с двумя крылышками) человека с посохом внизу левее центра: не
          исключено, что
          это <span class="tippy" data-tippy-content
            data-src="/img/series/harmen-muller/07/tooltips/2.jpg"><b>иудеи</b></span>, в XVI в. нередко попадавшие в
          ряды детей Сатурна (у того же Пенца узника наставляет явный еврей – с
          круглым
          отличительным знаком на груди). В связи с этим можно вспомнить и то, что день Сатурна – священная для иудеев
          суббота, и
          даже мотив поедания им младенцев, как ни печальна столь одиозная тенденциозность, мог осмыслять в
          антисемитском ключе.</p>
      </div>
  </section>
</main>

{% endblock %}
