---
id: 5
title: Марс - Пятая гравюра серии
description: Description index
---
{% extends "layouts/_layout.html" %}


{% block content %}

<main class="page__content">
  <section class="textpage">
    <div class="textpage__wrapper">
      <div class="textpage__article">
        <h1>Марс
          <span>Пятая гравюра серии</span>
        </h1>
        <p>
          <a data-fancybox="" data-caption="" href="/img/series/harmen-muller/{{id}}.jpg">
            <img src="/img/series/harmen-muller/{{ id }}-thumb.jpg" alt="">
          </a>
        </p>
        <div class="textpage__head-text">
          <p>Латинская надпись на нижнем поле: <br>
            <b><i>Марс делает могучими, воинственными, хитрыми, сильными, безрассудными, свирепыми, безумными,
                необузданными, бросающимися
                из-за случайной причины в опасности, быстрыми, возбужденными, расточительными, гневными,
                властными.</i></b>
          </p>
        </div>

        <p>Как и положено, мужественный, порой даже агрессивный Марс представлен воином, в доспехах и с оружием. Вопреки
          устоявшейся традиции, и у Пенца и у Хемскерка его колесницу везут не кони (как у Баччо <span class="tippy"
                data-tippy-content data-src="/img/series/harmen-muller/other/img003.jpg"><b>Бальдини</b></span>,
          например), а
          волки.
          Впрочем, животными Марса считались и те и другие. Волк - в силу своей хищной природы, а также, вероятно, в
          память о
          капитолийской волчице, выкормившей детей Марса – Ромула и
          Рема. Считается, что гравюра Пенца содержит
          недвусмысленные
          намеки на подавление крестьянского восстания 1524-1525 гг. войсками Карла V: дети Марса на переднем плане
          изображены как
          ландскнехты. У Хемскерка воины одеты иначе, но зато на колеснице Марса можно увидеть <span class="tippy"
                data-tippy-content data-src="/img/series/harmen-muller/05/tooltips/1.jpg"><b>знамя с двуглавым орлом
              Габсбургов</b></span>.</p>

        <p>Сцены с детьми варьируются минимально и из гравюры в гравюру кочуют: угоняемый скот, столкновения крестьян и
          воинов
          (персонажи с копьем, лопатой, вилами), полыхающий город, насилие над женщиной, которому пытается помешать
          отнюдь не
          воин, иногда (не в случае гравюры Мюллера) прочь бегут несчастные дети. Кроме того, в композицию Хемскерка
          добавлен еще
          один символ порожденного войной опустошения – мертвое дерево, фланкирующее сцены бесчинств слева.</p>

        <div class="textpage__nav-links">
          <a href="/about.html"><svg width="148" height="18" viewBox="0 0 148 18" fill="none"
                 xmlns="http://www.w3.org/2000/svg">
              <path d="M0 9L15 17.6603V0.339746L0 9ZM13.5 10.5H147.003V7.5H13.5V10.5Z" fill="#A28C62" />
            </svg> Вернуться назад</a>
          <a href="/series/harmen-muller/06/index.html"><svg width="148" height="18" viewBox="0 0 148 18" fill="none"
                 xmlns="http://www.w3.org/2000/svg">
              <path d="M147.003 9L132.003 0.339746V17.6603L147.003 9ZM0 10.5H133.503V7.5H0L0 10.5Z" fill="#A28C62" />
            </svg> Следующая гравюра <br> (или другой текст)</a>
        </div>
      </div>
  </section>
</main>

{% endblock %}
