---
title: История крашения
description: Description index
---
{% set iframepopup = true %}
{% extends "layouts/_layout.html" %}


{% block content %}

<main class="page__content">
  <section class="textpage">
    <div class="textpage__wrapper">
      <div class="textpage__article">
        <h1>Марс
          <span>Пятая гравюра серии</span>
        </h1>
        <div class="textpage__head-text">
          <p>Латинская надпись на нижнем поле: <br>
            <b><i>Марс делает могучими, воинственными, хитрыми, сильными, безрассудными, свирепыми, безумными,
                необузданными, бросающимися
                из-за случайной причины в опасности, быстрыми, возбужденными, расточительными, гневными,
                властными.</i></b>
          </p>
        </div>

        <p>Как и положено, мужественный, порой даже агрессивный Марс представлен воином, в доспехах и с оружием. Вопреки
          устоявшейся традиции, и у Пенца и у Хемскерка его колесницу везут не кони (как у Баччо Бальдини, например), а
          волки.
          Впрочем, животными Марса считались и те и другие. Волк - в силу своей хищной природы, а также, вероятно, в
          память о
          капитолийской волчице, <span class="tippy" data-tippy-content
            data-src="/img/series/harmen-muller/05/tooltips/1.jpg"><b>выкормившей</b></span> детей Марса – Ромула и
          Рема. Считается, что гравюра Пенца содержит
          недвусмысленные
          намеки на подавление крестьянского восстания 1524-1525 гг. войсками Карла V: дети Марса на переднем плане
          изображены как
          ландскнехты. У Хемскерка воины одеты иначе, но зато на колеснице Марса можно увидеть знамя с двуглавым орлом
          Габсбургов.</p>

        <p>Сцены с детьми варьируются минимально и из гравюры в гравюру кочуют: угоняемый скот, столкновения крестьян и
          воинов
          (персонажи с копьем, лопатой, вилами), полыхающий город, насилие над женщиной, которому пытается помешать
          отнюдь не
          воин, иногда (не в случае гравюры Мюллера) прочь бегут несчастные дети. Кроме того, в композицию Хемскерка
          добавлен еще
          один символ порожденного войной опустошения – мертвое дерево, фланкирующее сцены бесчинств слева.</p>
      </div>
  </section>
</main>

{% endblock %}
